[2020-01-06 12:06] SSvilen commented on #440
I'm ignoring everything older than 30.10.2019, because gitversion could not properly detect and iterate the version. I'll check tonight if there are any commits in the last two months with some of the keywords for bumping the major version.

[2020-01-11 09:37] SSvilen commented on #440
Hi @johlju @gaelcolas ,

I need help here. The Azure pipelines are failing with
[code]

The module works locally on my laptop with PS 7 and WSL with PS 6. I don#t understand what the problem with Azure is.
Thats my [branch](https://github.com/SSvilen/xExchange/tree/add-new-ci).

[2020-01-11 10:13] johlju commented on #440
I trying running your branch now.

@mhendric  I have updated the tags in this repo (dependency for gitversion to work). Make sure to delete any tags `*-PSGallery` from your **local repos** and **from your fork**. Only tags named `vX.Y.Z` should be left.

[2020-01-11 10:25] johlju commented on #440
@SSvilen What error are you getting? For me it fails on gitversion and it is due to that it cannot parse the date added to gitversion.yml. Same issue I got and needed to go with ignoring SHA instead.

[2020-01-11 10:41] johlju commented on #440
@SSvilen  I got it to pass gitversion by rebasing the branch `add-new-ci` against branch `dev` (it was outdated).
Then I added this to `gitversion.yml`.

[code]

[2020-01-11 10:43] johlju commented on #440
Now it is failing on
[code]

[2020-01-11 10:50] johlju commented on #440
This fails in PowerShell Core

/Users/johlju/source/xExchange [add-new-ci ≡ +0 ~1 -0 !]> Test-ModuleManifest ./source/xExchange.psd1
Test-ModuleManifest : The module manifest '/Users/johlju/source/xExchange/source/Modules/xExchangeHelper/xExchangeHelper.psd1' could not be processed because it is not a valid PowerShell module manifest file. Remove the elements that are not permitted: At /Users/johl

[2020-01-11 11:04] johlju commented on #440
Passes build step with those changes https://dev.azure.com/viscalyx/xExchange/_build/results?buildId=268&view=results

[2020-01-11 11:14] johlju commented on #440
@SSvilen Check the other module manifests as well, the have the same issue.

[2020-01-11 11:37] SSvilen commented on #440
Hi @johlju,

Thanks a lot. Funny, I’m not passing even the first step. I’ll try again tonight.

[2020-01-11 11:40] SSvilen commented on #440
I did Test-Modulemanifest on every module this morning inside ubuntu. They were all passing 😳

[2020-01-11 11:43] johlju commented on #440
Maybe you are on a locale that reads UTF16-LE correctly? 🤔

[2020-01-11 15:45] SSvilen commented on #440
Hi @johlju ,

Changing the helper modules psd1 files to UTF8 did the job.. Thank you!
I did not get any gitversion problems, since I added ignore on everything before end of October.
  commits-before: 2019-10-23T00:00:00

Let's see now if all tests pass.

[2020-01-11 16:56] johlju commented on #440
It is good it it works. For reference, if gitversion step fails with this error then it is date conversion issues. https://dev.azure.com/viscalyx/xExchange/_build/results?buildId=265&view=logs&j=106e58e8-a59e-5cbd-0716-376180231163&t=cc899c23-0acc-5cd0-5295-95cfdd0edd43&l=293

[2020-01-13 09:33] SSvilen commented on #440
Hi @johlju ,

Me again. :) Looks like HQRM tests are testing the files in Examples folder. Can we turn that off somehow? I tried that in the build.yaml, but did not work:
  ExcludeSourceFile:
    - output
    - Examples

[2020-01-13 10:47] johlju commented on #440
No worries, just ask away :) You can opt-out from the specific tests. There should already one test opt-out by default under the `DscTag:`, just add the test description there (the one in the Describe-block) or you could exclude a tag if that is simpler/possible.

[2020-01-27 15:47] #440 closed

[2020-01-28 17:27] mhendric commented on #440
@johlju , I *think* all the steps in https://dsccommunity.org/blog/convert-a-module-for-continuous-delivery/ have been completed. Any chance you can give this repo a once over and make sure we didn't mess anything up? Thanks.

[2020-01-28 17:28] johlju commented on #440
Sure. Can do that tomorrow. Working on xSystemSecurity today :)

[2020-01-29 18:39] johlju commented on #440
Looks good to me. Sent in a PR to update the pipeline files to the latest.

[2020-02-26 03:11] arielmoisis commented on #257
Hi I think this one is closed with PR #439

[2020-02-26 03:13] arielmoisis commented on #254
Hi
 I think this should be closed with the PR #415

[2020-02-26 16:30] mhendric commented on #257
Indeed it is. Thanks!

[2020-02-26 16:30] #257 closed

[2020-02-26 16:32] mhendric commented on #254
You are correct. Thanks for following up on this.

[2020-02-26 16:32] #254 closed

[2020-03-17 14:13] SSvilen opened #446 "A lot of implicit remoting modules created under C:\windows\temp"
Hi,

I noticed that on our Exchange servers during every DSC monitor check a bunch of implicit remoting modules are geting created under C:\windows\temp and after a couple of week they filling up the drive.
Is this a normal behavior?

[2020-03-17 15:05] mhendric commented on #446
Hey @SSvilen , I don't think I've noticed this myself for xExchange, but it sounds plausible. Does the same thing happen if you open the Exchange Management Shell, or do a Remote PowerShell session to Exchange? If yes, I would expect that this is just a downstream side effect, since xExchange essentially creates a Remote Session to Exchange the same way the Exchange Management Shell does.

[2020-03-17 15:42] SSvilen commented on #446
hi @mhendric , the dsc module  seems to be creating those for every configuration I have. PS creates all implicit remoting module under $env:Temp, which for system account is C:\windows\temp.

The problem seems to connected to this line:
https://github.com/dsccommunity/xExchange/blob/078fd0883cf2f5560513bd3a4ee0187aee32182a/source/Modules/xExchangeHelper/xExchangeHelper.psm1#L194

For every ressou

[2020-03-18 16:45] mhendric commented on #446
Hey @SSvilen , I wanted to provide some history on the functions in xExchange for doing a remote session to Exchange. The connect functions actually were originally pulled (largely unchanged) from RemoteExchange.ps1, ConnectFunctions.ps1, and CommonConnectFunctions.ps1 in the Exchange on-prem binaries. I'd have to rack my brain and email from year 2013 to remember why I didn't just call RemoteExch

[2020-03-19 17:34] SSvilen commented on #446
Hi @mhendric , that's fine. I do not want to mess around with such a basic functionality either, that's why I propose saving a module unter $env:Temp or $env:Appdata (just like the RemoteExchange.ps1).

[2020-03-28 20:03] SSvilen commented on #446
Hi @mhendric - I'll open a PR for this next week, when I'm back at work, I believe saving a module under $env:Temp would be the best option.

[2020-03-31 14:40] jrdbarnes opened #447 "xExchOABVirtualDirectory Large numbers of Offline Address Books cause scaling issue"
When using xExchOABVirtualDirectory with large numbers of offline address books, this resource takes a very long time to test.

For example we have approximately 65 thousand OABs  and in testing with Invoke-DscResource, this resource took 2321 seconds to complete.

This was using a relatively simple configuration:

[code]

I think the issue exists here:
https://github.com/dsccommunity/xExchange/bl

[2020-03-31 16:42] mhendric commented on #447
Hi @jrdbarnes , thanks for the submission. I agree, the += on the array could definitely cause perf issues if a large number of OAB's are returned by Get-OfflineAddressBook. That said, are you sure that's actually where the delay is? Might be worthwhile adding some custom Write-Verbose logging with time stamps throughout that code section to confirm where the delay is. Given your sample config, I

[2020-04-20 10:16] Fabien59110 opened #449 "MSFT_xExchMailboxDatabase v1.31.0 Problem on Set-TargetResource"
#### Details of the scenario you tried and the problem that is occurring
When I try to change some settings on the Exchange Database with the Resource MSFT_xExchMailboxDatabase, I have an error.

**################### Error  ####################**
PowerShell Desired State Configuration does not support execution of commands in an interactive mode. Please ensure that the underlying command in not p

[2020-04-20 21:28] mhendric commented on #449
Hi @zazarpika , thanks for the report. Looks like this specific line of code changed in the following PR. @SSvilen , do you recall if you specifically changed this to use Name instead of Identify for a reason? If we really do need Name instead of Identity for some reason, an alternate fix for this would be to swap the order of the Add-ToPSBoundParametersFromHashtable and Remove-FromPSBoundParamete

[2020-04-21 20:39] SSvilen commented on #449
Hi @mhendric ,

that looks like copy-paste error or something. I've fixed that and also the integration tests. I'll open a PR as soon as the unit testing is complete.

[2020-04-27 20:07] acstyche opened #451 "xExchMailboxDatabase [1.31.0]: All Parameters Have Type Errors"
#### Details of the scenario you tried and the problem that is occurring

I am probably missing something easy but it seems that all parameters of xExchMailboxDatabase return type errors. All other resources are working fine. For example:

If we comment out boolean parameters, we see the same for TimeSpan:

If we comment out TimeSpan parameters, we see the same but referring to a string.

#### Ver

[2020-04-27 22:35] mhendric commented on #451
Thanks for the report @acstyche . Tagging @SSvilen for awareness since he's done recent work in the affected area. Looks like this may be due to the change in how the Remote Exchange Session is created, or one of the recent changes in xExchMailboxDatabase.

[2020-04-28 07:09] SSvilen commented on #451
Hi @mhendric,

actually all of my changes in the last month or so are getting released as preview. 1.32.0-preview004 is the latest. I think you should set a tag in the git commit, in order to do an official 'release'. So this bug refers to version 1.31.0, which is the version we released after moving to Azure DevOps.

[2020-04-28 12:09] acstyche commented on #451
Hi @mhendric and @SSvilen,
Please let me know if I can provide any additional information or try anything out to help.

[2020-04-29 07:25] SSvilen commented on #451
@acstyche ,

can you try with 1.32.0-preview004 version?

[2020-04-29 07:29] SSvilen commented on #449
That bug is resolved with PR #450.

[2020-04-29 13:13] acstyche commented on #451
Hi @SSvilen,
Yeah, we can try that. Will take a bit to get this set up in our test environment but will let you know how it goes.

[2020-04-29 14:16] SSvilen commented on #451
thanks @acstyche. I'll try it tonight in my home lab too (althought I have do)

[2020-04-29 15:57] mhendric commented on #449
Resolved in #450

[2020-04-29 15:57] #449 closed

[2020-04-29 21:49] SSvilen commented on #451
That definitely has to do with version 1.31 - the Get-MailboxDatabaseInternal has a bug and it gives back all databases - that's why it#s complaining that it can not covert an array (System.Object[]) to Bool or timespan or whatever.
@mhendric - do you think we can now release version 1.32?

[2020-04-30 12:07] acstyche commented on #451
Thanks a lot for the update @SSvilen! We have added the preview version to our ProGet (which brought up some PowerShellGet versioning issues and will need some environment tweaks). Will hopefully be able to test today and let you know how it goes.

[2020-04-30 17:44] acstyche commented on #451
@SSvilen, yes, 1.3.2 worked for xExchMailboxDatabase!

However, was something changed with xExchSendConnector? It was working fine but is now throwing an error  on set:

Saying "The object...already exists." Shouldn't the test have detected this?

[2020-04-30 21:05] mhendric commented on #451
@SSvilen , to be honest, I'm not sure what the release cadence for official releases is supposed to be any more. I don't see an issue, other than that if the latest build has a major bug in xExchSendConnector, we may want to resolve that first. Adding @johlju and @gaelcolas for insight on when/how to do a new release.

[2020-04-30 21:25] johlju commented on #451
@mhendric you as a maintainer decide when to release a full version. The pipeline now uses continuous delivery so every merge to master will release a new preview version. To release a full release a tag should be pushed, see the Release section in the maintainer guidelines https://dsccommunity.org/guidelines/maintaining/

[2020-05-01 09:23] acstyche commented on #451
Hello all,
Just as an update, we pointed back to 1.31.0 and xExchSendConnector ran successfully again.
Please let me know if you need any more information.

[2020-05-01 13:00] acstyche commented on #451
Actually, subsequent applications of xExchSendConnector fail, with a different error, in 1.31.0. Even using a previously successful deployment. But only on the first server in the deployment. The deployment succeeds on the second server, with both having the same settings.
The error is different than the one in 1.32.0-preview004. Do you want me to create a new issue or post the logs here?

[2020-05-01 15:44] SSvilen commented on #451
Hi @acstyche ,

please open another problem tracker for the send connector. But tbh I'm using send connector resource in production and never faced any problems. May be there is a problem with one of your servers?
I'll check exactly what  I have as configurations in my prod and test env and which version of xExchange I'm using.

@mhendric ,

let's wait and see if the send connector also has a prob

[2020-05-01 16:54] acstyche commented on #451
Haha...yes, given the amount of changes to the server while testing, that is actually very likely. It does work on the other servers on 1.31.0. Not on 1.32.0-preview004.
We are going to remove Exchange from that server and revert it to a base image to start again. Will open a new issue if necessary.
Thanks.

[2020-05-02 11:19] SSvilen commented on #446
Fixed by #448

[2020-05-02 11:19] #446 closed

[2020-05-02 11:20] SSvilen commented on #414
Fixed with #437

[2020-05-02 17:46] mhendric commented on #414
Indeed it was. Closing.

[2020-05-02 17:46] #414 closed

[2020-05-04 17:03] acstyche opened #452 "xExchSendConnector [1.31.0]: TlsAuthLevel Always Tests Null"
#### Details of the scenario you tried and the problem that is occurring

Our DSC always detects configuration drift because TlsAuthLevel always returns ' ' when tested.

Running Get-SendConnector on the Exchange server shows the value is set as "DomainValidation".

#### Verbose logs showing the problem

**> VERBOSE: [UK1-TST-EX01]:                            [[xExchSendConnector]Office365] Invali

[2020-05-08 07:33] SSvilen commented on #452
Hi @acstyche,

true,true...Copy-paste failure probably. PR is comming in few mins.

[2020-05-08 07:38] SSvilen commented on #451
@acstyche,

So the mailboxdatabase resource is working fine for you now? And the problem with the send connector resource is what you mentioned in #452 ? No other problems observed on your side?

@mhendric,

I'll open today 2 PRs, which contain only one-line changes and  I believe we should publish version 1.32 officially.

[2020-05-08 12:11] acstyche commented on #451
Hi @SSvilen, thanks for sorting [#452](https://github.com/dsccommunity/xExchange/issues/452).
Has the xExchSendConnectors issue in 1.32.0-preview0004 been fixed, where it doesn't detect the send connectors are already set up? I can create an issue for that too, if you want?

[2020-05-08 13:22] SSvilen commented on #451
@acstyche,

I can not reproduce the problem you are experiencing. Just created and tested new send connector. Can you show me your config?
![image](https://user-images.githubusercontent.com/10175251/81409613-b098ea00-913f-11ea-9d65-820cc099335b.png)

[2020-05-08 13:42] acstyche commented on #451
Sure:
`xExchSendConnector ProductionExchange
{
    Name = $Node.ProdSendConnector
    Ensure = "Present"
    AddressSpaces = $Node.ProdAddressSpace
    ConnectionInactivityTimeout = "00:10:00"
    ConnectorType = "Default"
    DNSRoutingEnabled = $false
    DomainSecureEnabled = $false
    Enabled = $true
    ErrorPolicies = "Default"
    ForceHELO = $false
    FrontendProxyEnabled = $false
    Ig

[2020-05-08 14:08] acstyche commented on #451
Sorry, just to add this does not happen in 1.31.0.

[2020-05-08 14:46] acstyche commented on #452
Haha...it happens! Thanks a lot @SSvilen.

[2020-05-12 16:23] #452 closed

[2020-05-12 16:25] mhendric commented on #451
Hey @SSvilen and @acstyche , all of @SSvilen 's PR's have been merged. I wanted to sync back up with you and see how you two are feeling about the stability of the module at this point. Think we're ready to push an official release?

[2020-05-12 18:58] SSvilen commented on #451
@acstyche ,

what happens when you do:
[code]
on that CA1-TST-EX01 server?

@mhendric ,

I'll git the new preview version a try tomorrow  in my test env at work and if case of problems, I'll just open a PR.

[2020-05-12 20:20] acstyche commented on #451
Hi @SSvilen, will give that a try tomorrow.
The name of the resource is in verbose, the name of the actual send connector contains our domain info, so was removed.

[2020-05-13 12:28] acstyche commented on #451
Hi @SSvilen, that returns the send connector, as expected. If you can't reproduce the issue, I'm fine with moving forward with 1.32.0. It is probably something squirrelly with our config we need to dig into. We also aren't too concerned with xExchSendConnector, xExchMailboxDatabase is much more important.
Thanks for taking a look!

[2020-05-13 15:06] SSvilen commented on #451
OK @acstyche, the other thing you can try is to debug the DSC config. [link](https://docs.microsoft.com/en-us/powershell/scripting/dsc/troubleshooting/debugresource?view=powershell-7)
That way you can see what exaclty get-targetresource returns and why the test-targetresource is failing.

@mhendric,

I've tested the new preview - the commit for xExchAddressList was not included, but otherwise ever

[2020-05-13 16:15] mhendric commented on #451
@johlju , I just created a new tag via the Release instructions in the [Maintainer Guidelines](https://dsccommunity.org/guidelines/maintaining/). Can you confirm whether everything has been done correctly for this release? Not sure if I need to manually combine the Added / Changed notes from all the previews, or if automation will handle that. Also not sure if I need to do anything for this to be

[2020-05-13 16:43] johlju commented on #451
You can follow the build here https://github.com/dsccommunity/xExchange/commits/master on the latest commit. It starts with an orange dot and then goes to a green checkmark when all the pipeline steps have ran. The pipeline will make a github release, and deploy to the gallery automatically. It will also get the correct change log entries into the releases. It will finally send a PR with the updat

[2020-05-13 16:47] johlju commented on #451
Scratch that. It runs https://dev.azure.com/dsccommunity/xExchange/_build/results?buildId=1989&view=results

[2020-05-13 16:47] johlju commented on #451
Not sure why I can't see it from the commit history on master (as mentioned above)

[2020-05-13 16:52] johlju commented on #451
Ah the previous build failed on the deploy step for that commit, that is why is shows a red x instead of the orange dot. Hopefully the deploy step will pass once the release build you triggered gets to the deploy step. Currently it is running tests.

[2020-05-13 16:56] johlju commented on #451
@mhendric all good! It was released successfully, you did it perfectly.

https://dev.azure.com/dsccommunity/xExchange/_build/results?buildId=1989&view=logs&j=5d0a9c4e-8741-5118-af45-406a30fe661c&t=bda0b158-a237-516f-c1d0-31339587c5b5

https://www.powershellgallery.com/packages/xExchange/1.32.0

[2020-05-13 16:58] mhendric commented on #451
Thanks @johlju ! The steps to do a Release felt almost too simple. I thought I had to be missing something :)

[2020-05-13 16:59] johlju commented on #451
It is very simple and fast to release now! 😄

[2020-05-14 18:04] acstyche commented on #451
Thanks a lot all! Hoping to test the release today or tomorrow.

[2020-05-15 15:48] acstyche commented on #451
All looks good, thanks a lot for getting this sorted.

[2020-05-15 15:48] #451 closed

[2020-05-27 15:19] acstyche opened #457 "xExchReceiveConnector [1.32.0]: Get-ReceiveConnector Not Recognized"
#### Details of the scenario you tried and the problem that is occurring

DSC fails on xExchReceiveConnector, saying, "The term 'Get-ReceiveConnector' is not recognized as the name of a cmdlet, function, script file, or operable program."

#### Verbose logs showing the problem

[code]

#### Suggested solution to the issue

We believe this is because 'Get-ReceiveConnector' is not present in DSCExch

[2020-06-02 17:06] mhendric commented on #457
Thanks for the report @acstyche . @SSvilen , any idea how to fix this?

[2020-06-03 15:15] SSvilen commented on #457
Huh..It's loading the Get-PowerShellVirtualDirectory cmdlet for some reason... I don't see where would that come from.. That cmdldet is only defined xExchPowerSehllVirtualDirectory. @acstyche  Can you check the MSFT_xExchReceiveConnector.psm1 file - may be something is wrong with your test server?

[2020-06-03 18:09] SSvilen commented on #457
I'm not able to reproduce the problem. Funny thing is, that it say 'Removing the  imported "Get-PowerShellVirtualDirectory" function', then it goes and tries to load the module, but without importing the commands. Example:

[code]
That's from my lab (executing the integration tests).
I've updated also my company test env and did not see any problems.
Does this happen on every server? And on every

[2020-06-04 16:04] acstyche commented on #457
Hi @SSvilen,

Thanks for looking into this and confirming you cannot replicate.

Yes, we see the same error on all servers and every invocation.

The 'Removing the imported "Get-PowerShellVirtualDirectory" function' line is because it was loaded in the previous resource. Doesn't each xExchange module load only the commands necessary for the resource, like Get-ReceiveConnector and Get-ADPermission

[2020-06-04 20:04] acstyche commented on #457
@SSvilen, sorry, I think it is, in fact, the switch in build management. I ran the configs successfully outside the pipeline. I was like, "I didn't change anything except module version."
Will keep this open and update when we figure out what is wrong with the pipeline, in case it can help anyone else.

[2020-06-05 08:45] SSvilen commented on #457
@acstyche Yeah, removing the previously added command is normal, but not adding the new commands is what caught my eye. The missing get-receiveconnector command would explain that.
How that happened - I'm not sure.
The helper module basically exports an Exchange session created beforehand.

[2020-06-09 10:06] acstyche commented on #457
Hi,
We successfully built a production DAG on Saturday using this. And after running the config locally in our test environment, we cannot reproduce the issue there.
I have a feeling like this issue will pop up again but think it is down to our pipeline. If this does come back and we find a solution, will update. However, will close this for now.
Thanks a lot for taking a look.

[2020-06-09 10:06] #457 closed

[2020-09-09 17:38] kevindd992002 opened #460 "xExchOabVirtualDirectory: xExchange resources errrors after upgrading module from 1.13 to 1.32"
#### Details of the scenario you tried and the problem that is occurring
After upgrading the xExchange module on our pull server, I'm having these event viewer errors on most of the xExchange resources (not just xExchOabVirtualDirectory):

`This event indicates that a non-terminating error was thrown when DSCEngine was executing Test-TargetResource on MSFT_xExchOabVirtualDirectory DSC resource. Fu

[2020-10-14 12:15] jrdbarnes opened #461 "MSFT_xExchImapSettings,MSFT_xExchPopSettings ExternalConnectionSettings can be $null"
#### Details of the scenario you tried and the problem that is occurring
It is a valid configuration option to set ExternalConnectionSettings =$null in Set-PopSettings or Set-IMAPSettings.

The above DSC resources have ExternalConnectionSettings with explicit typing as Strings. I was able to pass empty strings, but maybe they should also be decorated with `[AllowEmptyString()]`

The Empty Strings

[2021-02-17 17:02] RenatoMorenoR opened #462 "MSFT_xExchOwaVirtualDirectory: New resource proposal: Add Property SetPhotoEnabled"
### Description
The objective is to include this property in the resource to maintain only the dependency of this one in the cookbook and not to have to create another powershell resource to only activate or deactivate that option.

### Proposed properties

SetPhotoEnabled  = [System.Boolean] $OwaVdir. SetPhotoEnabled

[Parameter()]
[System.Boolean]
$SetPhotoEnabled,

### Special considerations or

[2021-02-19 15:42] mhincapie commented on #462
We are interested in this one also @mhendric  and @johlju.  Was wondering if we can also contribute to this one.

[2021-02-19 15:47] RenatoMorenoR commented on #462
I am working on it

[2021-03-01 13:55] RenatoMorenoR commented on #462
Hi @SSvilen, @mhendric, @johlju I made this PR to validate the option to add a new property to a resource, but every time I want to test the code, either locally or in azure, it results in errors.
At one point I thought it was the code added, but then I commented all the code and just left the changes in the Changelog and I get the same errors.
Can someone help me to identify the error?

Thank you

[2021-03-01 15:36] johlju commented on #462
@RenatoMorenoR thanks for reaching out! This project have not been updated to pin the version of Pester to use. Pester 5 was released and is a breaking change, so we need to pin `4.10.1`, in this row change to `latest` to `4.10.1`:

https://github.com/dsccommunity/xExchange/blob/3277f2aa8a4a7472fc8610507deecfec54413b29/RequiredModules.psd1#L14

[2021-03-01 15:38] RenatoMorenoR commented on #462
thanks @johlju I try with that 👍

[2021-03-01 15:38] johlju commented on #462
After that, remove the `output/RequiredModules/Pester` folder and run `.\build.ps1 -ResolveDependency -Tasks noop` to get the correct version of pester.

Also remove Pester from the session `Remove-Module Pester` or start a new session.

[2021-03-02 16:57] RenatoMorenoR commented on #462
Hi @SSvilen, @mhendric, @johlju what do you think about this little change?
What chance we have to pass into a new release?

Thanks a lot...
cc: @mhincapie

[2021-03-02 21:32] mhincapie commented on #462
Thank you @RenatoMorenoR

[2021-03-04 18:17] SSvilen commented on #462
Unfortunately @mhendric is the sole maintainer of this DSC Module. I’m not able to reach out to him either. May be @johlju can help.

[2021-03-04 18:34] johlju commented on #462
@mhendric do you have time to review this one?

[2021-03-09 18:23] mhincapie commented on #462
Thank you, @SSvilen and @johlju, for the help. We are very interested in contributing to this project.

[2021-03-09 18:24] truonart commented on #462
This would be a really nice addition to the repo

[2021-03-10 08:41] SSvilen commented on #462
I also have a PR since Fall last year, but unfortunatelly @mhendric  is not responsing. @johlju may be you can use some internal MS connections to check on him. I hope that everything is fine and he is just  super busy with work.

[2021-03-10 16:31] johlju commented on #462
I'm not working with MS any longer, but I can see if I can reach out. Can I suggest a "workaround"? 🙂  I'm not too familiar with Exchange stuff so if you who commented on this PR do a functionality review for PR's needing review (like @RenatoMorenoR's and @SSvilen's PR), I can do the style review and then I can merge.
I think it is possible to run integration tests locally in a lab, but haven't do

[2021-03-14 18:53] SSvilen commented on #462
I can review this PR and someone else can review mine.
My Exchange Lab is no longer functioning, but I can do some testing (may be next week).

[2021-03-15 20:19] mhendric commented on #462
Hey @SSvilen . Sorry for not responding on this one. I unfortunately haven't been doing any on-prem work since starting a new job a little over a year ago. I no longer have an on-prem Exchange lab to test in either. If there's any specific questions I can answer to help unblock this, please let me know. But I don't imagine I will have the time or resources to maintain this (or other DSC modules) a

[2021-03-17 21:55] mhincapie commented on #462
@SSvilen I can review yours. We have a exchange lab we have test it.

[2021-03-18 14:23] RenatoMorenoR commented on #462
Hi @SSvilen, I can help too.

You let me know and I will be happy to support this project.

[2021-03-18 18:03] mhendric commented on #462
Hey @SSvilen , @mhincapie , and @RenatoMorenoR , as @johlju mentioned above, any of you should be able to run the Integration tests that are part of the module within your labs. The key requirements are that you have 1 DC, and 2 Exchange Servers that are cluster ready. Invoking the integration tests should prompt you for key details that allow the tests to run. I'd recommend that at least someone

[2021-04-01 12:48] fruitysfajs opened #464 "xExchange: Exchange Modules error - all exchange specific resources error: i.e. 'Get-DatabaseAvailabilityGroup' not recognized as the name of a cmdlet, function, script file"
#### Details of the scenario you tried and the problem that is occurring
Install Exchange 2016 -> works
Configure DAG -> not working
Configure DAGNetwork -> not working
Configure Exchange license -> not working

#### Verbose logs showing the problem
--- snip ---
VERBOSE: [DEV2CHHST-EMH31]:                            [[xExchDatabaseAvailabilityGroup]DAG] Entering function
'Test-TargetResource'. Not

[2021-04-20 20:38] RenatoMorenoR commented on #462
Hi @mhendric, @SSvilen, @mhincapie, @johlju we have one environment with 3 exchange server 2016 - CU20 and 2 DC.
I runes the tests and every pass without a problem.
What more we need for contribution or Maintaining the code?

The only thing we changed, are the version for the Sampler module to "0.109.1", the last one break the test

Thanks!!

<img width="878" alt="test_lab" src="https://user-image

[2021-04-22 17:39] johlju commented on #462
@RenatoMorenoR running `./build.ps1 -task test` runs only the unit tests. Running the integration tests must be done manually as the make changes in the environment and should run **in a lab that can be rebuilt/destroyed** for each test run (like revert to snapshots).

I have not run the integration tests for this module but the should either be started with:
[code]

or

[code]

[2021-04-22 17:42] johlju commented on #462
Remember that integration tests do actual changes in the environment they are run! Unit tests just mock the changes., so they are safer to run in a dev environment.

[2021-04-22 18:44] RenatoMorenoR commented on #462
Thanks @johlju, we try to resolve that, first we created the environment and now we are working to run the integration test without lost everything.

I let you know the advance

[2021-05-18 21:28] RenatoMorenoR commented on #462
Hi @johlju, @SSvilen, @mhendric we have been working with different environments but we always have the same result when trying to do the integration tests.
This environment is created in AWS with the exchange template that has 2 exchange nodes in high availability, 1 dc, 1 fileserver, etc..
Can anyone help us to identify what we are missing?

<img width="856" alt="Screen Shot 2021-05-18 at 17 18

[2021-05-21 16:58] SSvilen commented on #462
@RenatoMorenoR I'll take a loon on Wednesday, when I'm back in the office.
Unfortunately, I'm about to do a career switch, so Exchange will not longer be something I'll work with.
Although I would like to help, I'll not have the time to support that PS DSC Module.

[2021-05-27 16:43] SSvilen commented on #462
@RenatoMorenoR

Here is what I found:
### MSFT_xExchDatabaseAvailabilityGroup.Integration.Tests.ps1
[code]
   You need to precreate the coumputer account "DAG" for the test to pass.  Get-ADComputer is a very unfortunate command, probably it makes sense to replace it with get-adobject.

### MSFT_xExchExchangeServer.Integration.Tests.ps1

[code]
Looks like InternetWebProxy is set for your test serve

[2021-05-27 21:11] RenatoMorenoR commented on #462
Hi @SSvilen will try to following all step you mention, and let you know we change the dependency for older version and make sure all of then are from the same date for resolve some issues and we get the same result.
[code]
But thanks a lot for your time on this.

[2021-07-06 20:48] RenatoMorenoR commented on #462
Hi @SSvilen @mhendric @johlju I need your help, I have already managed to run almost all the integration tests, but when the system tries to modify the properties of the created database, no change is made and that is why all the tests fail.

What configuration did you handle in the DAG? is there any configuration needed in the environment to take those changes?

I am asking for your help as I hav

[2021-07-07 20:42] RenatoMorenoR commented on #462
Hi @SSvilen  @mhendric @johlju I need your help, I have solved the problem with the database, the problem was with a module in the DAG test had an incorrect location, I have changed the location and it was solved, but when the DAG test tries to add a new one this error is presented

[code]

[code]

Thanks
RM

[2021-07-11 18:06] SSvilen commented on #462
Hello @RenatoMorenoR ,

replace DAGName with just 'Name' and try again.

[code]

[2021-07-12 15:05] RenatoMorenoR commented on #462
Thank you very much, I will try that

[2021-07-20 20:44] RenatoMorenoR commented on #462
Hi @SSvilen, @johlju , @mhendric I attached the print screen and result.
This tacked more time that we spect, because only give two days to work on this for week, but now with all working I can help with the contributions.

I have all working and I help when you need it
<img width="1008" alt="Screen Shot 2021-07-20 at 16 36 11" src="https://user-images.githubusercontent.com/43388795/126392484-f8d9

[2021-07-21 13:18] SSvilen commented on #462
well if the checks are all successful, then @mhendric  or @johlju can merge your branch.
Then I can integrate also the my outstanding PRs.

[2021-07-27 18:28] RenatoMorenoR commented on #462
Hi @mhendric, @johlju I would really like to help in the contributions, if you can tell me what is needed to support let me know and I can work on it, I use this module a lot and there are several things I would like to include. :)

Thanks a lot.
RM

[2021-07-29 19:44] mhincapie commented on #462
@johlju was wondering if you needed anything else to merge? Please let us know as this is something we all would like to utilize. thank you for all this work @RenatoMorenoR

[2021-09-26 17:52] mhincapie commented on #462
@johlju sorry to bother you, was wondering if there was anything we should do to merge this proposed change?. We have a few additional we would like to make also moving forward especially with the new security improvements that Microsoft is making in the new CU's.

ref: https://techcommunity.microsoft.com/t5/exchange-team-blog/new-security-feature-in-september-2021-cumulative-update-for/ba-p/27831

[2021-09-26 18:07] johlju commented on #462
I will try to get some time to look at the PR.

The trouble is that I won’t have time to run integration tests for this module, but maybe someone have already run the integration tests in a local lab environment that confirms the the proposed change works?

[2021-09-26 21:20] mhincapie commented on #462
Thank you @johlju they have been tested.

[2021-09-27 16:59] #462 closed

[2021-09-28 06:30] johlju opened #465 "xExchange: Rename default branch to main"
As per [this statement](https://sfconservancy.org/news/2020/jun/23/gitbranchname/).

Follow this guide https://dsccommunity.org/blog/convert-master-to-main/

[2021-09-28 06:32] johlju opened #466 "xExchange: Update the repository to use latest pipeline files"
Currently the release pipeline is broken.

[2021-09-28 06:41] johlju opened #467 "Add steps for running integration tests to CONTRIBUTING.md"
We should add the steps needed to run the integration tests to the CONTRIBUTING.md so that it is easier for contributors to run and write integration tests.

[2021-09-28 06:41] johlju commented on #462
Since it seems you in this thread have run the integration tests... Does anyone have the steps written down? It would be awesome to have those added to the CONTRIBUTING.md - they don't need to be perfect, but something that the community can enhance on. I created issue https://github.com/dsccommunity/xExchange/issues/467 to track it.

[2021-09-28 12:55] RenatoMorenoR commented on #467
Yes I used this one:

Then, after the mailbox server are create we need to run this command on Powershell:

FileServer

<pre>
1.- Install this feature: Install-WindowsFeature Failover-Clustering
2.- Add "Exchange Trusted Subsystem" account into "Administrator group"
3.- Create directory "C:\Witness" and shared for everyone with full access
4.- Reboot the server

</pre>

Mailbox Servers (MAIL1, MAI

[2021-09-28 14:41] mhincapie commented on #467
I can help with this @johlju

[2021-09-28 16:10] johlju commented on #467
@RenatoMorenoR great, thank you. @mhincapie thank you, looking forward to a PR!

[2021-09-28 16:12] johlju commented on #465
I'm working on this one.

[2021-09-28 16:12] johlju commented on #466
I will fix this at the same time as issue #465.

[2021-09-28 19:20] mhincapie commented on #467
@johlju, thank you so much for the help. Would you mind reviewing the initial PR? Feel free to make any suggestions.

[2021-09-28 19:30] RenatoMorenoR commented on #467
@mhincapie, this looks awesome, thanks for removing the unnecessary steps and focusing only on the tests, the other steps are part of my documentation 😄 .

[2021-09-29 14:49] #465 closed

[2021-09-30 15:22] johlju opened #472 "xExchange: Should not exclude localization HQRM test"
We should make sure to be able to remove this row and still run the HQRM test.

https://github.com/dsccommunity/xExchange/blob/d7d453fba3396d81b68097d16ee1cda42435c4eb/build.yaml#L58

[2021-09-30 15:23] johlju opened #473 "xExchange: Should not exclude examples HQRM test"
We should make sure to be able to remove this row and still run the HQRM test.

https://github.com/dsccommunity/xExchange/blob/d7d453fba3396d81b68097d16ee1cda42435c4eb/build.yaml#L59

[2021-10-02 09:25] johlju commented on #467
I think the steps that @RenatoMorenoR wrote down will help contributors to setup the environment to be able to run the tests, so I think those should be added to the PR #468 as well. They can be extended to have more detailed steps in the future if there is a need.

What do you think?

[2021-10-03 10:53] mhincapie commented on #467
@johlju , That seems like a good idea. I will be working on it and hopefully, in the future, we can mature it a bit more.

[2021-10-03 12:18] johlju commented on #424
Seems that xExchInstall should be update to support more functionality. If there is a need for an exclusive xExchUpdate then please elaborate why xExchInstall is not sufficient.

[2021-10-03 12:21] johlju commented on #425
This would be the preferred way to install prerequisites when the main Exchange `setup.exe` does not support downloading them from an external source and then install them.

We should add the configuration in previous comment as an example in the module.

[2021-10-03 12:22] johlju commented on #424
See issue #425 in regards of the prerequisites.

[2021-10-03 12:48] johlju commented on #460
I think this issue need more verbose logs from the output when running the resource. Since there are integration tests for this module this seems to not happen for the integration test which could indicate the environment that generate this error have son other setup that we are not testing.

[2021-10-03 12:54] johlju commented on #464
It seems the Exchange PowerShell module is not found by the resources. Was it installed. Was there a reboot between Exchange install and trying to configure Exchange server? 🤔

[2021-10-03 18:19] mhincapie commented on #467
@johlju , have modified the changes per your suggestion. Let me know what you think.

[2021-10-04 18:31] #467 closed

[2021-10-10 18:11] johlju commented on #425
A new example that shows how to install prerequisites. It could be extended to existing example here https://github.com/dsccommunity/xExchange/blob/main/source/Examples/InstallExchange/InstallExchange.ps1

_We should really have the correct folder structure for examples as well, but that can be fixed later._

[2021-10-22 01:59] ranabanerjee15 opened #476 "xExchAcceptedDomain: Errors while adding accepted domains"
### Problem description

Hello Team,

First, I want to say, wonderful module. this has helped me a lot to automate deployments of Exchange 2019. now coming to the issue, I get the following error while deploying Exchange 2019 Accepted domain resources.

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solution

none yet

### Operating system the target node is running

[code]

[2021-10-31 09:04] johlju commented on #464
This sounds like an intermittent problem.

@ilativ is the problem that it creates the folder `DSCExchangeModule` in the temporary folder but not the module file? Would be great to know what differ from the first run (where renaming the folder) to the next run where it works.

[2021-10-31 11:46] johlju commented on #476
I have released a new version of xExchange, using that version (1.33.0) please provide more information to determine if and where there is an issue.

[2021-11-02 00:05] ranabanerjee15 commented on #476
@johlju I will try with the latest version today / tomorrow and get back to you.

[2021-11-03 15:44] mhincapie commented on #476
@ranabanerjee15 Chef is a bit different on how you apply DSC, because all the process is somewhat automated, and it's very versatile so that we can use multiple DSC modules.

We first install all prerequisites that are provided in the following link:  https://docs.microsoft.com/en-us/exchange/plan-and-deploy/prerequisites?view=exchserver-2019

We make sure that we include the xExchange DSC Module

[2021-11-05 10:10] ilativ commented on #464
@johlju the module file was created but in my case the function Get-ClientAccessServer was not present.
These are the two modules files [DSCExchangeModule File.zip](https://github.com/dsccommunity/xExchange/files/7482235/DSCExchangeModule.File.zip)

[2021-12-13 15:34] Lyutvi opened #478 "xExchAutoMoutPoint Unable to find a free volume number to use when naming the volume folder"
### Problem description

Hi everyone. I`m trying to configure databases with xExchange and i`m receiving the error: xExchAutoMoutPoint Unable to find a free volume number to use when naming the volume folder

### Verbose logs

[code]

### DSC configuration

[code]

### Suggested solution

I have looked into the volumes, but i`m not able to find any reason.

### Operating system the target node is

[2021-12-14 16:10] #478 closed

[2021-12-14 16:13] Lyutvi commented on #478
Found the issue. Problem was, that in the Exchange Volumes folder too many EXVOL empty folders create were. Deleted the empty folders and the script went trough.

[2022-04-21 18:29] erjenkin opened #481 "xExchangeHelper.psm1 - Export-PSSession not creating temporary directory Server 2019"
### Problem description

I found that something may have changed from an OS (Server2019) perspective that isn't allowing the following command to succeed:
 Export-PSSession -Session $Session -OutputModule $script:DSCExchangeModulePath

When attempting to use the config on a newly deployed exchange server an error regarding -OutModule would be displayed

<img width="951" alt="image" src="https://us

[2022-05-03 07:13] HironariYo commented on #481
This happens also on Windows 2016 with Exchange 2016.

[2022-06-05 14:30] johlju opened #484 "Rename module and resource, removing 'x'"

[2022-07-25 14:08] #481 closed

[2022-08-31 11:01] mhincapie commented on #484
@johlju I am willing to help with this. Was wondering if there are any references to make this change.   Is it just changing the resource's name with all the information that references Exchange?  Let me know. will get a PR started so we can have a discussion on it.

[2022-08-31 12:51] johlju commented on #484
Awesome! All files, folders and code that has `x<ResourceName>` or `x<ModuleName>` should have the 'x' removed.

I put together a gist (haven't have time to create a blog article): https://gist.github.com/johlju/1d812a8ebcf3b10782d9ad32ad76a8af

It is always a good step to first make sure the repository is using the latest Sampler files (build & test pipeline files). But can be a bit tricky since

[2022-08-31 12:54] johlju commented on #484
New module name would be "ExchangeDsc".

[2022-09-04 09:27] johlju commented on #484
I have fixed step 1 in PR #487, wasn't much to do since it was already updated recently. 🙂  I will fix step 2-5 once the "renaming" PR (step 6) has been created.

[2022-11-14 14:05] heinejeppesen opened #488 "xExchMailboxDatabase returns error message during first run."
### Problem description

I'm trying to deploy Exchange 2019 CU12 on Server 2022 for dev environments.
Deployment is through Azure DevOps/BICEP/Azure Automation on Azure VMs.

The error comes every time the pipeline runs, deploying from scratch.
When looking at the DSC State in Azure Automation, the state becomes compliant at the second run, so almost immediately after pipeline has completed.

I ca

[2022-11-14 17:08] johlju commented on #488
Will running `Test-DscConfiguration` on a non-configured node return the error?  It sounds like a command is called in the Test-TargetResource function that return a value so the there are more than one value is returned (or an invalid value is returmed).

[2022-11-14 21:47] heinejeppesen commented on #488
Thanks!

I didn't think of trying that, so I just build a new Server 2022 manually and installed Exchange 2019 CU.
Now I get this, right after installing Exchange (it's with the 1.33.0 module, but same error)

PS C:\Deploy> C:\Deploy\Test.ps1
The PowerShell DSC resource C:\Program Files\WindowsPowerShell\Modules\xExchange\1.33.0\DscResources\MSFT_xExchMailboxDatabase returned results in a format t

[2022-11-15 13:44] heinejeppesen commented on #488
Here's the verbose logging from the failure:

VERBOSE: Perform operation 'Invoke CimMethod' with following parameters, ''methodName' = TestConfiguration,'className' = MSFT_DSCLocalConfigurationManager,'namespaceName' = root/Microsoft/Windows/DesiredStateConfiguration'.
VERBOSE: An LCM method call arrived from computer EXCH001 with user sid S-1-5-21-4141454203-2807943697-4034847775-62845.
VERBOSE:

[2022-11-15 16:20] tron2k commented on #488
I also get this error regularly. It's probably only happens on first DSC execution.
I took a closer look at this today. The problem is probably line 117 in Modules/xExchangeHelper/xExchangeHelper.psm1

Can you please test following:
In C:\Program Files\WindowsPowerShell\Modules\xExchange\1.33.0\Modules\xExchangeHelper\xExchangeHelper.psm1 change Line 117 from  **Import-RemoteExchangeModule -Sessio

[2022-11-15 18:56] tron2k commented on #488
Cool :-)
If your tests are fine, I will make a Pull Request for this bug.

[2022-11-18 13:06] heinejeppesen commented on #488
Multiple tests show success so far, so it looks like it's working. ;-)

Five successful runs and two failed control runs, without the change.

[2022-11-18 17:28] tron2k commented on #488
Perfect. I will create a pull request next week.

[2022-11-24 08:35] #488 closed