[2015-04-22 23:33] vors opened #5 "Convert Test/Test-xExchange.ps1 to pester tests"
We should convert test script to pester tests

[2015-04-23 00:19] vors opened #8 "Remove html help and put all information in README.md"

[2015-04-23 20:11] #8 closed

[2015-07-17 11:55] Happycoil opened #17 "Resource for setup.exe /AddUmLanguagePack"
While xExchInstall does run setup.exe, its Test-TargetResource can't tell if a language pack is installed, and Path is a key.

Should there be a separate resource for this setup.exe parameter?

[2015-07-17 14:45] mhendric commented on #17
Hmmm...I'm not sure I like the idea of adding a new resource just for this. What if we convert the Arguments parameter from Required to a Key. That should be a non-breaking change, since Arguments is already mandatory. We could then add some parsing of the arguments to determine what to test. If /mode:install is present, we would do the current installation checks. If /AddUmLanguagePack is present

[2015-07-20 07:47] Happycoil commented on #17
Yes, upon further reflection it's probably better to enhance xExchInstall with this functionality. The argument for a separate resource is that the /AddUmLanguagePack parameter can only be run post install and separately, but from a DRY perspective it'll do a lot of the same things, so keeping all the setup.exe stuff in one resource makes sense.

Not sure if we should test for /mode:install though

[2015-07-20 14:22] mhendric commented on #17
Looks like /AddUmLanguagePack must be run by itself, so that sounds good to me. If we see AddUmLanguagePack in the arguments, test for the UM pack, else do the normal setup checks.

[2015-07-24 13:24] Happycoil commented on #17
So, I'm working on this, but I can't agree with myself on how the following should be handled: /AddUMLanguagePack:nb-NO,de-DE is passed, but nb-NO is already installed. What should Test-TargetResource return in this case? Should we try to remove existing language packs from arguments if there are non-installed ones as well?

[2015-07-24 22:00] mhendric commented on #17
What's your plan for checking if any UM language pack is installed? Are you looking for a DLL installed somewhere (forgive my ignorance but I rarely work with UM language packs)? I'm thinking it's possible that unique files get dropped somewhere in the install directory for each pack. Maybe you can do a Get-ChildItem -Recurse dump of your Exchange program files directory before and after each lang

[2015-07-24 22:04] mhendric commented on #17
...may also want to diff the registry while you're at it in case that's a better way to check. I'd dump HKLM\Software\Microsoft\Exchange, HKLM\System\CurrentControlSet\Services (and their subkeys).

[2015-07-24 22:18] Happycoil commented on #17
Installed language packs have a registry entry (under HKLM:\Software\Microsoft\ExchangeServer(?)\LanguagePacks if I remember correctly), so finding installed ones aren't a problem. I have a function to find them, and one to parse $Arguments for which ones.

Thing is, I'm fairly certain setup.exe will fail if one of the language packs that are passed to it is already installed. Should we try to han

[2015-07-24 22:31] mhendric commented on #17
I almost think we should just let it fail. Unless we parsed the setup log (or maybe the screen output, either of which could be prone to changing), we couldn't be certain that it wasn't failing for some other reason. In this (possibly unlikely) scenario, it would probably be better for an administrator to manually inspect the log and make a decision of what to do next.

Alternately if you detect t

[2015-08-11 14:45] mhendric opened #21 "xExchOutlookAnywhere on CAS only fails to restart MSExchangeRpcProxyAppPool"
On a CAS only machine, if you make a change via the xExchOutlookAnywhere resource which requires a restart of the app pools to take effect, the resource incorrectly tries to restart MSExchangeRpcProxyAppPool. This is incorrect, because this only exists on machines that have the MBX role installed as well. The error recorded is:

Cannot find path 'IIS:\AppPools\MSExchangeRpcProxyAppPool' because it

[2015-08-18 18:36] cgedgard opened #23 "TargetDir parameter in Install Arguments causes error"
Arguments from the ps1 file:
 Arguments = '/mode:Install /r:CA /TargetDir:"C:\Program Files\Microsoft\Exchange Server" /IAcceptExchangeServerLicenseTerms'

 Error using diagnostics module:

 [[xExchInstall]InstallExchange] Task Action: C:\Binaries\Exchange\Setup.exe /m
 ode:Install /r:CA /TargetDir:"C:\Program Files\Microsoft\Exchange Server" /IAcceptExchangeServerLicenseTerms
 Message The filenam

[2015-08-23 16:52] mhendric opened #24 "xExchange Resources Can Prevent Exchange CU Installs Due to Open Remote PowerShell Session to Exchange"
I recently encountered an issue where we were unable to install CU9, as the exsetup.exe process detected that there was a remote powershell session open to Exchange. This was caused because the servers are in ApplyAndAutoCorrect mode, and are checking their configuration every 30 mintues. To get around, we had to go manually kill the running wmiprvse processes then retry setup. A possible solution

[2015-08-23 18:56] mhendric commented on #23
I can't seem to reproduce this. I tried installing Exchange 2013 CU9 on a fresh Windows 2012 R2 machine with WMF4, and all the latest Windows Updates. Is you environment or script any different? Here's the script I used:

Configuration InstallExchange
{
    param
    (
        [PSCredential]$Creds
    )

    Import-DscResource -Module xExchange

    Node $AllNodes.NodeName
    {
        LocalConfi

[2015-08-26 15:28] cgedgard commented on #23
Thanks for looking into it.  Yes, this can be closed.  It turned out to be an issue with the certificate, but installs are working now.  Thanks again.

[2015-08-26 15:28] #23 closed

[2015-08-27 10:25] siri2421 opened #25 "xExchInstall fails at the end after successfull installation of Exchange"
The DSC config fails with the following error. Exchange installation completes successfully and the scheduled task completes successfully inspite of this error.

I am installing Exchange 2013 CU9 on windows 2012. Executing the DSC configuration from remote server.

Error
The user name or password is incorrect.
    + CategoryInfo          : AuthenticationError: (PS_ScheduledTask:) [], CimException

[2015-08-27 10:26] siri2421 commented on #25
Credentials are passed and correct

[2015-08-27 10:42] Happycoil commented on #25
Which version of xExchange are you running? This should be fixed in 1.2.0.0.

[2015-08-27 12:58] siri2421 commented on #25
Thank you for the reply, I am using 1.0.3.11. Let me download the latest one and give it a try then.

[2015-08-27 15:56] siri2421 commented on #25
Thanks, the new version fixed the issue that i am facing.

[2015-08-27 15:56] #25 closed

[2015-08-30 01:12] Dan1el42 opened #26 "MSFT_xExchWaitForADPrep is failing basic schema validation tests with Test-xDscResource"
- Test-BasicDscFunction : In function Test-TargetResource, the type System.Object of parameter VerbosePreference is not supported.
- Test-SetTestIdentical : Set-TargetResource and Test-TargetResource must take identical parameters. Set-TargetResource is missing parameter VerbosePreference from
Test-TargetResource.
- Test-SetTestIdentical : Set-TargetResource and Test-TargetResource should take ide

[2015-08-30 18:34] mhendric commented on #26
@Dan1el42 This was discussed early on in the development of the resource, and it was determined that it is not actually an issue in this case even though Test-xDscResource complains about it. -VerbosePreference is currently used in two calls to Test-TargetResource:

$testResults = Test-TargetResource @PSBoundParameters -VerbosePreference SilentlyContinue

[2015-09-02 00:01] mhendric commented on #26
Reopening, per: https://github.com/PowerShell/xExchange/pull/27

[2015-09-08 20:45] #26 closed

[2015-09-09 10:06] Happycoil commented on #17
@mhendric, I thought I replied to this, sorry! In the end I think it's best to just ignore the scenario and expect setup logs to be inspected in the event of a failure.

This approach has been without issues in my lab thus far: https://github.com/Happycoil/xExchange/commit/6c942249b3ed10a2920f26585e25a19f9ab71b9d

Any comments/suggestions before a PR?

[2015-09-10 17:58] yosh109 opened #28 "xExchExchangeCertificate doesn't work when there is more than one Exchange server"
xExchExchangeCertificate resource randomly gets and sets the Exchange certificate on the first server it finds. This is a problem when there is more than one Exchange server in the environment. On each *-ExchangeCertificate cmdlet there is a "-Server" parameter that solves this problem.

i.e. Import-ExchangeCertificate -Server $env:COMPUTERNAME

[2015-09-13 14:23] mhendric commented on #17
@Happycoil That sounds good to me. Thanks.

[2015-09-13 14:30] mhendric commented on #28
Interesting. I could see this happen if the remote powershell session to the local server failed, and the built in discovery script chose another server to use instead. This definitely sounds like a problem. I agree that the proper solution would be to add a Server parameter to the resource.

[2015-09-16 11:36] mhendric commented on #28
I tested, and it doesn't look like the discovery script (RemoteExchange.ps1 and ConnectFunctions.ps1) will redirect to a new server given the parameters we are passing to _NewExchangeRunspace. @yosh109 are you by any chance experiencing this on CAS only servers? Either way I think this should be fixed, I'm just trying to understand better what causes this.

[2015-09-17 11:21] mhendric opened #30 "MailboxDatabases.csv Column Name Change Between v6.6 and 7.6 of Server Role Requirements Calculator"
In MailboxDatabases.csv which is generated by the Exchange Server Role Requirements Calculator, between version 6.6 and 7.6, a column name changed from DBFilePath to EDBFilePath. This breaks ExchangeConfigHelper.psm1 on line:

$currentDb | Add-Member NoteProperty DBFilePath (StringReplaceFromHashtable -StringIn $dbIn.DBFilePath -Replacements $DbNameReplacements)

A possible fix would be to read th

[2015-09-17 11:48] IngoGege commented on #17
@Happycoil , @mhendric I think you should create an extra resource as you might need to uninstall the packs in order to upgrade to the next CU. Like right now CU10 has new packs. But you need to uninstall the old ones before.
Thanks in advance! If I can help you...

[2015-09-18 08:01] mhendric commented on #17
@IngoGege Is uninstalling an older UM language pack a requirement before applying a new CU, or applying the corresponding new language pack? I can't seem to find this documented anywhere, and haven't worked with UM language packs myself. If it is a requirement, then I'd agree that it may make since to split this into a new resource after all. Alternately we could just parse /RemoveUmLanguagePack o

[2015-09-18 11:18] Happycoil commented on #17
@IngoGege @mhendric If we're using xExchInstall for /AddUmLanguagePack we might as well use it for /RemoveUMLanguagePack as well. A separate resource would do exactly the same Set as xExchInstall, we just need the Test to handle both add and remove UM language packs. https://github.com/Happycoil/xExchange/commit/6c942249b3ed10a2920f26585e25a19f9ab71b9d currently handles the add scenario, remove sh

[2015-09-18 14:20] IngoGege commented on #17
@mhendric It is necessary to uninstall the pack before you can install the new one.
@Happycoil You could cover this in the xExchInstall resource, but would this not increase complexity? How about a dedicated resource to handle UMLanguagePacks and then modify xExchInstall to support CU upgrades?

[2015-09-21 08:55] Happycoil commented on #17
@IngoGege, since they're just parameters of setup.exe separate resources would contain exactly the same code with a bit of extra parsing. We'd also still have to parse for them in xExchInstall to prevent their presence there. Surely you'd expect the resource which runs setup.exe to handle all parameters you can pass to it?

[2015-09-21 10:56] IngoGege commented on #17
@Happycoil , of course it would be nice to have this handled by only resource. I thought it would bring more complexity to the one resource to handle also upgrade of CUs as well as the installation of those packages. Don't you have to change a bit more than just parameters?

[2015-09-22 14:51] mhendric commented on #30
Fixed in:

https://github.com/PowerShell/xExchange/commit/cb4d68b8cb171a87d8ae6db1b8a91647fc1131ab

[2015-09-22 14:51] #30 closed

[2015-09-22 14:52] mhendric commented on #28
Fixed in:
https://github.com/PowerShell/xExchange/commit/cb4d68b8cb171a87d8ae6db1b8a91647fc1131ab

[2015-09-22 14:52] #28 closed

[2015-09-22 14:54] mhendric commented on #24
Fixed in:
https://github.com/PowerShell/xExchange/commit/cb4d68b8cb171a87d8ae6db1b8a91647fc1131ab

[2015-09-22 14:54] #24 closed

[2015-09-23 18:15] mhendric commented on #17
After giving this some thought, and in light of new information, I think the cleanest way to do this going forward would be to handle this functionality in a separate resource. Looking at other setup tasks that may need to be done in the future, putting all this in a single resource could make the resource very large and hard to test/maintain. Future functionality (including this request) could be

[2015-09-23 21:09] Happycoil commented on #17
Do you mean separate resources for all the different things setup.exe can do? One for /mode:install, one for language packs, one for /mode:upgrade etc? How would we handle "unwelcome" parameters in each of these resources? Preset parameters in each of them perhaps?

I can see your concerns about xExchInstall becoming huge and unwieldy, but I kind of feel like this design choice was made for us whe

[2015-09-23 22:01] mhendric commented on #17
Yes I was talking about separate resources for at least three things (Prepare*, Install, UMLanguagePack). Not sure if @IngoGege has his UMLanguagePack resource on GitHub anywhere, but the way he approached it was to not even accept setup parameters. He accepts Path (to the folder containing language packs), UMCultures (a string array of culture names), and Ensure. The resource then figures out whi

[2015-09-24 06:43] IngoGege commented on #17
@mhendric @Happycoil So far I haven't uploaded my resource to GitHub. I'm trying to do so asap. I sent a copy to Mike. Maybe you want to forward it to Tor?

[2015-09-24 14:26] mhendric commented on #17
@IngoGege at this point I wouldn't worry about posting your existing solution. I think we'll stick with a single resource and merge @Happycoil 's pull request. I think the code you worked on for RemoveUMLanguagePack should be relatively easy to add on top of what @Happycoil did, so if you'd like to contribute, adding to that would probably be the way to go.

[2015-09-25 01:00] mhendric commented on #21
Fixed in https://github.com/PowerShell/xExchange/commit/9a63c980a3bfbcf28ed110f523f003db8ec40283

[2015-09-25 01:00] #21 closed

[2015-09-25 20:45] mhendric commented on #17
Issue resolved in https://github.com/PowerShell/xExchange/commit/3118b1c0120e88456adac8eb52c892c13c88ab55 . Closing issue.

[2015-09-25 20:45] #17 closed

[2015-10-26 14:30] IngoGege opened #39 "MSFT_xExchReceiveConnector returns always false when using custom permissions"
MSFT_xExchReceiveConnector retunrs always false, when you are using custom permissions on the connector. An example would be an anonymous relaying connector:
It will show also the permissiongroup custom, but you can't use custom to set permissions.

A way to fix this would be to remove 'Custom' as a return PermissionGroups. For anonymous relaying we could add a switch('AllowAnonymousRelay'=$true/$

[2015-10-30 17:27] mhendric commented on #39
Hey Ingo,
I agree this is an issue that needs to be fixed. I think we should do something a little more flexible though, in case people want to do custom permissions other than just open relay perms. Possibly something like this:

-Always ignore Custom in PermissionGroups
-Add the following [Hashtable] parameters:
	ExtendedRightAllowEntries
	ExtendedRightDenyEntries
-For the above, Key == UserName

[2015-10-30 17:55] KarolKaczmarek opened #40 "Fix PSScriptAnalyzer issues"
[code]

[2015-10-30 19:00] mhendric commented on #40
@KarolKaczmarek it looks like the issue is that some of the examples use external DSC resources, like xWebAdministration and xPendingReboot. Not sure what the correct action to take is here. Should the examples not use external resources at all?

[2015-10-30 21:19] mhendric commented on #5
After (https://github.com/PowerShell/xExchange/pull/41), the remaining resources that need Pester tests are as follows:

MSFT_xExchAutoMountPoint
MSFT_xExchDatabaseAvailabilityGroup *
MSFT_xExchDatabaseAvailabilityGroupMember *
MSFT_xExchDatabaseAvailabilityGroupNetwork *
MSFT_xExchJetstress
MSFT_xExchJetstressCleanup
MSFT_xExchMailboxDatabase *
MSFT_xExchMailboxDatabaseCopy *
MSFT_xExchReceiveCon

[2015-11-04 07:59] IngoGege commented on #39
Hi Mike,
this was a good idea to have it more dynamic. I'm done, but currently I'm stuck with the pull request:
https://github.com/PowerShell/xExchange/pull/42
I updated my fork and now I get the error in appveyor. Any experience with this?
Ciao,
Ingo

[2015-11-04 14:57] mhendric commented on #39
It looks like there's a conflict between your README.ME change and the one I did in https://github.com/PowerShell/xExchange/pull/41. I'd sync the latest README.ME and then try to add your comments to it again.

[2015-11-05 16:59] mhendric commented on #39
Issue resolved in: https://github.com/PowerShell/xExchange/pull/42

[2015-11-05 16:59] #39 closed

[2015-11-05 19:57] mhendric commented on #5
All original tests have now been converted to Pester tests. Closing issue.

[2015-11-05 19:57] #5 closed

[2015-11-06 21:41] KarolKaczmarek commented on #40
You are right. I was expecting that examples are simply missing Import-DSCResource and that's why we get those errors, but looks like they already have it and the error is strictly about those modules not being on the machine where PSScriptAnalyzer was run.
In this case, we can ignore it - I'll follow up with the script analyzer team regarding this issue, perhaps we could get some kind of exceptio

[2015-11-06 21:41] #40 closed

[2015-12-08 03:33] it-praktyk opened #49 "Question - How use Pester with Exchange Server related scripts ?"
Hi!

Thank you for great presentation on the last PowerShell Summit Europe !

After applause under the slide"Moving Forward" and describing Pester tests in xExchange as the one of next goals for xExchange I started thinking how/if I can improve my Exchange scripts using Pester.

Do you know any resources when I can start looking for this?

Thank you in advance.

Wojciech

[2015-12-12 03:18] cgedgard opened #51 "Question: EAS Auth - Providers"
Is there a way to set the Providers on the EAS virtual directory after enabling Windows Auth?  Within WindowsAuth under 'Providers' I'm looking to set Negotiate:Kerberos

[2015-12-14 15:59] mhendric commented on #51
I don't see anything under the Set-ActiveSyncVirtualDirectory documentation. If anywhere it probably has to be done directly in IIS, either by editing a config file, or by using appcmd. Even if that is possible to do, I don't know whether that would be a supported Exchange configuration or not. You may need to contact Microsoft support to get an official supportability statement.

https://technet.

[2015-12-14 16:44] mhendric commented on #49
Below are three great blogs on how to get started using Pester. Also you should check out the tests underneath the Test folder in the xExchange module, as there are now close to 30 different test files all utilizing Pester.

http://www.powershellmagazine.com/2014/03/12/get-started-with-pester-powershell-unit-testing-framework/
http://www.powershellmagazine.com/2014/09/30/pester-mock-and-testdrive/

[2015-12-14 20:26] cgedgard commented on #51
Hi Mike,
Thanks for following up on this.  I'd think this will end up being a common request.
It looks like this can be added through powershell (I'm using ps4 on 2012r2).  However, I'm not seeing Add-WebConfiguration in xWebAdministration.

Add-WebConfiguration -Filter system.webServer/security/authentication/windowsAuthentication/providers -PSPath IIS:\ -Location 'Default Web Site/Microsoft-Serv

[2015-12-14 20:33] mhendric commented on #51
I created a resource a while back that I have yet to share externally for getting/setting properties with Get/Set-WebConfigurationProperty. which I use for setting uploadReadAheadSize on the EAS vdir. If there's a way to do what you need to do with *-WebConfigurationProperty, let me know, and I'll create a repository to put this resource on.

[2015-12-14 20:53] IngoGege commented on #51
@cgedgard : Just to add Negotiate:Kerberos you want to run the following command:
Add-WebConfigurationProperty -pspath 'MACHINE/WEBROOT/APPHOST' -location 'Default Web Site/Microsoft-Server-ActiveSync' -filter "system.webServer/security/authentication/windowsAuthentication/providers" -name "." -value @{value='Negotiate:Kerberos'}

To add and set it on top of the list of providers you want to use t

[2015-12-14 21:39] mhendric commented on #51
I just uploaded my personal module for using Set-WebConfigurationProperty. The Examples folder contains the example I was talking about above. Let me know if this works for you or not. If so, I'll look at turning this into an official module. I only tested this module with the single use case, so it may need some work to be usable with other use cases.

https://github.com/mhendric/xWebConfiguratio

[2015-12-15 13:48] Happycoil commented on #51
I use https://github.com/PowerShellOrg/cWebAdministration for Add-/Set-WebConfigurationProperty stuff. There's a PR to merge it with xWebAdministration, but it's been there a while: https://github.com/PowerShell/xWebAdministration/pull/8

[2015-12-15 23:22] it-praktyk commented on #49
Thank you Mike for your answer. Of course I know the articles mentioned by you. I'll follow xExchange - I'm very interesting in use DSC in production with Exchange.

[2016-01-04 17:58] #49 closed

[2016-01-04 17:59] mhendric commented on #51
Closing issue since there are non-xExchange modules available for handling this.

[2016-01-04 17:59] #51 closed

[2016-01-20 17:03] mhendric opened #52 "Need Setting Override Resource or New IM Integration Configuration Resource"
Exchange 2016 configures OWA IM integration using a new cmdlet, New-SettingOverride, instead of the previous method of editing the web.config. It probably makes sense to make a general SettingOverride resource that can be used for multiple scenarios.

Configure instant messaging integration with Outlook on the web
https://technet.microsoft.com/EN-US/library/mt607043(v=exchg.160).aspx

[2016-01-21 14:51] IngoGege opened #53 "Additional DSC resource for *.config files"
Hi,
I was wondering about a new resource,which could be used to maintain *.config files like MsExchangeMailboxReplication.exe or EdgeTransport.exe.config. I know that there is already a module for web.config (https://www.powershellgallery.com/packages/xWebAdministration/1.8.0.0).
I think the resource will need to have 4 core functions:
Get-ItemValue
Set-ItemValue
Add-ItemValue
Remove-ItemValue

He

[2016-02-01 14:58] mhendric commented on #53
Hi @IngoGege , it may be better to make this a generic XPath based DSC resource rather than make it Exchange specific. Given the config files and properties you've looked at, is there anything unique to them that would make a dedicated Exchange resource for this make more sense?

[2016-02-03 21:47] IngoGege commented on #53
Hi @mhendric ,
you're right. Since you mentioned it, it makes more sense to have an independent module for this.
Therefore I'll close the issue.
Ciao,
Ingo

[2016-02-03 21:47] #53 closed

[2016-02-16 13:23] matthitchcock opened #56 "Uses a Version Number folder not compatible with WMF 4"
Myself and a colleague found an issue using this on WMF4. The module uses a version number subfolder which WMF 4 doesn't understand, so when you run Get-DSCResource it doesn't show the xExchange Resources.
To fix this, we had to remove the version number folder. All worked well then.

There is no reference in the documentation to be aware of this and the workaround so folks may struggle for a whil

[2016-02-16 15:00] mhendric commented on #56
Hi @matthitchcock , how did you obtain this module? Was it from the PowerShell Gallery, and if so, did you use the Install-Module command? If you download directly from GitHub, do you have the same issue?

[2016-02-17 02:50] matthitchcock commented on #56
HI, didn't try downloading direct from GitHub. We downloaded using Install-Module so it came from the PowerShell Gallery to the authoring machine. It was then copied from there onto the Servers with a simple file copy.

Haven't tried the GitHub version, I assumed the GitHub version is what is published on the Gallery and that they are the same module ... because they have the same name?

[2016-02-17 07:52] Happycoil commented on #56
They're the same. That is, the master branch is always the code published on powershellgallery.com.

Re the version folder issue: I've seen this happen, it's not xExchange specific though. Been a while since I've seen it, is the WMF 4 in question fully patched?

[2016-02-17 15:23] mhendric commented on #56
I've seen modules that I've downloaded via Install-Module on Windows 10 come down like this. They show up as MODULE\VERSION\CONTENTS. To use it on a non-WMF5 machine you just remove the VERSION folder.

[2016-02-18 05:46] matthitchcock commented on #56
That's correct, it's WMF 4 specific rather than Exchange but I mention it here as users of the xExchange module may be using WMF 4 and be unaware of the issue and need to work around it. If not documented it may cause them some pain.

The system I believe is fully patched, but it is a colleagues system so I will have to check. Is there a patch for WMF 4 that allows it to recognise the Version numb

[2016-02-18 15:40] mhendric commented on #56
I haven't tried myself, but you could try applying the recently released Update package for WMF 4.0. If it doesn't work there, you're probably out of luck until WMF 5.0 becomes supported with Exchange:

https://blogs.msdn.microsoft.com/powershell/2016/01/19/windows-management-framework-wmf-4-0-update-now-available-for-windows-server-2012-windows-server-2008-r2-sp1-and-windows-7-sp1/

[2016-04-06 14:05] mhendric commented on #56
Closing issue, as this is not xExchagne specific.

[2016-04-06 14:05] #56 closed

[2016-05-02 21:38] kwirkykat opened #61 "MSFT_xExchAntiMalwareScanning: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchAntiMalwareScanning resource.

No errors, but there are a few warning/informational issues that should be either fixed or suppressed.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14968672/e07ae3ba-1072-11e6-8cde-019d8f85f530.png)

(Please disregard issues br

[2016-05-02 21:42] kwirkykat opened #62 "MSFT_xExchAutodiscoverVirtualDirectory: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchAutodiscoverVirtualDirectory resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14968838/e7ceefd4-1073-11e6-8f76-70c04d900773.png)

(Please disregard is

[2016-05-02 21:46] kwirkykat opened #63 "MSFT_xExchAutoMountPoint: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchAutoMountPoint resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14968923/6161e1bc-1074-11e6-83cb-80555fc52d67.png)

(Please disregard issues brought u

[2016-05-02 21:47] kwirkykat opened #64 "MSFT_xExchClientAccessServer: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchClientAccessServer resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969009/c78579b8-1074-11e6-833d-85d9e4e46f0e.png)

(Please disregard issues broug

[2016-05-02 21:51] kwirkykat opened #65 "MSFT_xExchDatabaseAvailabilityGroup: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchDatabaseAvailabilityGroup resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969099/51198d7c-1075-11e6-8e95-7a1a84c05fbd.png)

(Please disregard issue

[2016-05-02 21:55] kwirkykat opened #66 "MSFT_xExchDatabaseAvailabilityGroupMember: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchDatabaseAvailabilityGroupMember resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969169/cded59be-1075-11e6-8c85-c092bac9afa0.png)

(Please disregard

[2016-05-02 21:57] kwirkykat opened #67 "MSFT_xExchDatabaseAvailabilityGroupNetwork: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchDatabaseAvailabilityGroupNetwork resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969271/39c6489e-1076-11e6-8aa3-90bb7052c26f.png)

(Please disregar

[2016-05-02 21:59] kwirkykat opened #68 "MSFT_xExchEcpVirtualDirectory: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchEcpVirtualDirectory resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969303/74c2f2b2-1076-11e6-914f-0d5855453ad7.png)

(Please disregard issues brou

[2016-05-02 22:01] kwirkykat opened #69 "MSFT_xExchEventLogLevel: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchEventLogLevel resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969328/a4aa8c7e-1076-11e6-9ad4-faef1c130c07.png)

(Please disregard issues brought up

[2016-05-02 22:02] kwirkykat opened #70 "MSFT_xExchExchangeCertificate: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchExchangeCertificate resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969378/e38bd9ac-1076-11e6-8c62-9dc2b4af793c.png)

(Please disregard issues brou

[2016-05-02 22:04] kwirkykat opened #71 "MSFT_xExchExchangeServer: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchExchangeServer resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969415/25c1129c-1077-11e6-8b0c-e872a01b4d7b.png)

(Please disregard issues brought u

[2016-05-02 22:16] kwirkykat opened #72 "MSFT_xExchImapSettings: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchImapSettings resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969732/c2439620-1078-11e6-848c-6a9ab2c01ef5.png)

(Please disregard issues brought up

[2016-05-02 22:18] kwirkykat opened #73 "MSFT_xExchInstall: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchInstall resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969801/29945274-1079-11e6-8e84-fb171478eaac.png)

(Please disregard issues brought up by th

[2016-05-02 22:20] kwirkykat opened #74 "MSFT_xExchJetstress: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchJetstress resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969839/65809ed2-1079-11e6-9a26-12e7e33dde9d.png)

(Please disregard issues brought up by

[2016-05-02 22:22] kwirkykat opened #75 "MSFT_xExchJetstressCleanup: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchJetstressCleanup resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14969872/92cab62a-1079-11e6-9e13-a6aa187e1b64.png)

(Please disregard issues brought

[2016-05-02 22:28] kwirkykat opened #76 "MSFT_xExchMailboxDatabase: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchMailboxDatabase resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970012/8382f000-107a-11e6-9c8a-354c24f2da4b.png)

(Please disregard issues brought

[2016-05-02 22:37] kwirkykat opened #77 "MSFT_xExchMailboxDatabaseCopy: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchMailboxDatabaseCopy resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970168/cd41d8b8-107b-11e6-8786-d16308614bcb.png)

(Please disregard issues brou

[2016-05-02 22:38] kwirkykat opened #78 "MSFT_xExchMailboxServer: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchMailboxServer resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970201/f44c418c-107b-11e6-94c5-5c6aa17e98bd.png)

(Please disregard issues brought up

[2016-05-02 22:56] kwirkykat opened #79 "MSFT_xExchMaintenanceMode: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a several issues for the MSFT_xExchMaintenanceMode resource.

No errors, but there are a a lot of warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970443/caa0899a-107d-11e6-9e2f-f64f11024af5.png)
![image](https://cloud.gi

[2016-05-02 22:58] kwirkykat opened #80 "MSFT_xExchMapiVirtualDirectory: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchMapiVirtualDirectory resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970552/c17f8536-107e-11e6-9778-bdef9c02531e.png)

(Please disregard issues bro

[2016-05-02 23:02] kwirkykat opened #81 "MSFT_xExchOabVirtualDirectory: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchOabVirtualDirectory resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970599/50403b3a-107f-11e6-9425-db4061bf0f9f.png)

(Please disregard issues brou

[2016-05-02 23:04] kwirkykat opened #82 "MSFT_xExchOutlookAnywhere: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchOutlookAnywhere resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970615/7941193c-107f-11e6-9d57-140e24a5edb6.png)

(Please disregard issues brought

[2016-05-02 23:05] kwirkykat opened #83 "MSFT_xExchOwaVirtualDirectory: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchOwaVirtualDirectory resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970645/ab41501e-107f-11e6-9389-5fdec6a0ec60.png)

(Please disregard issues brou

[2016-05-02 23:06] kwirkykat opened #84 "MSFT_xExchPopSettings: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchPopSettings resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970676/d9ce3280-107f-11e6-8500-2d366ea28427.png)

(Please disregard issues brought up b

[2016-05-02 23:07] kwirkykat opened #85 "MSFT_xExchPowershellVirtualDirectory: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchPowershellVirtualDirectory resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970686/019b9be0-1080-11e6-8cae-1b80e4b11427.png)

(Please disregard issu

[2016-05-02 23:11] kwirkykat opened #86 "MSFT_xExchReceiveConnector: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchReceiveConnector resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970751/7cb84242-1080-11e6-849f-4a4af85c6de7.png)

(Please disregard issues brought

[2016-05-02 23:12] kwirkykat opened #87 "MSFT_xExchTransportService: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchTransportService resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970786/ad8547e4-1080-11e6-81b2-f98995675c52.png)

(Please disregard issues brought

[2016-05-02 23:19] kwirkykat opened #88 "MSFT_xExchUMCallRouterSettings: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchUMCallRouterSettings resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970876/adb27aec-1081-11e6-81d0-c30d45539c81.png)

(Please disregard issues bro

[2016-05-02 23:20] kwirkykat opened #89 "MSFT_xExchUMService: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchUMService resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970891/d1cb57dc-1081-11e6-9f9f-cde346f65326.png)

(Please disregard issues brought up by

[2016-05-02 23:22] kwirkykat opened #90 "MSFT_xExchWaitForADPrep: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchWaitForADPrep resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970907/ef357b90-1081-11e6-8680-5c16000e7093.png)

(Please disregard issues brought up

[2016-05-02 23:23] kwirkykat opened #91 "MSFT_xExchWaitForDAG: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchWaitForDAG resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970922/1aaecd80-1082-11e6-9d2c-e0e3bef461eb.png)

(Please disregard issues brought up by

[2016-05-02 23:23] kwirkykat opened #92 "MSFT_xExchWaitForMailboxDatabase: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchWaitForMailboxDatabase resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970944/42a49734-1082-11e6-95a3-27edce83fdcc.png)

(Please disregard issues b

[2016-05-02 23:25] kwirkykat opened #93 "MSFT_xExchWebServicesVirtualDirectory: Fix PSSA Issues"
PowerShell Script Analyzer is bringing up a few issues for the MSFT_xExchWebServicesVirtualDirectory resource.

No errors, but there are a few warning/informational issues that should be either fixed or excluded.

This is the result of running Invoke-ScriptAnalyzer:
![image](https://cloud.githubusercontent.com/assets/6372220/14970965/69d61b70-1082-11e6-8d53-872e9aa7e902.png)

(Please disregard iss

[2016-05-05 19:04] mhendric commented on #61
Hi @kwirkykat . In regards to the Write-Verbose messages, every resource in this module that calls either LogFunctionEntry, or GetRemoteExchangeSession, indirectly calls Write-Verbose, as both of those methods definitely have Write-Verbose in them. I'd have to double check, but I believe almost every Get/Set/Test-TargetResource in the module will at least call LogFunctionEntry, and most call GetRe

[2016-05-05 19:11] kwirkykat commented on #61
@mhendric Then Write-Verbose rule (PSDSCUseVerboseMessageInDSCResource) should be suppressed on the functions where this message is popping up.

You can suppress a PSSA rule by adding this line above the param block for a function:
[Diagnostics.CodeAnalysis.SuppressMessageAttribute("PSDSCUseVerboseMessageInDSCResource", "")]

You can look at PR #60 for reference. The rule is excluded for both Get-

[2016-05-13 15:59] kilasuit opened #96 "Plan to remove x prefix from the resources and rename module"
This is just an issue to capture that the resources should be planning to remove the x prefix and that the Module should be renamed Exchange_DSC to be better accepted by the community

[2016-05-13 17:49] #62 closed

[2016-05-13 20:32] kwirkykat commented on #96
Per discussion in PowerShell/xDFS#12 this has not yet been confirmed. Closing this issue until the main discussion is resolved.

[2016-05-13 20:32] #96 closed

[2016-05-13 20:34] kwirkykat opened #97 "MSFT_xExchAutoMountPoint: No Unit Tests"
There are no unit tests for the MSFT_xExchAutoMountPoint in the Test folder.
It's hard to determine if code changes break a resource or not.

On the other hand, do unit tests make sense for xExchange?

[2016-05-20 14:25] mhendric commented on #73
Hi @kwirkykat, how are we supposed to handle the very first error in this output? We do in fact want to require a reboot before proceeding, and all examples I've seen to require a reboot use $global:DSCMachineStatus = 1.

[2016-05-20 17:10] kwirkykat commented on #73
We are almost done compiling a list of which PSSA rules we are going to consider as 'errors' (cannot be suppressed), 'warnings' (can be suppressed with approval), and 'ignore' (we won't check them). The list is *almost* finalized. We will post it ASAP!

But for now I can tell you that the 'PSAvoidGlobalVars' rule is in the 'warning' camp so this rule can be suppressed and since setting $global:DSC

[2016-05-20 17:17] mhendric commented on #73
So what's the correct way to suppress this particular warning then?

[2016-05-23 23:40] kwirkykat commented on #73
For now, add the rule suppression above the param block of any function that uses this global var:

[code]

This is an approved suppression.

[2016-06-01 17:18] #70 closed

[2016-06-01 17:18] #92 closed

[2016-06-01 17:18] kwirkykat commented on #93
Fixed in #100

[2016-06-01 17:18] #93 closed

[2016-06-01 17:19] #61 closed

[2016-06-01 17:40] #64 closed

[2016-06-02 17:08] #65 closed

[2016-06-02 17:15] #66 closed

[2016-06-02 17:20] #67 closed

[2016-06-02 17:27] #68 closed

[2016-06-02 17:32] #69 closed

[2016-06-02 17:37] #71 closed

[2016-06-02 17:41] #72 closed

[2016-06-02 17:48] #78 closed

[2016-06-02 17:55] #80 closed

[2016-06-02 18:19] #81 closed

[2016-06-02 18:43] #82 closed

[2016-06-02 18:51] mhendric commented on #97
I think Unit Tests would make sense for the various DiskPart functions that are used by this Resource. An Integration Tests doing end to end get/set/test would be good too. The main reason I haven't done it yet is because the tests require you have one or more spare disks on the system being tested. However, the Integration tests for many of the other Resources require that Exchange be installed,

[2016-06-02 19:02] #83 closed

[2016-06-02 20:41] #84 closed

[2016-06-02 20:56] #85 closed

[2016-06-02 21:08] #86 closed

[2016-06-02 21:17] #88 closed

[2016-06-02 21:26] #89 closed

[2016-06-02 21:37] kwirkykat commented on #63
This resource requires a bigger change.

These global variables need to be changed to Get- methods both here and in the helper file. There can be script-scope variables in the helper, just no globals.

The only approved global variable so far is DSCMachineStatus.

On a different note, you can now also disregard the PsUseShouldProccessForStateChangingFunctions rule.

[2016-06-02 21:40] #91 closed

[2016-10-19 00:02] fzavalloni opened #133 "Question about Identity parameter"
Hello,

I am trying to set the DSC of PowerShell 5.0 on my Exchange Servers. I am using the ConfigurationNames (https://msdn.microsoft.com/en-us/powershell/dsc/metaconfig) instead of using one MOF file for specific server or group. I think  is easier to reuse configuration files between group of servers.
So I am trying to create a unique MOF file to configure all my Mailbox Servers, however I cann

[2016-10-19 07:45] IngoGege commented on #133
Hi @fzavalloni,
this is not the only DSCResource. There are a few more. This really depends on the used Exchange CmdLets. But I see your point and I also stumbled across this issue. There are possibilities when you use the Script resource. Maybe there is something we can use for the Exchange resources.
One possibility would be to move away the identity and always use the node towards this is targe

[2016-10-19 14:24] mhendric commented on #133
I'd be hesitant to remove the Identity property. One reason is that it would be a breaking change, which would require everyone who has used this resource to change their scripts. The other reason is that we need at least one Key property for the resource. I believe Identity is the most logical choice for that, as it specifies where the resource is targeting.

I haven't played around with Configur

[2016-10-19 14:50] fzavalloni commented on #133
I agree with you, remove the mandatory of Identity could be bad.
I am still trying to find a way, I have started to work with DSC recently I don´t have much experience with that.
I made a test right now, if I run this command in the PowerShell console, like that:

`Get-MailboxTransportService` -id `"$(hostname)"`

It worked, but if I try to get the MOF file and put this string in there, like above

[2016-10-19 15:00] mhendric commented on #133
Are you passing $(hostname) to DSC with single quotes or double quotes? If using single quotes, PowerShell will read the value literally, instead of using the enclosed variable.

PS C:\Users\Mike> "$(hostname)"
mikescomp-1
PS C:\Users\Mike> '$(hostname)'
$(hostname)
PS C:\Users\Mike>

[2016-10-19 15:28] fzavalloni commented on #133
In the script that creates the MOF file, I tried the both ways.
When I put with double quotes, it creates the MOF file with the following attributes:

instance of MSFT_xExchMailboxTransportService as $MSFT_xExchMailboxTransportService1ref
{
ResourceID = "[xExchMailboxTransportService]TransportSettings";
 Credential = $MSFT_Credential1ref;
 AllowServiceRestart = False;
 ConnectivityLogPath = "E:\\L

[2016-10-19 16:02] mhendric commented on #133
Again, I'm unfamiliar with using ConfigurationNames. When doing so, do you not have the ability to pull node specific information from your ConfigurationData file, and then access the $Node variable? That's how all the Examples under xExchange are written. Here's an example:

https://github.com/PowerShell/xExchange/blob/dev/Examples/ConfigureVirtualDirectories/ConfigureVirtualDirectories.ps1
https

[2016-10-19 16:39] fzavalloni commented on #133
Using in this way will work for me, but it creates one MOF file for each server. This is one thing I would like to avoid.
This is my Local Configuration Manager script, using Configuration Names.
'
[DSCLocalConfigurationManager()]
configuration LCMPullServerConfiguration
{
    Node 'localhost'
    {
        Settings
        {
            #When set to $True, this allows new modules (downloaded from

[2016-10-20 06:35] IngoGege commented on #133
@fzavalloni you know that WMF5.0 is only supported on Windows Server 2016 and Exchange 2016 CU3?

[2016-10-20 12:18] fzavalloni commented on #133
No. I deployed it in Windows 2012 R2 with Exchange Server 2013.

[2016-10-21 15:59] siri2421 opened #134 "Error while using some of the xExchange modules"
I am using xExchange modules to configure various exchange components. Intermittently i see the below issue...
Provider MSFT_xExchReceiveConnector failed to execute Set-TargetResource functionality with error message: Exception calling "GetSteppablePipeline" with "1" argument(s): "Exception calling "PromptForCredential" with "4" argument(s): "PowerShell Desired State Configuration does not support

[2016-10-21 16:09] mhendric commented on #134
Interesting. There's nothing in this resource that prompts for credentials, so it seems like the credentials you passed are getting rejected. If you look in the Desired State Configuration - Operational event log, is there any more information on the error, like the line and character it is failing on? You can check in Event Viewer - Applications and Services Logs - Microsoft - Windows - Desired S

[2016-10-27 09:43] StefanMihailovici opened #136 "Issue in StartScheduledTask function from the xExchangeCommon module"
When applying the xExchInstall DSC resource, the script fails with error 'ScriptHalted', right after the Exchange installation task is created.
I've pinned down the issue to the 'errRegister' variable check (line 752):
`if ($null -ne $errRegister):`
even if errRegister contains no errors, it still is an array, which is not $null, so the correct error check should be
`if (0 -lt $errRegister.count)`

[2016-10-27 14:36] mhendric commented on #136
Looks like a good suggestion. Are you positive the output of ErrorVariable will always be not null? May be safer to do this just in case:

if ($null -ne $errRegister -and 0 -lt $errRegister.Count)

[2016-10-27 21:26] StefanMihailovici commented on #136
First of all, when a command is successful the specified error variable is only initialised, but empty of content. Because the type of the object is an 'Arraylist', the first part of the logical conjection would be 'false', leaving the subsequent evalution to be somewhat useless. Let's run a simple example by running the following commands:
[code]
As a result of it's variable type, it can't be com

[2016-10-27 21:40] mhendric commented on #136
Fair enough. Looks like even if the return value was null, .Count would return 0:

PS D:\> $null.Count
0

[2016-10-28 05:38] StefanMihailovici commented on #136
Very nice, I've definitely learned something new today :).

[2016-10-31 20:17] mhendric commented on #136
Hi @StefanMihailovici , can you tell us what versions of Windows, Exchange, and PowerShell you experienced this with? I just got a report that someone encountered this with Windows 2016/Exchange 2016, and that your code fix resolved it. Wondering if this is a Windows 2016 specific issue, as I've done many installs of Exchange on Windows 2012 and 2012 R2 (both Exchange 2013 and 2016), and haven't h

[2016-11-01 09:10] StefanMihailovici commented on #136
Hi Mike,
Glad to hear it's helped other people too.
We are installing Exchange 2013 on Windows 2012R2. The only peculiarity in our environment is that while creating the base windows images we also install WMF 5.0, so before installing Exchange, we revert to WMF 4. All configurations are done through DSC and as a side note we're using WAP for automating the deployments.

[2016-11-16 16:12] TravisEz13 opened #139 "Are Exchange 2016 and 2013 supported in all WMF versions"
Can we have a support statement and if not supported with all WMF add a support matrix

[2016-11-16 16:18] mhendric commented on #139
It may be best to defer to the Exchange team's supportability matrix on TechNet. Where do you think this should be included?

https://technet.microsoft.com/en-us/library/ff728623(v=exchg.160).aspx#Windows Management Framework

The short answer (from the above link) for the supported version of WMF in both Exchange 2013 and 2016 is: "Version of Windows Management Framework built into the release of

[2016-11-16 18:08] mhendric commented on #136
Resolved in https://github.com/PowerShell/xExchange/pull/137

[2016-11-16 18:08] #136 closed

[2016-11-16 19:39] TravisEz13 commented on #139
Do we have this link in the docs for this resource?  If not can we add it?

[2016-11-16 23:03] mhendric commented on #134
Just encountered this issue myself. A new configuration update applied just fine when pushed to Exchange 2016/Windows 2012 R2 servers, but failed on the first handful of Exchange 2013/Windows 2012 servers in the same environment. Restarting WinRM and WMI resolved the issue. That being the case, it seems like this could be a problem with the underlying Windows Management Framework, and not with the

[2016-11-17 01:26] mhendric commented on #139
It makes sense to me to add a Supportability section towards the top of the README. Is there anything else we should add in there? I'm not sure where our support statements are on DSC itself, or our stance on custom modules, including xExchange. Seems like those would be good to add if we're going to call out supported WMF versions.

[2016-11-17 15:32] TravisEz13 commented on #139
I think the module support WMF4 and newer.  We should mention that and then refer to Exchanges statement on what exchange actually supports.

[2016-11-17 15:50] mhendric commented on #139
The only combo of Exchange/Windows that the Exchange team supports for greater than WMF4 is Windows Server 2016/Exchange 2016. All other combos of Exchange 2013/2016 with Windows are only supported on WMF4, and it doesn't look like that will change.

Regarding custom module support, I was thinking that's more of a PowerShell team supportability question. The Exchange team definitely isn't going to

[2016-11-19 20:36] mhendric opened #149 "Consolidated PSScriptAnalyzer Issue Tracking"
Consolidating all remaining issues for fixing PSScriptAnalyzer problems into a single issue.

Summary of remaining issues as of 11/19/2016:

`PS D:\GitHub\xExchange-Latest> $analyzerOutput = Invoke-ScriptAnalyzer -Path D:\GitHub\xExchange-Latest\ -Recurse -ErrorAction SilentlyContinue

PS D:\GitHub\xExchange-Latest> $analyzerOutput | Group-Object Severity, RuleName | Sort-Object Name | ft Count, N

[2016-11-19 20:37] mhendric commented on #63
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:37] #63 closed

[2016-11-19 20:38] mhendric commented on #73
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:38] #73 closed

[2016-11-19 20:38] mhendric commented on #74
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:38] #74 closed

[2016-11-19 20:38] mhendric commented on #75
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:38] #75 closed

[2016-11-19 20:38] mhendric commented on #76
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:38] #76 closed

[2016-11-19 20:38] mhendric commented on #77
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:38] #77 closed

[2016-11-19 20:38] mhendric commented on #79
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:38] #79 closed

[2016-11-19 20:38] mhendric commented on #87
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:38] #87 closed

[2016-11-19 20:39] mhendric commented on #90
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:39] #90 closed

[2016-11-19 20:39] mhendric commented on #97
Consolidating into https://github.com/PowerShell/xExchange/issues/149

[2016-11-19 20:39] #97 closed

[2016-11-19 22:10] mhendric commented on #149
Resolved remaining PSAvoidUsingCmdletAliases in https://github.com/PowerShell/xExchange/pull/151

[2016-11-19 22:36] mhendric commented on #149
Resolved PSDSCDscExamplesPresent for all modules that already have examples in https://github.com/PowerShell/xExchange/pull/152

[2016-11-20 00:29] mhendric commented on #149
Resolved PSUseDeclaredVarsMoreThanAssignments in https://github.com/PowerShell/xExchange/pull/153

[2016-11-20 23:06] mhendric opened #154 "xExchDatabaseAvailabilityGroup Should Check If Failover-Clustering Is Installed Before Modifying DAG Membership"
The xExchDatabaseAvailabilityGroup resource does not currently check if a server has the Failover-Clustering feature installed before trying to add a server to a DAG. We should add a check to ensure that the feature has an Install State of Installed before proceeding. If it's in a state of InstallPending, we should force a reboot. We also may want to add an option on the resource to install the Fa

[2016-11-21 15:17] mhendric opened #155 "MSFT_xExchOabVirtualDirectory.Integration.Tests.ps1 Should Be Updated to Create and Use a Test OAB"
MSFT_xExchOabVirtualDirectory.Integration.Tests.ps1 currently tries to use OAB 'Default Offline Address Book (Ex2013)', which doesn't exist by default. This test script should instead just create and use a new OAB specifically for testing.

[2016-11-21 15:19] mhendric opened #156 "MSFT_xExchUMService.Integration.Tests.ps1 Should Create and Use a Test UMDialPlan"
MSFT_xExchUMService.Integration.Tests.ps1 currently relies on a Dial Plan to test with already being created. Additionally, it must be of type SipName. This script should just create and use a dedicated test dial plan instead of relying on one already existing.

[2016-11-21 15:22] mhendric opened #157 "MSFT_xExchDatabaseAvailabilityGroup.Integration.Tests.ps1 Should Be Able to Run Without Second DAG Member or Witness"
MSFT_xExchDatabaseAvailabilityGroup.Integration.Tests.ps1 currently requires a second witness server to be specified. The tests should be altered so that if a second witness is not passed, the AlternateWitnessServer and AlternateWitnessDirectory params will not be used in any tests.

We may also want to modify this script to allow for a partial run if a second DAG member is not specified. We won't

[2016-11-21 15:34] mhendric opened #158 "Need to Test xExchange with Exchange 2016 on Windows Server 2016"
I don't foresee any problems, but we should run a full set of Pester tests against Exchange 2016 and Windows 2016 to ensure the module continues to work as expected.

[2016-11-21 15:42] mhendric commented on #149
Adding the help wanted tag. If anyone wants to help with these, just add a comment to the discussion on which rules or scripts you are working on so that someone else doesn't pick up the same item.

[2016-11-21 18:27] mhendric opened #159 "Add Missing Parameters to Resources"
The following list shows xExchange resources that currently do not implement the full parameter set available for their corresponding Exchange cmdlets, as well as the TechNet article we should use to get the latest available parameters. We should try to complete the parameter sets for these cmdlets.

List Updated 2/13/2017:
xExchActiveSyncVirtualDirectory - https://technet.microsoft.com/en-us/libr

[2016-11-23 14:29] IngoGege commented on #159
Hi @mhendric ,
I'm working on MSFT_xExchMailboxServer.
Ciao,
Ingo

[2016-11-23 15:35] mhendric commented on #157
I got this one.

[2016-11-23 15:35] mhendric commented on #154
I got this one.

[2016-11-29 21:00] TravisEz13 commented on #139
I think the support statement should be relative to the module itself.  We could mention that this is not provided by the exchange team and support is, therefore limited.

[2016-11-30 18:14] mhendric commented on #157
Resolved in https://github.com/PowerShell/xExchange/pull/160

[2016-11-30 18:14] #157 closed

[2016-11-30 18:18] mhendric commented on #139
Sounds good to me. We can add a support disclaimer in regards to the module itself, and then also add a support disclaimer linking to the Exchange team's WMF guidance on TechNet. Maybe also specifically say that the only combo the Exchange team supports for WMF5 is Windows 2016/Exchange 2016, else WMF4 is what they support.

[2016-12-05 19:51] andlo opened #161 "Failed to execute Set-TargetResource functionality - xExchInstall"
I am trying to setup a exchangeserver using xExchInstall, but cant get it to work.

I get this error in the Desired State Configuration log on the VM
[code]
Anyone knows what that means or where to find some good help on this issue?

[2016-12-05 20:05] IngoGege commented on #161
Hi,
could you share the parameters for Setup.exe and which version of Exchange you try to install?
Ciao,
Ingo

[2016-12-05 20:15] mhendric commented on #161
It sounds like you are probably hitting this issue: https://github.com/PowerShell/xExchange/issues/136. That was recently fixed, but hasn't been merged into the Master build of xExchange yet. Can you try downloading the latest Dev build of xExchange and see if this issue still occurs?

[2016-12-05 20:37] andlo commented on #161
I am using Exchange2016 CU3 om Windows Server 2016
This is my parameters
'/mode:Install /role:mb /Iacceptexchangeserverlicenseterms /OrganizationName:LAB /InstallWindowsComponents '

@mhendric as I am not the expert in powershell and DSC - how do I install the dev version ?

[2016-12-05 20:49] mhendric commented on #161
@andlo, go to the main module page here (https://github.com/PowerShell/xExchange), make sure the branch is set to Dev (instead of Master), and hit the green Clone or Download button.

[2016-12-05 20:50] mhendric commented on #161
Direct link: https://github.com/PowerShell/xExchange/archive/dev.zip

[2016-12-05 20:51] andlo commented on #161
@mhendric :) how to install it?

[2016-12-05 21:04] mhendric commented on #161
Same as any other custom PowerShell module. See: https://msdn.microsoft.com/en-us/library/dd878350(v=vs.85).aspx.

By default, you'd want to put it in C:\Program Files\WindowsPowerShell\Modules. Under there you'll have the xExchange folder. Directly under C:\Program Files\WindowsPowerShell\Modules\xExchange, you'll have DSCResources, Examples, Misc, and Test folders, and a couple files, including

[2016-12-05 21:05] mhendric commented on #161
Also, make sure to unblock all the files, as DSC won't use them if Windows thinks they're blocked. From a Administrator PowerShell window, you can run: dir 'C:\Program Files\WindowsPowerShell\Modules' -recurse | unblock-file

[2016-12-05 21:48] andlo commented on #161
Looks like same problem :( I did copy dev files on top of existing module. How do I se which version is in use ?

[2016-12-05 21:55] andlo commented on #161
Ohhh - I was to fast - have to test some more.

[2016-12-05 22:09] iainbrighton commented on #161
You'll need to recompile the MOF (on a host that has the Dev module installed) and then push/apply the new configuration :S

[2016-12-12 08:52] IngoGege commented on #161
I experienced the same error:ScriptHalted after "[[xExchInstall]InstallExchange] Task Action:". The task was registered and it's working when you start it manually. I'm looking into this now. The error is thrown by the function StartScheduledTask.

[2016-12-12 09:27] IngoGege commented on #161
scratch my previous statement...it's working. I did not kill WmiPrvSE, which cached the old module. Thus means the issue is fixed with the dev version...

[2016-12-15 05:10] maxxwizard opened #163 "new Example: InstallExchangeFromInternet"
1. Downloads an exe or iso directly from a URL (e.g. download.microsoft.com).
2. Extracts the exe or mounts the iso.

[2016-12-15 11:59] PrayingMoses opened #164 "MSFT_xExchOutlookAnywhere / Test-TargetResource / ExternalClientAuthenticationMethod"
Hi,

Within MSFT_xExchOutlookAnywhere the ExternalClientAuthenticationMethod is not being checked within Test-TargetResource. Therefore if a change on ExternalClientAuthenticationMethod is done, it won't be recognized and not set as specified in the configuration.

Regards

[2016-12-15 12:36] johlju commented on #163
A Resource like this, couldn't that be made more generic and not specific to Exchange? I see the potential to use such a (generic) resource for integration tests.

[2016-12-15 15:17] mhendric commented on #163
Looks like at least one person as already done a generic ISO resource. You may just need to find/write a generic file download resource (not sure if one exists or not).

http://www.powershellmagazine.com/2014/10/15/dsc-resource-for-mounting-and-dismounting-iso-images/

Agree with @johlju that whatever the solution is, it should be for solving a generic problem, not an Exchange specific problem.

[2016-12-15 15:33] johlju commented on #163
@plagueHO what is your thoughts? Do you have any suggestions for a good place to add this functionality?

[2016-12-15 18:12] iainbrighton commented on #163
Can't xFile download from a URI with checksum support?

[2016-12-15 18:42] maxxwizard commented on #163
thanks for the pointers. i had written the download code from scratch ;( but it was a lot of learning anyways.

it looks like xRemoteFile can download a file and cDiskImage can mount the E16 ISO.

WindowsProcess should be able to run the E15 exe to do the extraction.

should i still piece all these together into a resource for xExchange? perhaps i'll just make an example showing how to download Ex

[2016-12-15 18:58] mhendric commented on #163
Sounds to me like that would make an excellent blog post or walkthrough. I don't think this has a place as a xExchange resource. If anything, maybe you could put together a new Example config of how to use the resources you found to download, and mount the Exchange ISO, and then using xExchInstall to install it. We could add that to the existing Examples.

[2016-12-15 18:59] mhendric commented on #163
I'd like to leave the following example as is for simplicity, but you could do an Example that is very similar:

https://github.com/PowerShell/xExchange/tree/dev/Examples/InstallExchange

[2016-12-17 18:09] IngoGege commented on #159
Hi @mhendric ,
working now on MSFT_xExchDatabaseAvailabilityGroup as MSFT_xExchMailboxServer is covered in PR #167
Ciao,
Ingo

[2016-12-21 04:50] maxxwizard commented on #163
i'm playing around w/ Azure Automation so excuse all the extra code in these DSC configs for now.

i wrote an example for Exchange 2016:
https://gist.github.com/maxxwizard/e42d430a9f0806981ba510b54bdfa6c7

the download and mount works so i'm running a test deployment to a lab. if that succeeds, i'll submit a pull request.

[2016-12-21 04:54] maxxwizard commented on #163
i wrote an example for Exchange 2013 as well:
https://gist.github.com/maxxwizard/f9e5470144e1893d949a5d46d09f849f

this example is still not working after many attempts. the self-extracting exe is proving to be a giant pain. i tried multiple resources and got different errors every time:

-  **WindowsProcess** executes but the install gets attempted immediately. how do i wait for the extraction to

[2016-12-21 07:00] maxxwizard commented on #163
i rewrote the Exchange 2013 config to use a **Script** resource once again as it is the one likely to give me the most success.

https://gist.github.com/maxxwizard/38e04bb4b4f3c206e2d10b1420a90c76

testing the download and extraction code on my dev box works. i'll deploy via Azure Automation to some VMs see how the config fares in a real deployment.

[2017-01-02 11:52] jesperberth opened #169 "XExchInstall AllowImmediateReboot"
Hi

I have this issue when installing Windows Server 2012 R2 Exchange 2013 and Windows Server 2012 R2 Exchange 2016 running in Azure

Install works but throws this error

Do I need to define AllowImmediateReboot anywhere

New-AzureRmResourceGroupDeployment : 12:18:43 - Resource Microsoft.Compute/virtualMachines/extensions 'exch01/InstallExchange' failed with message '{
  "status": "Failed",
  "err

[2017-01-02 17:18] maxxwizard commented on #169
I get the same error when deploying using Azure Automation: "A parameter cannot be found that matches parameter name 'AllowImmediateReboot'."

full error details: https://gist.github.com/maxxwizard/cb4fcf5746e5cbd16e40fcec264acd2d

Have not gotten around to debugging it.

[2017-01-04 17:23] mhendric commented on #169
This looks like a bug to me. In Set-TargetResource, the following call is made:

$needReboot = CheckWSManConfig -AllowImmediateReboot $AllowImmediateReboot

However, CheckWSManConfig doesn't have an AllowImmediateReboot parameter:

function CheckWSManConfig
{
    [Diagnostics.CodeAnalysis.SuppressMessageAttribute("PSUseDeclaredVarsMoreThanAssignments", "")]
    [CmdletBinding()]
    param
    ()

[2017-01-04 19:32] jesperberth commented on #169
I agree, I have tried with -AllowImmediateReboot $AllowImmediateReboot commented out like this
#-AllowImmediateReboot $AllowImmediateReboot

But installation never ended, i will test tonight with the parameter removed

[2017-01-05 07:19] jesperberth commented on #169
Exchange Installation never started, Azure Deployment failed after 1hour 30 min, so i guess the -AllowImmediateReboot is needed though i cant see why??
{
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "details": [
      {
        "code": "VMExtensionProvisioningTimeout",

[2017-01-05 19:48] jesperberth commented on #169
Looking in the Configuration status folder

C:\Windows\System32\Configuration\ConfigurationStatus

I get this status

Applying the configuration after reboot is stopped because the meta configuration mof setting ActionAfterReboot is set to StopConfiguration

My dsc has

LocalConfigurationManager
        {
            ActionAfterReboot = 'ContinueConfiguration'
            ConfigurationMode = 'Appl

[2017-01-05 20:52] mhendric commented on #169
Are you seeing anything in the Exchange Setup log indicating that setup was kicked off? Or do you see ExSetup.exe (I think) running?

[2017-01-06 11:59] jesperberth commented on #169
No ExSetup.exe is running exchange and Setup log isn't created yet

Got the following from the last json file

Value 'UpdatedConfig' missing from registry key HKLM:\\SOFTWARE\\Microsoft\\Windows\\CurrentVersion\\WSMAN. Running: winrm i restore winrm/config"},

Last few lines

{"time": "2017-01-06T08:42:51.554+01:00", "type": "verbose", "message": "[EXCH01]: LCM:  [ Start  Resource ]  [[xPendingReb

[2017-01-06 12:12] IngoGege commented on #169
How is your LCM configured? Do you allow reboot?

[2017-01-06 12:20] jesperberth commented on #169
I belive so, this is from the configuration script, could it be controlled else where?

LocalConfigurationManager
        {
            ActionAfterReboot = 'ContinueConfiguration'
            ConfigurationMode = 'ApplyOnly'
            RebootNodeIfNeeded = $true
        }

[2017-01-06 12:26] IngoGege commented on #169
What about your mode: it's set to ApplyOnly. Shouldn't it be ApplyAndAutoCorrect?

[2017-01-06 12:31] jesperberth commented on #169
I have changed it to ApplyAndAutoCorrect, starting deployment again

[2017-01-06 12:38] IngoGege commented on #169
ApplyOnly should be sufficient, but Due to the fact that WinRm is being reconfigured, the connection get dropped. Are you running in a pull or push mode?

[2017-01-06 12:44] jesperberth commented on #169
Its running as a Azure JSON template using a DSC Extention so it should be Push mode?

[2017-01-06 13:46] IngoGege commented on #169
I guess. If this doesn't help, we might have to implement a workaround for push mode as the connection get lost...

[2017-01-06 14:08] IngoGege commented on #169
Just found an article, which stated that Azure is using pull mode. To be on the safe side could you run glcm on a machine?

[2017-01-06 15:04] mhendric commented on #169
So, if you reboot, then run the resource again, does Setup go through? IIRC, that's how this was designed. The reason the CheckWSManConfig function was originally put in is because if WinRM hadn't already been configured the way Exchange likes, Exchange would try to do it during setup. However that would cause DSC to lose connectivity to the server indefinitely, and setup wouldn't actually get to

[2017-01-06 21:33] jesperberth commented on #169
It works now without the -AllowImmediateReboot parameter in the xExchInstall.psm1 and with

LocalConfigurationManager
        {
            ActionAfterReboot = 'ContinueConfiguration'
            ConfigurationMode = 'ApplyAndAutoCorrect'
            RebootNodeIfNeeded = $true
        }

I am going to try a fresh deployment and see when it reboots

[2017-01-06 21:35] mhendric commented on #169
In addition to removing the -AllowImmediateReboot param in the call to CheckWSManConfig, we should probably add a Write-Warning statement in the following code block, indicating that a reboot is required before setup will continue. That may make it easier to see what is happening, as everything else related to CheckWSManConfig uses Write-Verbose.

        if ($needReboot -eq $true)
        {

[2017-01-09 08:08] jesperberth commented on #169
Does the -AllowImmediateReboot do any thing or is it just to Warn that a reboot will occure?

Had a second go
Installation runs now and finishes

I get a timeout in Azure deployment, as install runs for more than 90 min which is the limit in an Azure deployment

[2017-01-09 14:47] mhendric commented on #169
It did something at one point, probably early in the life of xExchange. I think there used to be a corresponding AllowImmediateReboot parameter on the resource. I must have tried to remove this at some point, but missed a case that used that parameter.

[2017-02-03 09:43] IngoGege commented on #159
Hi @mhendric ,
working now on MSFT_xExchClientAccessServer as MSFT_xExchDatabaseAvailabilityGroup is done and was tested as the other resource above.
Ciao,
Ingo

[2017-03-22 09:25] bgelens opened #174 "[New resource] xExchAcceptedDomain"
I'm working on a couple of new resources for xExchange.
xExchAcceptedDomain is the first.
https://github.com/bgelens/xExchange/tree/AcceptedDomain/DSCResources/MSFT_xExchAcceptedDomain
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wanted to give a heads-up :)

[2017-03-22 13:53] bgelens opened #175 "[New Resource] xExchSendConnector"
I'm working on a couple of new resources for xExchange.
xExchSendConnector is the second.
https://github.com/bgelens/xExchange/tree/SendConnector/DSCResources/MSFT_xExchSendConnector
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wanted to give a heads-up :)

[2017-03-23 09:15] bgelens opened #176 "[Updated Resource] xExchTransportService - Added WlmLogPath"
I'm working on a couple of new resources and updated resources for xExchange.
I have updated xExchTransportService with a WlmLogPath setting.
https://github.com/bgelens/xExchange/commit/e9835ff25f90dd59442821d84b2471cf6e9ade96
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wanted to give a heads-up :)

[2017-03-23 10:00] bgelens opened #177 "[Updated Resource] xExchMailboxServer - Added MigrationLogFilePath"
I'm working on a couple of new resources and updated resources for xExchange.
I have updated xExchMailboxServer with a MigrationLogFilePath setting.
https://github.com/bgelens/xExchange/commit/8c4a0672e7843bcd6ebcd636c0fb00a6fadd1e0f
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wanted to give a heads-up :)

[2017-03-23 10:29] bgelens opened #178 "[Updated Resource] xExchMailboxTransportService - Added MailboxDeliveryAgentLogPath and MailboxSubmissionAgentLogPath"
I'm working on a couple of new resources and updated resources for xExchange.
I have updated xExchMailboxTransportService with MailboxDeliveryAgentLogPath and MailboxSubmissionAgentLogPath settings.
https://github.com/bgelens/xExchange/commit/6af82741e0835bb741536450b04da6deafafa182
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wan

[2017-03-23 11:04] bgelens opened #179 "[Updated Resource] xExchImapSettings - Added LogFileLocation"
I'm working on a couple of new resources and updated resources for xExchange.
I have updated xExchImapSettings with a LogFileLocation setting.
https://github.com/bgelens/xExchange/commit/a30ce7cefc47e5bd902ab77ba9c49d3f43b4c7c9
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wanted to give a heads-up :)

[2017-03-23 12:06] bgelens opened #180 "[Updated Resource] xExchPopSettings - Added LogFileLocation"
I'm working on a couple of new resources and updated resources for xExchange.
I have updated xExchPopSettings with a LogFileLocation setting.
https://github.com/bgelens/xExchange/commit/edf24b1a4e78a2f0e8a0b0b250cb0986373f3e19
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wanted to give a heads-up :)

[2017-03-23 13:51] bgelens opened #181 "[New Resource] xExchFrontendTransportService"
I'm working on a couple of new resources for xExchange.
xExchFrontendTransportService is the third.
https://github.com/bgelens/xExchange/tree/FrontendTransportService/DSCResources/MSFT_xExchFrontendTransportService
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wanted to give a heads-up :)

[2017-03-23 16:03] bgelens opened #182 "[New Resource] xExchEdgeSyncServiceConfig"
I'm working on a couple of new resources for xExchange.
xExchFrontendTransportService is the fourth.
https://github.com/bgelens/xExchange/tree/EdgeSyncServiceConfig/DSCResources/MSFT_xExchEdgeSyncServiceConfig
I'll file some PRs later when I've added test, etc. (hurry right now because of a project that needs these)
Just wanted to give a heads-up :)

[2017-04-07 15:56] brwilkinson commented on #169
So to provide some more details on this . . . in the file MSFT_xExchInstall.psm1 (module version 1.14)

on line 67, there is a call to a helper function. . . called CheckWSManConfig
[code]

That helper function exists on line 219 and as you can see below contains a param block that is empty.

[code]

I was able to work around the issue by just adding the param value $AllowImmediateReboot back in t

[2017-04-21 20:28] bgelens commented on #174
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:28] #174 closed

[2017-04-21 20:29] bgelens commented on #175
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:29] #175 closed

[2017-04-21 20:29] bgelens commented on #176
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:29] #176 closed

[2017-04-21 20:29] bgelens commented on #177
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:29] #177 closed

[2017-04-21 20:29] bgelens commented on #178
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:29] #178 closed

[2017-04-21 20:30] bgelens commented on #179
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:30] #179 closed

[2017-04-21 20:30] bgelens commented on #180
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:30] #180 closed

[2017-04-21 20:30] bgelens commented on #181
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:30] #181 closed

[2017-04-21 20:30] bgelens commented on #182
I won't bring in these changes/additions anymore as I'm prohibited to do so :(

[2017-04-21 20:30] #182 closed

[2017-05-05 14:56] mhendric commented on #154
Resolved in https://github.com/PowerShell/xExchange/pull/183

[2017-05-05 14:56] #154 closed

[2017-05-11 21:12] mhendric commented on #169
In case anyone wants to test it or code review it, I have a pull request to fix this issue waiting here: https://github.com/PowerShell/xExchange/pull/184

[2017-05-11 21:15] mhendric commented on #161
Closing as resolved in: https://github.com/PowerShell/xExchange/issues/136

[2017-05-11 21:15] #161 closed

[2017-05-11 21:19] mhendric commented on #163
@maxxwizard , just checking to see where you ended up going with this? Were you able to get an example config together that may be a candidate for inclusion in the module?

[2017-05-16 15:25] mhendric commented on #169
Fixed in: https://github.com/PowerShell/xExchange/pull/184

[2017-05-16 15:25] #169 closed

[2017-05-16 15:25] mhendric commented on #164
Fixed in: https://github.com/PowerShell/xExchange/pull/185

[2017-05-16 15:25] #164 closed

[2017-05-20 03:24] maxxwizard commented on #163
sorry, i can't make this as a priority right now. let's close this issue and perhaps someone else can pick up where i left off.

[2017-05-20 03:24] #163 closed

[2017-05-26 16:42] mhendric commented on #155
Resolved in https://github.com/PowerShell/xExchange/pull/186

[2017-05-26 16:42] #155 closed

[2017-05-26 16:42] mhendric commented on #156
Resolved in https://github.com/PowerShell/xExchange/pull/186

[2017-05-26 16:42] #156 closed

[2017-05-29 19:24] fzavalloni opened #187 "Password Descryption WMF 5.1"
Hi Exports,

How are you!!!

Recently I installed the WMF 5.1 in my environment to test proposes.

However, after that, my password decryption stopped working. If I remove it, starts working again.

Are there anybody with this same issue?

[2017-05-30 06:24] IngoGege commented on #187
Hi @fzavalloni , this is a known bug in PowerShell: https://connect.microsoft.com/PowerShell/Feedback/Details/2080033 you can't mix WMF4.0 with WMF5.1. As you've already realized it breaks encryption.

[2017-05-30 20:11] mhendric commented on #158
Did a run through of all xExchange tests on Windows 2016/Exchange 2016, and everything works without issue. Doesn't look like anything will need to be changed within the module to support Windows 2016. Here's the specific environment info I tested in:

Windows Server 2016 Standard - Version 1607 (OS Build 14393.1198)
Exchange 2016 Cumulative Update 5
PowerShell 5.1.14393.1198

[2017-05-30 20:11] #158 closed

[2017-05-30 20:13] mhendric commented on #187
Closing issue, as this is a non-xExchange question. See @IngoGege 's response for resolution.

[2017-05-30 20:13] #187 closed

[2017-06-07 16:28] mhendric opened #190 "Need Resource for Upgrading via Cumulative Update"
A very common request for the xExchange module is the ability to apply a Cumulative Update against an already installed server (e.g. upgrading to the latest CU).

If anyone has any ideas on how this should be implemented, feel free to post here. One major design choice we'll need to make will be whether we should just extend xExchInstall to handle this, or whether we need a completely separate res

[2017-06-07 18:59] mhendric commented on #190
Adding my take on this. I feel there's probably going to be a lot of duplicate code between xExchInstall and whatever we do for the upgrade. If we want an xExchUpgrade specific resource, we'll probably need to abstract that common code into one of the common modules (like xExchangeCommon.psm1). Either way we go for the upgrade, we'll probably need a new parameter that signals what the target Excha

[2017-07-04 00:39] stgauvin opened #191 "xExchDatabaseAvailabilityGroup cannot create the CNO in AD and not created the FSW folder"
Hi, I use the xExchDatabaseAvailabilityGroup to create a DAG in my Exchange server, but the DSC resource doesn't create the computer object (CNO) for the DAG in the AD and it doesn't create the file share witness in the witness server.

The witness server is a Windows 2012 R2 and have the "Exchange Trusted Subsystem" already added to the local admin group.

The DSC Script doesn't produce an error

[2017-07-04 08:40] IngoGege commented on #191
Hi Steve,
ystarting with Windows Server 2012 it is required that you prestage CNO:
https://technet.microsoft.com/en-us/library/ff367878(v=exchg.160).aspx
As it fails to create the DAG, no cluster is created and therefore also no FSW. You should see in the MSExchange CmdletLogs errors for this.
Ciao,
Ingo

[2017-07-05 13:56] mhendric commented on #191
You may be able to use xADComputer from xExchActiveDirectory to pre-create the computer account. The xExchange module currently makes no attempt to create this, so you'll need to handle it elsewhere in your process.

https://github.com/powershell/xactivedirectory

[2017-07-11 20:00] #191 closed

[2017-07-13 13:44] IngoGege commented on #159
Hi @mhendric,
working now on xExchActiveSyncVirtualDirectory.
Ciao,
Ingo

[2017-07-21 19:24] stgauvin opened #193 "xExchMailboxDatabase not permit Unlimite for IssueWarningQuota, ProhibitSendQuota and ProhibitSendReceiveQuota"
Hi,
In my environment, I have some database with limits et some without limits.  I would like to know how I can set the database limits for IssueWarningQuota, ProhibitSendQuota and ProhibitSendReceiveQuota to value "Unlimited".

I receive this error:
PowerShell DSC resource MSFT_xExchMailboxDatabase  failed to execute Test-TargetResource functionality with error message: String 'Unlimited' is not

[2017-07-21 19:55] mhendric commented on #193
I can reproduce this as well. This doesn't look like something we currently test in MSFT_xExchMailboxDatabase.Integration.Tests.ps1 (although we do test Unlimited on properties CalendarLoggingQuota and RecoverableItemsQuota). Flagging this as a bug. Whomever works on this should make sure to update the pester tests as well.

[2017-07-21 20:07] mhendric commented on #193
Looks like the problem is in function CompareByteQuantifiedSizeWithString in xExchangeCommon.psm1. This line no longer appears to work (or perhaps never worked). Specifically, it is unable to parse the string "Unlimited":

$converted = [Microsoft.Exchange.Data.ByteQuantifiedSize]::Parse($String)

Here's the actual exception:

Exception calling "Parse" with "1" argument(s): "The string 'Unlimited'

[2017-07-21 20:12] stgauvin commented on #193
Thank you for your information.  I suppose that this bug was corrected in a future release ?

[2017-07-21 20:17] mhendric commented on #193
Chances are great that someone will fix this xExchange module bug at some point in the near future. I think we'll just need to puzzle out what the appropriate fix is.

[2017-08-23 13:32] drewz0ne commented on #139
We managed to deploy Exch2016Cu4 on a 2012R2 server with WMF5.1 in a fresh lab. Not sure how, but it works, I am not noticing any errors when opening shell and connecting to exch server as well as executing basic cmdlets.
Possibly someone has same experience?
Still don't thing if it is a good idea to deploy new servers in prod with above described scenario.

[2017-08-23 13:56] mhendric commented on #139
Hi @drewz0ne , no one has claimed that it won't work. It's just not tested by the Exchange product group, and thus not supported. If you do happen to run into an issue and want to call MS Support for assistance, they may ask you to roll back to an older version of WMF if they suspect it's a problem.

[2017-08-23 15:33] clawrenceks opened #194 "Ability to configured accepted domains"
I can't see any functionality available to support the declarative configuration of these at present, so I am going to handle using a Script Resource, but it would be good to be able to configure Accepted Domains within Exchange using a declarative style in DSC.

[2017-10-03 15:16] daBONDi commented on #193
Is someone working on this issue?, got the same problem

[2017-10-06 14:36] smtpport25 opened #196 "'BREAKING CHANGE: MSFT_xExchOwaVirtualDirectory to add some of the necessary parameters"
BREAKING CHANGE:  MSFT_xExchOwaVirtualDirectory to add some of the necessary parameters

ActiveSyncIntegrationEnabled - Boolean;
TextMessagingEnabled - Boolean;
ThemeSelectionEnabled - Boolean;
PublicFoldersEnabled - Boolean;
sMimeEnabled - Boolean;
NotesEnabled - Boolean;

Regards,
Krishna

[2017-10-06 14:41] smtpport25 commented on #196
Help Wanted

[2017-10-06 14:46] smtpport25 commented on #196
I will be working on the resource to update it.

Thank you

Regards,
Krishna

[2017-10-06 14:51] smtpport25 commented on #194
Can i pick this up to work this resource to get the xExchAcceptedDomain

Regards,
Krishna

[2017-10-09 15:03] mhendric commented on #194
@smtpport25  Absolutely. Thanks for the help.

[2017-10-13 17:49] mhendric commented on #193
Have a fix for this issue in PR https://github.com/PowerShell/xExchange/pull/197 . Someone want to code review it and/or test it out?

[2017-10-16 15:47] mhendric commented on #193
Resolved in https://github.com/PowerShell/xExchange/pull/197

[2017-10-16 15:47] #193 closed

[2017-10-27 16:35] johlju opened #200 "xExchInstall: Does not report errors and fails silently without informing LCM"
The resource starts a schedule task for the installation job (a new job after each failed run). This schedule task is not check for status, the resource expects that setup was successful when the ExSetup.exe process is no longer present. Meaning if setup fails, the resource are still reporting it as successful.

Using this configuration
[code]

Running the setup manually the resource outputs a cor

[2017-10-28 12:36] johlju opened #201 "xExchange: Verbose output in resources are lacking"
Could we add more verbose output in the resources. For example it would be nice for the resource xExchOwaVirtualDirectory to output previous value when changing, something like `"InternalUrl is different from desired state. Current value was 'X', expected 'Y'"`. For validation of the resources it's not easy to know what the function Set-TargetResource actually did or needed to do.

[2017-10-30 14:20] johlju opened #202 "Resource proposal: xExchIPBlockListProvider"
This resource would be a wrapper for the cmdlets `Get-IPBlockListProvider`, `Add-IPBlockListProvider` and `Remove-IPBlockListProvider` to update Connection Filtering.

The parameters would reflect the parameters from [Add-IPBlockListProvider](https://technet.microsoft.com/en-us/library/bb124358(v=exchg.160).aspx).

It seems that each resourse is a wrapper for a particual set of cmdlets. Would it b

[2017-11-03 17:49] mhendric commented on #202
Sounds like a good potential resource. Any volunteers to work on this?

[2017-11-03 17:58] mhendric commented on #201
The module should already do this, at least partially, in Test-TargetResource for any setting that uses the VerifySetting function (which in turn uses the ReportBadSetting function). The problem with the design of most of the current resources is that the tests return $false as soon as they find one mismatched setting. They don't proceed through the rest of the checks and report on any other setti

[2017-11-03 18:10] mhendric commented on #200
Trying to remember back to when this was written in 2014, I think the Scheduled Task was used for the install to avoid issues that occur when WinRM is recycled during Exchange installation, which would kill setup if it was invoked directly by the DSC resource.

The GetInstallStatus function used in xExchInstall should only return that Exchange is successfully installed if setup is not running, and

[2017-11-05 10:32] johlju commented on #200
Seems to be a function to handle that restart of WinRM - I did thought if that was necessary with Windows Server 2016 and Exchange 2016. Maybe that is another issue to look over that.

https://github.com/PowerShell/xExchange/blob/6c333f899f0a9c715b593ce52447d2e392cf17a9/DSCResources/MSFT_xExchInstall/MSFT_xExchInstall.psm1#L218-L220

What I can see it checks if 'ExSetup.exe' process is running - i

[2017-11-06 21:04] mhendric commented on #200
Yeah, the CheckWSManConfig function was added to try to preempt the WinRM restart issue, so perhaps it is time to try this without a scheduled task.  I'm not sure that it would solve this particular problem though.

Looking at the code you referenced from Set-TargetResource, I now see the problem too. I think we probably need to add an additional call to GetInstallStatus after it breaks out of the

[2017-11-07 07:40] johlju commented on #200
Calling `GetInstallStatus` after the `while`-loop should work as a temporary solution, since it would report that there is no Exchange installed. But it would not report what the error was. I’m not particular experienced in Exchange so maybe that error is reported somewhere else that can be found. If so, maybe we could print that in a verbose message where the user can find the error.

[2017-11-07 08:00] IngoGege commented on #200
We would need either the resultcode from ExSetup.exe or to parse the setup log to determine if it was successful and return the error. Maybe Application logs are helpfull. @mhendric do you remember a script or function, which were able to search the setup log? I think there was something..

[2017-11-07 17:23] johlju commented on #200
I agree that throw an error telling that something went wrong an ask the user to look in the above log would be best. If the resource would have done that I would have resolved the problem much faster in my case :smile:

[2017-11-08 10:39] razvan-b commented on #159
Hello @IngoGege,

We were trying to set the AutoD url using MSFT_xExchClientAccessServer . If we do not configure an ASA account then we get the following error : The username must be fully qualified! .
We added :
**if($null -ne $AlternateServiceAccountCredential)**
    **{**
        $parts = @($AlternateServiceAccountCredential.Username.Split('\'))
        if ($parts.Count -ne 2 -or $parts[0] -eq

[2017-11-08 12:37] IngoGege commented on #159
@razvan-b could you please share your config of this resource? Thanks!
Ciao,
Ingo

[2017-11-09 15:57] razvan-b commented on #159
@IngoGege
xExchClientAccessServer CAS
        {
            Identity                       = $Node.NodeName
            Credential                     = $ShellCreds
            AutoDiscoverServiceInternalUri = "$($Node.CASArrayUrlHttps)/autodiscover/autodiscover.xml"
            AutoDiscoverSiteScope          = "Site1","Site2"
        }

[2017-11-09 21:06] IngoGege commented on #159
@razvan-b found it. I don't know why I didn't get the error as it's obvious....will send a PR. Sorry and thanks!
Ciao,
Ingo

[2017-11-10 08:03] IngoGege opened #203 "xExchClientAccessServer throws error"
Set-TargetResource throws an error when AlternateServiceAccountCredential is not used. This is caused by the code:
$parts = @($AlternateServiceAccountCredential.Username.Split('\'))
if ($parts.Count -ne 2 -or $parts[0] -eq '')
{
    throw "The username must be fully qualified!"
}

[2017-11-10 20:29] razvan-b commented on #159
@IngoGege no worries. Thanks for the quick fix !

[2017-11-27 14:49] #203 closed

[2017-11-29 07:39] IngoGege commented on #159
Hi @mhendric ,
working on xExchAutodiscoverVirtualDirectory now.
Ciao,
Ingo

[2018-01-09 14:20] markgossa opened #208 "xExchWaitForDAG: Problem when joining multiple machines to a DAG"
In the Examples/EndToEndExample/6-ConfigureDAG.ps1, I ran into an issue where the first node is joining the DAG but the second node thinks the DAG is up and is also trying to join the DAG. It sometimes works and sometimes doesn't depending on which one start first.

To get around it, I used something like this instead of xWaitForDAG:

`        WaitForAll FirstDAGMember
        {
            Resour

[2018-01-12 21:37] berchouinard opened #209 "Problem with xExchMaintenanceMode"
Trying to put the server into maintenance mode it throws this error:
Server is not fully in maintenance mode after running through steps to enable maintenance mode
The send configuration apply function did not succeed

Need to add the switch -pauseclusternode on line 207 and 211 in MSFT_xExchMaintenanceMode.psm1

There is 2 Instance of the Set-Servicestate function in TransportMaintenance.psm1

Tr

[2018-01-12 22:10] mhendric commented on #208
@markgossa do you have any additional info on how this fails when you see it fail? Once the DAG is created, I don't think it should really matter who tries to join the DAG first (anyone feel free to correct me if I'm wrong). In the example, the first DAG member uses the xExchDatabaseAvailabilityGroup resource to create the DAG, and the next resource it uses is xExchDatabaseAvailabilityGroupMember

[2018-01-14 23:40] markgossa commented on #208
@mhendric - From what I know, the first member to join the DAG creates the computer object in AD and assigns permissions to it etc. What was happening was that the DAG members would join at the same time and all but one would report that they can't join the DAG because the computer object was already enabled.

I'll spin up my test lab over the next few days and test without DSC and get some logs s

[2018-01-16 16:01] mhendric commented on #208
@markgossa Ahhh... gotcha. I pretty much always pre-create the DAG computer account (per [this](https://technet.microsoft.com/en-us/library/ff367878(v=exchg.160).aspx)), so that's why I probably don't hit this in my testing. If anything, maybe we need to modify xExchWaitForDAG to look for the DAG object AND the computer account. Or at least add a parameter which makes the latter check an option.

[2018-01-16 22:52] markgossa commented on #208
@mhendric actually, in my troubleshooting I came across that article but still had the same problem. Let me spin up a new test lab and do some testing and get back to you :smile: I'm willing to do a PR to fix xWaitForDAG once I work out how to fix it so feel free to assign to me.

[2018-02-12 19:54] IngoGege opened #211 "CompareUnlimitedWithString breaks xExchTransportService resource"
Hi @mhendric,
somehow the change #199 broke the test for Unlimited values like MaxPerDomainOutboundConnections. The error is as follows:

Cannot process argument transformation on parameter 'ByteQuantifiedSize'. Cannot convert the "20" value of type "Microsoft.Exchange.Data.Unlimited`1[[System.Int32, mscorlib,
Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089]]" to type "Microsoft.

[2018-02-12 20:51] mhendric commented on #211
Hi @IngoGege , do you have repro steps for this (i.e. what to have the values set to before, and what script config to execute to cause this)?

[2018-02-12 21:19] IngoGege commented on #211
Hi @mhendric ,
here is the config for a repro:
xExchTransportService TransportService
    {
        Identity = $Node.NodeName
        Credential = $ShellCreds
        AllowServiceRestart = $true
        MaxPerDomainOutboundConnections = '50'
    }
I just came across this while updating prod to latest module .17=>.19
I think the error is the following line(351):
elseif ((CompareStrings -String1 "Un

[2018-02-12 21:55] mhendric commented on #211
It looks to me like the error is probably coming from line 357 of xExchangeCommon.psm1, or from CompareByteQuantifiedSizeWithString() itself. It's getting passed a value of type Unlimited, but it's failing to convert it over to a ByteQuantifiedSize. If the value is really a type Unlimited though, I'm not sure why it doesn't go into the if block on line 347, or the else if block on 351.

We'll prob

[2018-02-14 07:25] IngoGege commented on #211
Hi @mhendric ,
sorry for the delay..busy days. I have a repro and try to get this fixed. Actually it's not Unlimited and the comparison with function CompareStrings should do the job.
Ciao,
Ingo

[2018-02-15 13:25] markgossa commented on #208
@mhendric I've been away the last few weeks so not been able to get round to this but I will over the next two weeks.

[2018-02-19 10:45] IngoGege commented on #211
Hi @mhendric ,
I've created a PR. The test for xExchMailboxDatabase still behaves as it should.
Ciao,
Ingo

[2018-03-13 15:29] wshep007 opened #213 "Get-DscConfiguration : GetConfiguration did not succeed."
I'm getting the following error when running Get-DscConfiguration.
[code]
I get the error on the following modules: xExchOwaVirtualDirectory, xExchEcpVirtualDirectory, xExchMapiVirtualDirectory, xExchOutlookAnywhere, xExchReceiveConnector & xExchMailboxServer

Is there any workaround or solution for this?

[2018-03-23 17:56] mhendric commented on #213
Hi @wshep007 . I don't believe I've tested Get-DscConfiguration with an xExchange config in place before. I tried on a couple servers, and they all fail, but with different errors. Question for the community: has ANYONE ever successfully run Get-DscConfiguration on a machine with xExchange deployed?

[2018-04-06 12:28] IngoGege commented on #213
Hi @mhendric , sorry for the delay. I've seen this also for some DSC Resources. But not only for the Exchange ones. Something we should fix.
Ciao,
Ingo

[2018-05-09 19:44] luigilink opened #216 "FeedBack - Split ReadMe and ChangeLog in two separate files"
Like other Dsc Modules, what do you think of the splitting of readme and changelog in two .md files ?

Suggested PR #215

[2018-05-10 08:39] johlju commented on #216
I like this! It's easier to reference the change log when it's in a separate file.

[2018-05-10 08:43] johlju commented on #216
This was resolved in #215

[2018-05-10 08:43] #216 closed

[2018-05-10 08:58] johlju commented on #133
Closing this issue per issue author last comment.

[2018-05-10 08:58] #133 closed

[2018-05-10 09:02] johlju commented on #134
I'm closing this as it seems to be an external problem and cannot be solved within this resource module. If this issue still happens then please comment on this issue.

[2018-05-10 09:02] #134 closed

[2018-05-10 09:09] johlju commented on #159
@mhendric Could you possible split this into an issue per resource that still haven't been resolved? It's easier for a contributor to close an issue by referencing it in a PR.

[2018-05-10 09:11] johlju commented on #194
@smtpport25 Did you start the work on the resource? Do you have anything you can PR in?

[2018-05-10 09:13] johlju commented on #196
@smtpport25 Not sure this a breaking change unless there a new keys or required parameters, is it? Did you start work on this? Do you have something to PR in?

[2018-05-10 09:26] johlju commented on #213
The problem think  is that the resources should always return a hash table with the properties, with `$null` values if the actual value can't be looked up.

Looking here the resource is returning $null instead of a hash table when `$null -eq $OwaVdir`.

https://github.com/PowerShell/xExchange/blob/85e3540a38cc0898829208b762aee711f218486f/DSCResources/MSFT_xExchOwaVirtualDirectory/MSFT_xExchOwaVirt

[2018-05-10 09:27] johlju commented on #213
Suggest that this be split up to separate issues for each resource that has this problem.

[2018-05-14 10:22] johlju opened #219 "xExchange: Unit test and integration tests should be in separate folders"
The unit tests and integration tests are not in the same folder.

They should be moved to to these folders

Unit: \Tests\Unit
Integration: \Tests\Integration

[2018-05-14 10:26] johlju opened #220 "xExchInstall: Missing integration tests"
An integration test should be implemented for this resource so that the other integration tests could be run.
If possible, this integration test should download and then install Exchange using xExchInstall resource.

It should use the [integration tests template](https://github.com/PowerShell/DscResources/tree/master/Tests.Template).

[2018-05-15 13:02] luigilink opened #221 "BREAKING CHANGE: TransportMaintenance.psm1-Remove-CompletedEntriesFromHashtable: Remove default value for Switch Param"
**Details of the scenario you tried and the problem that is occurring:**
Suggested by [DSC Resource Kit PSSA Rule Severities](https://github.com/PowerShell/DscResources/blob/master/PSSARuleSeverities.md), Switch parameters should always default to 'not provided'.

File impacted by this breaking change: TransportMaintenance.psm1
Function impacted: Remove-CompletedEntriesFromHashtable
Parameter impa

[2018-05-15 13:03] luigilink opened #222 "TransportMaintenance.psm1 Update-EntriesTracker: Remove default value for Switch Param"
**Details of the scenario you tried and the problem that is occurring:**
Suggested by [DSC Resource Kit PSSA Rule Severities](https://github.com/PowerShell/DscResources/blob/master/PSSARuleSeverities.md), Switch parameters should always default to 'not provided'.

File impacted by this breaking change: TransportMaintenance.psm1
Function impacted: Update-EntriesTracker
Parameter impacted: $DetailLo

[2018-05-15 13:05] luigilink opened #223 "TransportMaintenance.psm1 Wait-EmptyEntriesCompletion: Remove default value for Switch Param"
**Details of the scenario you tried and the problem that is occurring:**
Suggested by [DSC Resource Kit PSSA Rule Severities](https://github.com/PowerShell/DscResources/blob/master/PSSARuleSeverities.md), Switch parameters should always default to 'not provided'.

File impacted by this breaking change: TransportMaintenance.psm1
Function impacted: Wait-EmptyEntriesCompletion
Parameter impacted: $De

[2018-05-15 13:07] luigilink opened #224 "TransportMaintenance.psm1 LogIfRemain: Remove default value for Switch Param"
**Details of the scenario you tried and the problem that is occurring:**
Suggested by [DSC Resource Kit PSSA Rule Severities](https://github.com/PowerShell/DscResources/blob/master/PSSARuleSeverities.md), Switch parameters should always default to 'not provided'.

File impacted by this breaking change: TransportMaintenance.psm1
Function impacted: LogIfRemain
Parameter impacted: $DetailLogging

Iss

[2018-05-15 13:08] luigilink opened #225 "TransportMaintenance.psm1 Clear-DiscardEvent: Remove default value for Switch Param"
**Details of the scenario you tried and the problem that is occurring:**
Suggested by [DSC Resource Kit PSSA Rule Severities](https://github.com/PowerShell/DscResources/blob/master/PSSARuleSeverities.md), Switch parameters should always default to 'not provided'.

File impacted by this breaking change: TransportMaintenance.psm1
Function impacted: Clear-DiscardEvent
Parameter impacted: $DetailLoggi

[2018-05-15 16:18] luigilink opened #226 "Fix Diagnostics.CodeAnalysis.SuppressMessageAttribute best practices"
**Details of the scenario you tried and the problem that is occurring:**
I saw that ShouldProcess is not supported in DSC resources.
But we have also the PSSA rule PSUseShouldProcessForStateChangingFunctions.

`Function ’Set-TargetResource’ has verb that could change system state. Therefore, the function has to support 'ShouldProcess'.`

So what's the best way to handle it ?

**The DSC configurati

[2018-05-15 16:27] johlju commented on #226
The rule `PSUseShouldProcessForStateChangingFunctions` should not be hit. Are you getting errors from that rule in the common tests?
It is listed under [Ignore](https://github.com/PowerShell/DscResources/blob/master/PSSARuleSeverities.md#ignore) meaning the common tests should ignore functions that should normally have this.

We should not use `ShouldProcess` or `SupportsShouldProcess` in function

[2018-05-15 18:14] luigilink commented on #226
No there isn't errors in the common tests for this rule.
But I find sometimes in this module for Set-TargetResource:
[Diagnostics.CodeAnalysis.SuppressMessageAttribute("PSUseShouldProcessForStateChangingFunctions", "")]
So I try to understand what's the best practices for SuppressMessageAttribute.
Maybe I have to rename the title of this issue with:
Do we keep Diagnostics.CodeAnalysis.SuppressMess

[2018-05-15 18:26] johlju commented on #226
You are correct. You should be able to remove those from the code.

SuppressMessageAttribute should only be used when needed for those attributes we are allowed to override (see PSSA file in DscResources)

[2018-05-16 20:27] luigilink commented on #226
I renamed the issue title and it will be great to use this issue to remove all unnecessary SuppressMessageAttribute that are already managed by DSC Resource Kit PSSA Rule Severities:

- PSDSCDscExamplesPresent
- PSDSCDscTestsPresent
- PSUseBOMForUnicodeEncodedFile
- PSUseShouldProcessForStateChangingFunctions
- PSUseSingularNouns
- PSUseToExportFieldsInManifest
- PSUseUTF8EncodingForHelpFile

[2018-05-18 07:28] IngoGege commented on #159
Hi @mhendric ,
the following ones have been fixed meanwhile:
MSFT_xExchClientAccessServer
MSFT_xExchMailboxServer
MSFT_xExchDatabaseAvailabilityGroup
MSFT_xExchActiveSyncVirtualDirectory
MSFT_xExchAutodiscoverVirtualDirectory
Thus means the followings are still open:
xExchEcpVirtualDirectory
xExchExchangeServer
xExchImapSettings
xExchMailboxTransportService
xExchOwaVirtualDirectory
xExchPopSetting

[2018-05-18 10:25] johlju commented on #223
Removed breaking change as per https://github.com/PowerShell/xExchange/pull/218#issuecomment-389579101.

[2018-05-18 10:25] johlju commented on #222
Removed breaking change as per https://github.com/PowerShell/xExchange/pull/218#issuecomment-389579101.

[2018-05-18 10:26] johlju commented on #225
Removed breaking change as per https://github.com/PowerShell/xExchange/pull/218#issuecomment-389579101.

[2018-05-18 10:26] johlju commented on #224
Removed breaking change as per https://github.com/PowerShell/xExchange/pull/218#issuecomment-389579101.

[2018-05-19 13:55] johlju commented on #225
This was merged in #218.

[2018-05-19 13:55] #225 closed

[2018-05-19 13:55] johlju commented on #224
This was merged in #218.

[2018-05-19 13:55] #224 closed

[2018-05-19 13:55] johlju commented on #223
This was merged in #218.

[2018-05-19 13:55] #223 closed

[2018-05-19 13:55] johlju commented on #222
This was merged in #218.

[2018-05-19 13:55] #222 closed

[2018-05-21 11:49] luigilink opened #229 "Improve the use of the xExchange helper module"
#### Details of the scenario you tried and the problem that is occurring
Actually the helper module xExchangeCommon.psm1 is imported 3 times by ressources (in get, test and set), I suggest these actions to improve the usage:

- Rename xExchangeCommon.psm1 to xExchangeHelper.psm1 (like other DSC modules)
- Rename the folder MISC (that contains the helper) to Modules
- Add this module in xExchange.p

[2018-05-22 09:55] johlju commented on #229
@mhendric What do you think of this change that is in PR? This changes each resource, and we don't have any unit tests in this resource module that can verify that type of functionality.

@luigilink Have you run the integration tests against PR #230?

[2018-05-22 09:56] johlju commented on #229
@luigilink ...or manually tested the resources with this changes proposed in the resource module in PR #230?

[2018-05-22 10:17] luigilink commented on #229
@johlju The integration tests are automatically run during the build. And I also renamed the helper module in each test.

[2018-05-22 13:04] johlju commented on #229
@luigilink Each integration test checks if Exchange is installed, if it isn't it does nothing.

https://github.com/PowerShell/xExchange/blob/0592fe543f9eaae2a9ad9e24bbe500600f14c762/Tests/MSFT_xExchActiveSyncVirtualDirectory.Integration.Tests.ps1#L8-L10

Since it isn't installed, then no integration tests are run. In AppVeyor you only see the filename in the output.
https://ci.appveyor.com/project

[2018-05-22 13:05] johlju commented on #229
@luigilink this resource has essentially no tests in the CI pipeline,

[2018-05-22 13:23] luigilink commented on #229
@johlju Crap! 😕 So we have to put the associated PR in hold until we have all tests ?

[2018-05-22 13:27] johlju commented on #229
If you could validate the proposed change manually then I feel more comfortably merging the change. Also, let's wait for @mhendric, he is the main maintainer for this resource module. I'm just helping out getting your style change/improvements through (those I'm comfortably will work without tests).

[2018-05-22 13:32] #226 closed

[2018-05-24 09:42] luigilink commented on #149
Working on fix Custom Script Analyzer Rules.
See PR #232

One more thing to solve and this issue will be closed:
MSFT_xExchAutoMountPoint.psm1 (Line 548): Found global variable 'global:VolumeToMountPointMap'.

@mhendric Why do we need this global variable in this resource ?

[2018-05-24 16:07] mhendric commented on #229
Seems fine to me, however I think we need to run all the Integration tests to be absolutely sure it doesn't break anything. Do one of you have an Exchange lab to test in? If not, can one of you let me know how to download a copy of the module that has these proposed changes merged into, and I can run the tests in my lab?

[2018-05-24 16:15] mhendric commented on #149
IIRC, it was added as a global variable for a few reasons. 1. It needs to be used in many functions, and I wanted to avoid having to pass it as a parameter to every function. 2. It takes a bit of time to scan the file system to build the variable, so I wanted to avoid having to build it more than once. A possible 3, although I don't recall how this is handled in DSC, is that it can be persisted be

[2018-05-24 19:58] mhendric commented on #229
I just ran all the Integration tests in my lab (minus the DAG tests, as I don't currently have two servers of the same version), and everything passed. I'm good with this change.

[2018-05-25 11:53] johlju commented on #229
@mhendric Thanks for testing this!

[2018-05-25 11:58] #229 closed

[2018-05-25 13:42] johlju commented on #149
It seems that GetDiskInfo is called in each function (and several other times), I haven't looked into this more that a couple of minutes, but to me it seems it runs diskpart.exe (`GetDoskInfo`) many times, not reusing the global variable, but I can be wrong. But if I'm right there is no speed lost by replacing it with parameters (result from GetDiskInfo is passed to all helper functions that need

[2018-05-28 16:06] luigilink commented on #219
How can we see which one is Unit and which one is Integration ?
I want to help on this issue but I don't know how to put the right test in the right folder.

[2018-05-29 07:38] johlju commented on #219
Assume those that are named '*Integration*' are integration tests and those that are not, verify the code so they do not do changes on the computer. Unit tests should be able to be run on a computer without Exchange and still pass (since they should mock cmdlets).

[2018-05-29 16:39] luigilink commented on #219
@mhendric To be sure, can you tell me which one is integration and which one is unit ?

[2018-05-29 17:48] mhendric commented on #219
@luigilink Everything should be Integration tests EXCEPT xExchangeCommon.Unit.Tests.ps1, xExchangeConfigHelper.Unit.Tests.ps1, and xExchange.Tests.Common.psm1. The first defines the current Unit tests (just one), the second is a helper file for Unit tests, and the third is a helper file used by both Integration and Unit tests.

[2018-05-31 06:02] johlju opened #233 "Avoid using the Win32_Product WMI class"
#### Details of the scenario you tried and the problem that is occurring
This repository has reference to Win32_Product WMI class. As reported in issue https://github.com/PowerShell/DscResources/issues/108, if possible then avoid using the Win32_Product.

There might not be possible to avoid using it, but for someone to determine that an issue is opened in very repository that has a reference to W

[2018-05-31 06:07] #149 closed

[2018-05-31 06:12] johlju opened #234 "xExchange: Opt-in for PSSA Flagged Script Analyzer Rules"
#### Details of the scenario you tried and the problem that is occurring
Their are still one more PSSA rule to opt-in for. To opt-in for this one, all global variables need to be resolved. This was discussed in https://github.com/PowerShell/xExchange/issues/149#issuecomment-391773585.

[code]

#### The DSC configuration that is using the resource (as detailed as possible)
n/a

#### Version of the

[2018-06-08 11:01] #219 closed

[2018-06-10 19:04] luigilink commented on #234
I moved function that use global variables in xExchangeDiskPart.psm1.
I admit it was an easy fix but I think we have to think differently the purpose of the resource MSFT_xExchAutoMountPoint. In fact, can we use StorageDsc as a prerequesite in example files and remove the resource MSFT_xExchAutoMountPoint definitely.
What do you think ?

[2018-06-11 07:34] johlju commented on #234
It seems the resource have parameters related to Exchange, so I don't think it's possible to replace the resource 1:1 against StorageDsc. But definitely work looking into if StorageDsc can help instead of having duplicate logic. But sounds like another issue 🙂

[2018-06-12 20:21] khansaif786 opened #238 "Waited 60 seconds, but was unable to detect that ExSetup.exe was started The SendConfigurationApply function did not succeed. LCM failed to start desired state configuration manually."
#### Details of the scenario you tried and the problem that is occurring

#### The DSC configuration that is using the resource (as detailed as possible)

[code]
[code]

[code]

#### Version of the operating system and PowerShell the target node is running

[code]
#### Exchange Server edition and version the target node is running
Exchange 2013 CU20

#### Version of the DSC module you're using, or

[2018-06-13 06:29] johlju commented on #238
Could you provide the verbose output when you run the configuration? It helps the community to help you in this issues.

[2018-06-18 16:09] mhendric commented on #234
Sorry for the late response. There's a bunch of functionality in MSFT_xExchAutoMountPoint that aligns with the recommended way to setup Exchange mount points that I think would be hard to reproduce with a non-Exchange specific resource without a lot of work on the administrator end. See this blog post to get an idea of what all this is used for:

https://blogs.technet.microsoft.com/mhendric/2014/1

[2018-06-19 08:28] johlju commented on #234
@mhendric I figured, great information! @luigilink using StorageDsc is no go then 🙂

[2018-06-24 08:17] khansaif786 commented on #238
VERBOSE: [2018-06-13 21:26:02Z] Extension request for sequence number 0
attempting to acquire lock.0 file
VERBOSE: [2018-06-13 21:26:02Z] Extension request for sequence number 0
attempting to acquire lock file
VERBOSE: [2018-06-13 21:26:02Z] File lock does not exist: begin processing
VERBOSE: [2018-06-13 21:26:02Z] Starting DSC Extension ...
VERBOSE: [2018-06-13 21:26:02Z] Getting handler executio

[2018-06-25 07:44] johlju commented on #238
It seems it starts a schedule task. Are that task reporting any errors? What are the error message?
[code]

[2018-06-25 16:41] mhendric commented on #238
Do you see any relevant errors in the ExchangeSetup.log file? That's where I'd look first. Also, just FYI, PowerShell 5+ is not supported with Exchange 2013 per: https://technet.microsoft.com/en-us/library/ff728623(v=exchg.150).aspx

[2018-06-26 18:49] khansaif786 commented on #238
Yes, it create schedule task and start the setup. Good part is that installation (Exchange Installation) complete successfully. But in azure DSC extension configuration shoes fail.

Also as per the log just after starting the task it move to [[xPendingReboot]AfterExchangeInstall] without waiting to complete the exchange installation.

[[xExchInstall]InstallExchange] Created Scheduled Task with nam

[2018-06-26 19:22] mhendric commented on #238
Ok. I think this is a duplicate of https://github.com/PowerShell/xExchange/issues/200 then. I could have sworn that got fixed already, but apparently not. I'll take ownership of issue 200 and get it fixed.

[2018-06-26 20:37] mhendric opened #241 "xExchInstall: Broken in 1.21.0.0"
ISSUE TITLE:
xExchInstall: Broken in 1.21.0.0

ISSUE DESCRIPTION (this template):
It looks like xExchInstall was broken in https://github.com/PowerShell/xExchange/pull/218. Changing 'Invoke-Expression -Command' to '&' prevents the winrm command from executing correctly, as it tries to execute the command and all the parameters as an executable. You can reproduce this by trying to run 'Invoke-Expre

[2018-06-27 13:33] johlju commented on #241
The goal was to remove Invoke-Expression since it reports as a PSSA rule.

This works
[code]

or for testing
[code]

But why was it using Invoke-Expression at all? Couldn't we just run the below?

[code]

[2018-06-27 14:06] mhendric commented on #241
Looks like any of those options work. I'll probably go with the last one. I'll add a fix for this while working on https://github.com/PowerShell/xExchange/issues/200

[2018-06-30 10:01] #200 closed

[2018-06-30 10:01] #241 closed

[2018-07-02 16:05] mhendric commented on #238
Hi @khansaif786 . This has been resolved in https://github.com/PowerShell/xExchange/pull/242 .

[2018-07-02 16:05] #238 closed

[2018-07-05 22:53] khansaif786 commented on #238
Thank for you for providing the fix.
However I am still getting below error, but when check in the box. Exchange was installed scuessfully.

{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details.","details":[{"code":"Conflict","message":"{\r\n \"status\": \"Failed

[2018-07-06 07:13] johlju commented on #238
@khansaif786 could you please open a new issue with more context? Since this looks like a new issue?

[2018-07-06 17:59] khansaif786 opened #243 "Waited 60 seconds, but was unable to detect that ExSetup.exe was started"
#### Details of the scenario you tried and the problem that is occurring

continuation of issue https://github.com/PowerShell/xExchange/issues/238#issuecomment-396828411
I am deploying exchange server 2013 CU 20 via azure VM extension. But deployment is thronging following error . However, installation complete successfully.
======
VM Extension error:
"DeploymentFailed","message":"At least one res

[2018-07-06 19:20] mhendric commented on #243
This is an interesting one. Looking at the code, there should be no way to get from {Write-Verbose -Message 'Waiting up to 60 seconds before exiting to give time for ExSetup.exe to start'} to {throw 'Waited 60 seconds, but was unable to detect that ExSetup.exe was started'} without having waited at least 60 seconds and not detected ExSetup running. Looking at your logs though, it looks like only 1

[2018-07-10 08:36] DelectableMechanisations opened #244 "xExchAutoMountPoint - Test-TargetResource fails in some scenarios due to invalid parameter name"
#### Details of the scenario you tried and the problem that is occurring
When using the xExchAutoMountPoint DSC Resource to configure storage for the Exchange Databases this applies the configuration without a problem.
If you try to re-apply the DSC Resource using ``Start-DscConfiguration -UseExisting`` this will throw an error for each disk that had previously been configured during the run of th

[2018-07-10 15:58] johlju commented on #244
Labeled this as a bug an help wanted so that anyone in the community can run with it.

[2018-07-10 16:19] mhendric commented on #244
Hi @DelectableMechanisations , do you want to handle the fix for this? If not, I can take this. If you do want to take it, it would be good to create a new Unit test file for xExchAutoMountPoint, which has a test that reproduces the issue.

[2018-07-10 16:45] mhendric commented on #244
On second thought, I'm not sure that this issue is testable both before and after the fix. I think we could test for it before the fix by manually call the function with the -DB switch, but that test won't be the same after we rename the DB parameter to Database. Unless someone has an idea of how to test this before and after, we'll probably have to omit a new test.

[2018-07-10 19:41] johlju commented on #244
If you make a unit test that test the call to this function, with the new parameter name, then that will be the regression test.

You could make a regression test that calls the function with the current (old) parameter name and make sure it throws the correct error message (that PowerShell throws when missing a parameter). But that really seems unnecessary?

[2018-07-10 20:28] mhendric commented on #244
Yeah, I'm thinking a Unit Regression test may not be that informative, and may not be easy to accomplish. Before the change, we'd have to use parameters AutoDagDatabasesRootFolderPath and DB, but Database would not be an option. After the change, we could test with AutoDagDatabasesRootFolderPath, Database, and Debug, but that's not really telling us anything we don't already know.

I think an Inte

[2018-07-12 15:56] khansaif786 commented on #243
Sorry for the delay in sharing more details.

Now as per your recommendation I am using this code for Azure DSC Extension which is using PowerShell 4.0

=========
    {
      "name": "[concat(variables('VMName'), '/Exchprereq')]",
      "type": "Microsoft.Compute/virtualMachines/extensions",
      "location": "[resourceGroup().location]",
      "apiVersion": "2016-03-30",
      "dependsOn": [

[2018-07-13 17:53] mhendric commented on #234
Providing an update on this one. After https://github.com/PowerShell/xExchange/pull/245 is checked in, which includes Integration tests for all functionality in xExchAutoMountPoint, I will start working on removing the global variables from this resource. I will also see if I can replace the diskpart usage with native PowerShell cmdlets.

[2018-07-13 20:07] mhendric commented on #243
Looks like you failed in MSFT_xRemoteFile before failing in MSFT_xExchInstall. Can you try to resolve those errors first, then try again?

[2018-07-15 07:58] mattcowen opened #246 "xExchWaitForADPrep:Is there any way to prep AD using xExchange?"
#### Details of the scenario you tried and the problem that is occurring
Just a question. Is there anything in this module that helps prep AD. I see xExchWaitForADPrep but that looks to be waiting for the prep to complete. There doesn't appear to be anything in the end-to-end example that demonstrates what needs to be done to AD.
If I try...
`		xExchInstall PrepADDomain
		{
			Path = "C:\Exchange\

[2018-07-15 09:19] johlju commented on #246
I think the winrm problem was solved in the dev-version. Please see the change log.
Please download the Dev-version and try with that.

[2018-07-16 06:48] mattcowen commented on #246
The dev branch did resolve this

[2018-07-16 06:48] #246 closed

[2018-07-16 06:57] mattcowen opened #247 "xExchInstall:PrepareAD call should not return as failed when it is successful"
#### Details of the scenario you tried and the problem that is occurring
When running xExchInstall with the /PrepareAD and PrepareDomain switches, I find the installation was successful (actually I had to disable Hybrid detection by setting a registry key but that's a different issue) but the DSC reports that there was a failure and refers me to the ExchangeSetupLogs.txt. When I look in the log I

[2018-07-16 12:17] johlju commented on #247
Can you provide the verbose logs when you get the error?

[2018-07-16 16:01] mhendric commented on #247
So, if I remember correctly, and from briefly searching through the code, I don't think xExchInstall currently handles any Setup.exe /Prepare* commands. As you have found, the resource will still execute the commands, however the resource has no checks to see if they worked properly. I believe this would be good functionality to add, however it would be a resource enhancement, not a bug fix. If so

[2018-07-16 16:03] mhendric commented on #246
Per my comments in https://github.com/PowerShell/xExchange/issues/247 , there is no functionality currently for both running Setup.exe /Prepare* and checking whether it was successful. I think this would be a good enhancement if someone wants to work it.

[2018-07-16 19:22] #244 closed

[2018-07-17 18:14] mhendric opened #249 "README.md: Requirements Don't Not Align With Exchange Server Supportability Guidance"
Pull request https://github.com/PowerShell/xExchange/pull/215 introduced a new Requirements section in README.md, which states that the xExchange module requires WMF 5 / PowerShell 5 or higher. The support stance from the Exchange product group is that they only support the version of WMF / PowerShell that shipped with the Operating System. If xExchange is made to require PS 5 or higher, that has

[2018-07-17 21:08] mhendric commented on #159
Closing this issue, and opening up issues for each individual resource. As of 7/17/2018, here's the resources I know to be good:

xExchActiveSyncVirtualDirectory
--
xExchClientAccessServer
xExchDatabaseAvailabilityGroup
xExchDatabaseAvailabilityGroupMember
xExchDatabaseAvailabilityGroupNetwork
xExchEventLogLevel
xExchMailboxServer
xExchMapiVirtualDirectory
xExchOabVirtualDirectory
xExchOutlookAnyw

[2018-07-17 21:08] #159 closed

[2018-07-17 21:14] mhendric opened #250 "xExchAutodiscoverVirtualDirectory: Add Missing Cmdlet Parameters"
The xExchAutodiscoverVirtualDirectory resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/client-access-servers/set-autodiscovervirtualdirectory . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be includ

[2018-07-17 21:15] mhendric opened #251 "xExchEcpVirtualDirectory: Add Missing Cmdlet Parameters"
The xExchEcpVirtualDirectory resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/client-access-servers/set-ecpvirtualdirectory . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters spe

[2018-07-17 21:16] mhendric opened #252 "xExchExchangeCertificate: Add Missing Cmdlet Parameters"
The xExchExchangeCertificate resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/encryption-and-certificates/enable-exchangecertificate . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Param

[2018-07-17 21:17] mhendric opened #253 "xExchExchangeServer: Add Missing Cmdlet Parameters"
The xExchExchangeServer resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/organization/set-exchangeserver . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters specific to either Exc

[2018-07-17 21:18] mhendric opened #254 "xExchImapSettings: Add Missing Cmdlet Parameters"
The xExchImapSettings resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/client-access/set-imapsettings . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters specific to either Exchan

[2018-07-17 21:18] mhendric opened #255 "xExchMailboxDatabase: Add Missing Cmdlet Parameters"
The xExchMailboxDatabase resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/mailbox-databases-and-servers/set-mailboxdatabase . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters spe

[2018-07-17 21:20] mhendric opened #256 "xExchMailboxDatabaseCopy: Add Missing Cmdlet Parameters"
The xExchMailboxDatabaseCopy resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/database-availability-groups/set-mailboxdatabasecopy . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Paramet

[2018-07-17 21:21] mhendric opened #257 "xExchMailboxTransportService: Add Missing Cmdlet Parameters"
The xExchMailboxTransportService resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/mail-flow/set-mailboxtransportservice . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters specifi

[2018-07-17 21:22] mhendric opened #258 "xExchOwaVirtualDirectory: Add Missing Cmdlet Parameters"
The xExchOwaVirtualDirectory resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/client-access-servers/set-owavirtualdirectory . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters spe

[2018-07-17 21:22] mhendric opened #259 "xExchPopSettings: Add Missing Cmdlet Parameters"
The xExchPopSettings resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/client-access/set-popsettings . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters specific to either Exchange

[2018-07-17 21:23] mhendric opened #260 "xExchReceiveConnector: Add Missing Cmdlet Parameters"
The xExchReceiveConnector resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/mail-flow/set-receiveconnector . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters specific to either Ex

[2018-07-17 21:24] mhendric opened #261 "xExchTransportService: Add Missing Cmdlet Parameters"
The xExchTransportService resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/mail-flow/Set-TransportService . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters specific to either Ex

[2018-07-17 21:25] mhendric opened #262 "xExchUMCallRouterSettings: Add Missing Cmdlet Parameters"
The xExchUMCallRouterSettings resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/unified-messaging/set-umcallroutersettings . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters speci

[2018-07-17 21:26] mhendric opened #263 "xExchUMService: Add Missing Cmdlet Parameters"
The xExchUMService resource is currently missing one or more parameters from the corresponding Exchange cmdlet(s). The latest list of parameters can be found at https://docs.microsoft.com/en-us/powershell/module/exchange/unified-messaging/set-umservice . Missing parameters may be version specific. Exchange 2010 only or older parameters should not be included. Parameters specific to either Exchange

[2018-07-18 07:07] johlju commented on #249
That change in PR #215 should have reflected what this property is set to

https://github.com/PowerShell/xExchange/blob/89d67d6733f839ed3f002d5667757fa21458ecd0/xExchange.psd1#L21

so it should not say 5.0 in the README.md. I think this is a copy/paste mistake since I think this text was borrowed from another resource module (guessing SqlServerDsc), and I missed it in the review.

I think we shoul

[2018-07-18 16:24] mhendric commented on #249
@johlju , thanks. I'll submit an update to the documentation to address this.

[2018-07-18 16:43] mhendric commented on #249
@johlju , how does this look:

Requirements
The minimum Windows Management Framework (PowerShell) version required is 4.0, which ships with Windows Server 2012 and Windows Server 2012 R2, but can also be installed on Windows Server 2008 R2 (the minimum supported OS version for Exchange Server 2013).

Note that while the xExchange module may work with newer releases of PowerShell, the Microsoft Exc

[2018-07-18 18:56] johlju commented on #249
@mhendric Looks great!

[2018-07-18 19:37] mhendric opened #264 "MSFT_xExchExchangeCertificate.Integration.Tests.ps1: Fails to Read Test Certificates"
#### Details of the scenario you tried and the problem that is occurring

After https://github.com/PowerShell/xExchange/pull/235, tests in MSFT_xExchExchangeCertificate.Integration.Tests.ps1 fail to run because they can't read the test certificates. The script tries to read the test certificates at xExchange\Tests\Integration\Data, instead of xExchange\Tests\Data.

#### Version of the operating sy

[2018-07-18 19:41] mhendric opened #265 "MSFT_xExchOutlookAnywhere.Integration.Tests.ps1: All Tests Failing"
#### Details of the scenario you tried and the problem that is occurring

After https://github.com/PowerShell/xExchange/pull/235, tests in MSFT_xExchOutlookAnywhere.Integration.Tests.ps1 fail to run because they specify an invalid Outlook Anywhere virtual directory. This is because the Identity in $testParams and $expectedGetResults was turned into a string literal, which causes the computer name

[2018-07-18 19:45] mhendric opened #266 "MSFT_xExchPopSettings.Integration.Tests.ps1: Most Tests Failing"
#### Details of the scenario you tried and the problem that is occurring

After https://github.com/PowerShell/xExchange/pull/235, tests in MSFT_xExchPopSettings.Integration.Tests.ps1 fail to run because they specify an invalid value for ExternalConnectionSettings and X509CertificateName. This is because ExternalConnectionSettings and X509CertificateName were turned into string literals, which caus

[2018-07-18 19:49] mhendric opened #267 "xExchangeConfigHelper.Unit.Tests.ps1: All Tests Failing"
#### Details of the scenario you tried and the problem that is occurring

After https://github.com/PowerShell/xExchange/pull/235, tests in xExchangeConfigHelper.Unit.Tests.ps1 fail to run due to not being able to find the DBListFromMailboxDatabasesCsv helper function. This is most likely due to specifying a bad path when importing the xExchTestHelper module.

#### Version of the operating system a

[2018-07-19 07:21] #139 closed

[2018-07-19 07:21] #249 closed

[2018-07-19 07:30] #264 closed

[2018-07-19 07:30] #265 closed

[2018-07-19 07:30] #266 closed

[2018-07-19 07:30] #267 closed

[2018-07-23 17:06] mhendric commented on #213
I did some testing on this, and I don't think the problem is that Get-TargetResource can sometimes return $null, as unless you specify a bad Identity value in the configuration, or if your Exchange environment is broken, the resource should pretty much always be able to retrieve the virtual directory.

If you manually import the module and run Get-TargetResource, it returns results as expected:

[

[2018-07-23 17:11] mhendric commented on #213
Also, to prove that the possible $null value isn't a problem, I made the following code change. However this did not help:

[code]

[2018-07-23 17:17] mhendric commented on #213
One more useful piece of information. It looks like this issue only happens for resources that need to create a Remote PowerShell session to Exchange to get information. I tried simple configurations for xExchInstall and xExchJetstressCleanup, neither of which use Remote PowerShell, and was able to run Get-DscConfiguration against both.

[2018-07-24 10:56] johlju commented on #213
The convert error you are seeing might be because `$OwaVdir.ExternalAuthenticationMethods` is returning one object, which is converted to `System.String`, but the schema expects `System.String[]`.

https://github.com/PowerShell/xExchange/blob/a161c14ac6ed3ed5618bf3ec47b4dd90ff74e81b/DSCResources/MSFT_xExchOwaVirtualDirectory/MSFT_xExchOwaVirtualDirectory.schema.mof#L16

So casting the return value

[2018-07-24 14:02] #201 closed

[2018-07-24 14:22] mhendric commented on #213
Just tested that change, and it looks like it resolves the issue. Good suggestion!

[2018-08-02 14:05] #213 closed

[2018-08-07 21:47] mhendric opened #275 "xExchangeHelper: Remove $VerbosePreference Function Parameters and Replace With -Verbose:$VerbosePreference Calls"
#### Design Issue
A number of functions in the xExchangeHelper.psm1 module have $VerbosePreference function parameters, which were added to allow VerbosePreference to be passed to functions in an imported module. These parameters should be removed, and calls to these functions should instead be performed using -Verbose:$VerbosePreference.

[2018-08-08 21:01] mhendric opened #276 "xExchInstall: Implement Set-TargetResource Unit Tests"
Unit tests should be implemented in Tests\Unit\MSFT_xExchInstall.tests.ps1 for the Set-TargetResource function in xExchInstall.

[2018-08-08 23:09] khansaif786 commented on #243
Thank you for continuous support on this issue and sorry for sharing update a bit late.
Now I have completely change the code and deploying Exchange 2016 on windows 2012 R2. Now getting different error. However exchange Installed successfully.

Azure Template error:
========

 "code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list deployment operations

[2018-08-09 00:40] mhendric commented on #243
Hi @khansaif786 , I believe the below pull request should fix this issue. Hopefully this will be checked in this week, but if you want to try this now, you can clone my branch, also below. Thanks.

https://github.com/PowerShell/xExchange/pull/274

https://github.com/mhendric/xExchange/tree/ImproveInstallExperience

[2018-08-09 14:59] #233 closed

[2018-08-09 15:00] mhendric commented on #243
Hi @khansaif786 , the change referenced above has now been checked into the dev branch of PowerShell/xExchange. Please let me know if this resolves your issue. Thanks.

[2018-08-10 13:57] #275 closed

[2018-08-10 15:10] khansaif786 commented on #243
Hello Mike,

Thank you so much for providing the fix. Now installation has completed successfully in template as well as in server as well.

Note: Have used Exchange 2016 on windows 2012 R2

Thanks once again for your help.

How we can close this issue now?

Regards,
Saif

[2018-08-10 17:29] mhendric commented on #243
Awesome, good to hear. I will go ahead and close this out. Thanks for the patience on your side in working with us to get this fixed.

[2018-08-10 17:29] #243 closed

[2018-08-28 21:05] mhendric opened #281 "xExchangeHelper: Change Get-Mailbox to Get-Recipient in CompareADObjectIdWithEmailAddressString"
#### Details of the scenario you tried and the problem that is occurring
Setting a property that uses ADObjectId (Set-MailboxDatabase -JournalRecipient) does not work if the recipient address corresponds to a non-mailbox object (like a contact or mail user). Need to update function CompareADObjectIdWithEmailAddressString to use Get-Recipient instead of Get-Mailbox.

[2018-08-30 15:56] poshable opened #283 "Resource Proposal: xExchFrontendTransportService"
`Set-MailboxTransportService` and `Set-TransportService` are supported but there is no support for  `Set-FrontendTransportService` cmdlet.

[2018-08-30 16:02] mhendric commented on #283
Sounds like a good resource idea to me.

[2018-08-30 19:29] poshable commented on #283
I would be happy to take a stab at this, as we could use it in our 2016 environment we're building out. I would expect this should be relatively easy and that we could use either existing transport resource as a template. Thoughts?

[2018-08-30 19:39] mhendric commented on #283
Awesome, I'll assign this issue over to you. Yeah, I think copying xExchMailboxTransportService as a starting point is probably good, but xExchTransportService works too. Make sure to copy the corresponding Integration tests as well. Let me know if you need any help with this one. Thanks!

[2018-08-31 16:47] mhendric opened #284 "Add space between types and variable names"
Per the below style guidelines, many typed variables within the xExchange module should be updated to include a space between the type and the variable name.

https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md#one-space-between-type-and-variable-name

[2018-08-31 17:00] mhendric opened #285 "xExchAutoMountPoint: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchAutoMountPoint need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

CreateMissingExVolumes
CreateMissingExDatabases
GetDiskToDBMap
GetExchangeVolume
GetSortedExchangeVolumeKeys
FindFirstAv

[2018-08-31 17:01] mhendric opened #286 "xExchClientAccessServer: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchClientAccessServer need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetClientAccessServer

[2018-08-31 17:01] mhendric opened #287 "xExchDatabaseAvailabilityGroup: Rename improper function names"
#### Details of the issue
The following functions in xExchDatabaseAvailabilityGroup need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetDatabaseAvailabilityGroup

[2018-08-31 17:02] mhendric opened #288 "xExchDatabaseAvailabilityGroupNetwork: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchDatabaseAvailabilityGroupNetwork need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetDatabaseAvailabilityGroupNetwork
SubnetsToArray

[2018-08-31 17:02] mhendric opened #289 "xExchEcpVirtualDirectory: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchEcpVirtualDirectory need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetEcpVirtualDirectory

[2018-08-31 17:02] mhendric opened #290 "xExchExchangeCertificate: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchExchangeCertificate need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetExchangeCertificate
CompareCertServices

[2018-08-31 17:03] mhendric opened #291 "xExchExchangeServer: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchExchangeServer need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetExchangeServer

[2018-08-31 17:03] mhendric opened #292 "xExchImapSettings: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchImapSettings need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetImapSettings

[2018-08-31 17:04] mhendric opened #293 "xExchJetstress: Rename improper function names"
#### Details of the issue
The following functions in xExchJetstress need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

IsJetstressRunning
StartJetstress
JetstressTestSuccessful

[2018-08-31 17:04] mhendric opened #294 "xExchJetstressCleanup: Rename improper function names"
#### Details of the issue
The following functions in xExchJetstressCleanup need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

VerifyParameters
GetFolderNoTrailingSlash
GetParentFolderFromString
RemoveFolder
LoadConfigXml

[2018-08-31 17:04] mhendric opened #295 "xExchMailboxDatabase: Rename improper function names"
#### Details of the issue
The following functions in xExchMailboxDatabase need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetMailboxDatabase
MoveDatabaseOrLogPath
MountDatabase

[2018-08-31 17:05] mhendric opened #296 "xExchMailboxDatabaseCopy: Rename improper function names"
#### Details of the issue
The following functions in xExchMailboxDatabaseCopy need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetMailboxDatabase

[2018-08-31 17:05] mhendric opened #297 "xExchMailboxServer: Rename improper function names"
#### Details of the issue
The following functions in xExchMailboxServer need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetMailboxServer

[2018-08-31 17:06] mhendric opened #298 "xExchMaintenanceMode: Rename improper function names"
#### Details of the issue
The following functions in xExchMaintenanceMode need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetMaintenanceModeStatus
GetQueueMessageCount
GetActiveDBCount
GetUMCallCount
GetMessageRedirectionExclusions
IsExchangeAtDesiredVersion
IsComponentCheckedByDefault
GetDAGMemberCount
IsServerPAM
WaitF

[2018-08-31 17:06] mhendric opened #299 "xExchMapiVirtualDirectory: Rename improper function names"
#### Details of the issue
The following functions in xExchMapiVirtualDirectory need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetMapiVirtualDirectory

[2018-08-31 17:06] mhendric opened #300 "xExchOabVirtualDirectory: Rename improper function names"
#### Details of the issue
The following functions in xExchOabVirtualDirectory need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

AddOabDistributionPoint
ServerFromOABVdirDN

[2018-08-31 17:07] mhendric opened #301 "xExchOutlookAnywhere: Rename improper function names"
#### Details of the issue
The following functions in xExchOutlookAnywhere need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetOutlookAnywhere

[2018-08-31 17:07] mhendric opened #302 "xExchOwaVirtualDirectory: Rename improper function names"
#### Details of the issue
The following functions in xExchOwaVirtualDirectory need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetOwaVirtualDirectory

[2018-08-31 17:07] mhendric opened #303 "xExchPopSettings: Rename improper function names"
#### Details of the issue
The following functions in xExchPopSettings need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetPopSettings

[2018-08-31 17:08] mhendric opened #304 "xExchPowerShellVirtualDirectory: Rename improper function names"
#### Details of the issue
The following functions in xExchPowerShellVirtualDirectory need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetPowerShellVirtualDirectory

[2018-08-31 17:08] mhendric opened #305 "xExchReceiveConnector: Rename improper function names"
#### Details of the issue
The following functions in xExchReceiveConnector need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetReceiveConnector
ValidateIdentity
ExtendedRightExists

[2018-08-31 17:08] mhendric opened #306 "xExchTransportService: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchTransportService need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

CompareIPAddressewithString
CompareSmtpAdresswithString

[2018-08-31 17:08] mhendric opened #307 "xExchWaitForADPrep: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchWaitForADPrep need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetADRootDSE
GetADObject
DomainDNFromFQDN

[2018-08-31 17:09] mhendric opened #308 "xExchWaitForDAG: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchWaitForDAG need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetDatabaseAvailabilityGroup

[2018-08-31 17:09] mhendric opened #309 "xExchWaitForMailboxDatabase: Rename improper function names"
#### Details of the issue
The following functions in xExchWaitForMailboxDatabase need to be renamed to proper Verb-Noun format per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetMailboxDatabase

[2018-08-31 17:09] mhendric opened #310 "xExchWebServicesVirtualDirectory: Rename improper function names"
#### Details of the issue
The following functions in xExchWebServicesVirtualDirectory need to be renamed to proper Verb-Noun forma per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetWebServicesVirtualDirectory

[2018-08-31 17:10] mhendric opened #311 "ExchangeConfigHelper: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in ExchangeConfigHelper need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

DBMapFromServersCsv
DBListFromMailboxDatabasesCsv
DBListFromMailboxDatabaseCopiesCsv
StringReplaceFromHashtable

[2018-08-31 17:10] mhendric opened #312 "xExchangeDiskPart: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchangeDiskPart need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

StartDiskpart
GetDiskInfo
StringArrayToCommaSeparatedString
AddObjectToMapOfObjectArrays
MountPointExists

[2018-08-31 17:11] mhendric opened #313 "xExchangeHelper: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchangeHelper need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

GetExistingExchangeSession
GetRemoteExchangeSession
RemoveExistingRemoteSession
CompareStrings
CompareBools
CompareTimespanW

[2018-08-31 17:11] mhendric opened #314 "xExchangeCommon.Tests: Rename improper function names and add comment based help"
#### Details of the issue
The following functions in xExchangeCommon.Tests need to be renamed to proper Verb-Noun format. When applicable, functions should also be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

RemoveExistingPSSessions

[2018-08-31 17:14] mhendric commented on #295
Note that a function with name GetMailboxDatabase exists in the following modules. We should investigate whether these can be consolidated into a helper function in xExchangeHelper.

xExchMailboxDatabase
xExchMailboxDatabaseCopy
xExchMaintenanceMode
xExchWaitForMailboxDatabase

[2018-08-31 17:14] mhendric commented on #296
Note that a function with name GetMailboxDatabase exists in the following modules. We should investigate whether these can be consolidated into a helper function in xExchangeHelper.

xExchMailboxDatabase
xExchMailboxDatabaseCopy
xExchMaintenanceMode
xExchWaitForMailboxDatabase

[2018-08-31 17:14] mhendric commented on #298
Note that a function with name GetMailboxDatabase exists in the following modules. We should investigate whether these can be consolidated into a helper function in xExchangeHelper.

xExchMailboxDatabase
xExchMailboxDatabaseCopy
xExchMaintenanceMode
xExchWaitForMailboxDatabase

[2018-08-31 17:15] mhendric commented on #309
Note that a function with name GetMailboxDatabase exists in the following modules. We should investigate whether these can be consolidated into a helper function in xExchangeHelper.

xExchMailboxDatabase
xExchMailboxDatabaseCopy
xExchMaintenanceMode
xExchWaitForMailboxDatabase

[2018-08-31 17:16] mhendric commented on #287
Note that a function with name GetDatabaseAvailabilityGroup exists in the following modules. We should investigate whether these can be consolidated into a helper function in xExchangeHelper.

xExchDatabaseAvailabilityGroup
xExchMaintenanceMode
xExchWaitForDAG

[2018-08-31 17:16] mhendric commented on #298
Note that a function with name GetDatabaseAvailabilityGroup exists in the following modules. We should investigate whether these can be consolidated into a helper function in xExchangeHelper.

xExchDatabaseAvailabilityGroup
xExchMaintenanceMode
xExchWaitForDAG

[2018-08-31 17:16] mhendric commented on #308
Note that a function with name GetDatabaseAvailabilityGroup exists in the following modules. We should investigate whether these can be consolidated into a helper function in xExchangeHelper.

xExchDatabaseAvailabilityGroup
xExchMaintenanceMode
xExchWaitForDAG

[2018-09-07 18:16] mhendric commented on #313
Removing Help Wanted label. I'm actively working on this one.

[2018-09-07 18:16] mhendric commented on #314
Removing Help Wanted label. I'm actively working on this one.

[2018-09-07 18:16] mhendric commented on #306
Removing Help Wanted label. I'm actively working on this one.

[2018-09-10 08:42] johlju commented on #306
@mhendric Relabeled it to 'in progress' - it is just so it moves to the correct column on the [Waffle board](https://waffle.io/powershell/dscresources) 🙂 Otherwise it is in the Backlog column, and I have to look at it to see if I need to do anything 🙂

FYI - the labels
- **Enhancement, bug, test, documentation** - I call these "work type labels"
- **Help wanted, In progress, On hold, Needs more in

[2018-09-20 17:59] #306 closed

[2018-09-20 17:59] #313 closed

[2018-09-20 17:59] #314 closed

[2018-09-21 14:57] #281 closed

[2018-09-24 20:41] gborus commented on #190
changed my mind, I'd use the registry to read the installed Exchange version. To load the Get-ExchangeServer cmdlet would be more complicated (e.g. in fresh install case should be handled differently etc.) and might not have so big added value.

[2018-10-07 15:47] mhendric commented on #190
Resolved in https://github.com/PowerShell/xExchange/pull/320

[2018-10-07 15:47] #190 closed

[2018-10-10 20:11] #311 closed

[2018-10-26 19:58] mhendric commented on #234
@johlju , I'm not sure what all needs to be done for this Issue, but the Globals issue should be resolved. Can you confirm whether there is anything else that needs to be done to move forward on resolving this?

Thanks.

[2018-10-27 10:19] johlju commented on #234
@mhendric I sent in a PR #329 that opt-in for common tests including this one. My PR will also close PR #237 by @luigilink, since you have already refactored the necessary code.

[2018-10-27 20:11] #234 closed

[2018-11-02 15:42] mhendric opened #332 "xExchReceiveConnector: Setting xExchReceiveConnector to Absent Causes Repeated Errors in the MSExchange Management log"
#### Details of the scenario you tried and the problem that is occurring
When xExchReceiveConnector is used and is set to Absent, subsequent executions of the resource after the target Receive Connector have been removed will cause an error to be logged in the MSExchange Management event log.

#### Event log error
Log Name:      MSExchange Management
Source:        MSExchange CmdletLogs
Date:

[2018-11-07 22:39] gborus opened #335 "MSFT_xExchMailboxDatabase: Test-TargetResource does not load Get-Recipient for Compare-ADObjectIdToSmtpAddressString function"
#### Details of the scenario you tried and the problem that is occurring
When checking the journal recipient address setting of a database I received the following error:
Compare-ADObjectIdToSmtpAddressString requires the Get-Recipient cmdlet. Make sure this is in the RBAC scope of the executing user account.

#### Verbose logs showing the problem
N/A
#### Suggested solution to the issue
MSFT_xExc

[2018-11-07 23:00] mhendric commented on #335
Thanks @gborus . I think this got missed in testing, as the corresponding Integration test loads the Get-Recipient cmdlet itself.

[2018-11-14 18:44] #307 closed

[2018-11-14 19:47] #208 closed

[2018-11-14 19:47] #308 closed

[2018-11-15 22:09] mhendric opened #336 "MSFT_xExchMaintenanceMode.Integration.Tests.ps1: Integration Tests Broken"
#### Details of the scenario you tried and the problem that is occurring
One of the 4 recent PR's (I suspect #326) broke the MSFT_xExchMaintenanceMode.Integration.Tests.ps1 Integration Tests.

#### Verbose logs showing the problem
[code]
#### Suggested solution to the issue
TBD

#### Exchange Server edition and version the target node is running
Exchange 2016 CU10

#### The operating system the ta

[2018-11-18 17:19] #335 closed

[2018-11-18 17:19] #336 closed

[2018-11-21 15:50] #332 closed

[2018-12-03 23:52] mattpwhite opened #342 "The nupkg for xExchange 1.24.0 and newer includes a .git directory"
I think something went wrong with your packaging process as of 1.24.0.  It looks like a bunch of things that definitely aren't intended to be release artifacts made it into the nupkg, including a .git directory.  Needless to say, this causes problems for anyone trying to vendor this into another tree as a dependency and distributes a bunch of unneeded stuff.  1.25.0 has the same problem.

![image]

[2018-12-04 00:21] mhendric commented on #342
Thanks @mattpwhite . @kwirkykat , do you know what may have happened here?

[2018-12-04 15:45] csharmath commented on #342
I've filed the same issue for xWebAdministration 20 days ago, so it's not just xExchange but seems like xWebAdministration and Azure as well as per a comment on that issue.
https://github.com/PowerShell/xWebAdministration/issues/406

[2018-12-04 15:49] mhendric commented on #342
Looks like xBitlocker has the same issue too...

[2018-12-05 00:51] kwirkykat commented on #342
I have already raised this issue with the PSGallery/PSGet team, and they are looking at it. https://github.com/PowerShell/PowerShellGet/issues/378

It sounds like it is affecting more than just the DSC Resource Kit modules.
I think the problem is coming up now since I updated my nuget/dotnet on the machine that these modules get published from after the problems I had releasing 2 months ago.
I can

[2018-12-13 20:18] mhendric commented on #263
Updating Issue to note that this is getting worked in https://github.com/PowerShell/xExchange/pull/343

[2018-12-14 17:01] mhendric commented on #284
Resolved in https://github.com/PowerShell/xExchange/pull/333

[2018-12-14 17:01] #284 closed

[2018-12-17 21:00] arielmoisis commented on #261
I have had a look through what missing from what I can see is this:
[-AntispamAgentsEnabled <$true | $false>]
[-JournalLogEnabled <$true | $false>]
[-JournalLogMaxAge <EnhancedTimeSpan>]
[-JournalLogMaxDirectorySize <Unlimited>]
[-JournalLogMaxFileSize <Unlimited>]
[-JournalLogPath <LocalLongFullPath>]
[-ResourceLogEnabled <$true | $false>]
[-ResourceLogMaxAge <EnhancedTimeSpan>]
[-ResourceLogMaxD

[2018-12-17 21:53] mhendric commented on #261
Hey @arielmoisis , thanks for looking into this one. I think there's actually far less work that needs to be done on this than it appears. Most of these parameters are 'reserved for internal Microsoft use', so we shouldn't try to implement them unless we have a good reason to.

This is the only one I see that should be implemented for all versions:

[-AntispamAgentsEnabled <$true | $false>]

These

[2018-12-18 14:57] mhendric commented on #263
Resolved in #343 by @arielmoisis

[2018-12-18 14:57] #263 closed

[2018-12-18 15:14] #286 closed

[2018-12-18 15:14] #288 closed

[2018-12-18 15:14] #289 closed

[2018-12-18 15:14] #290 closed

[2018-12-19 07:17] arielmoisis commented on #261
I will work on this one.

[2018-12-19 17:29] mhendric opened #347 "xExchJetstress: Add comment based help to functions"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:33] mhendric opened #348 "xExchDatabaseAvailabilityGroup: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:35] mhendric opened #349 "xExchJetstressCleanup: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:36] mhendric opened #350 "xExchMailboxDatabase: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:37] mhendric opened #351 "xExchMailboxDatabaseCopy: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:37] mhendric opened #352 "xExchMailboxServer: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:38] mhendric opened #353 "xExchMaintenanceMode: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:43] mhendric opened #354 "xExchMapiVirtualDirectory: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:43] mhendric opened #355 "xExchOabVirtualDirectory: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:43] mhendric opened #356 "xExchOutlookAnywhere: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:44] mhendric opened #357 "xExchOwaVirtualDirectory: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:44] mhendric opened #358 "xExchPopSettings: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:45] mhendric opened #359 "xExchPowerShellVirtualDirectory: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:45] mhendric opened #360 "xExchReceiveConnector: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:45] mhendric opened #361 "xExchWaitForMailboxDatabase: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 17:46] mhendric opened #362 "xExchWebServicesVirtualDirectory: Add comment based help"
Functions should be updated to include comment based help per: https://github.com/PowerShell/DscResources/blob/master/StyleGuidelines.md

[2018-12-19 18:08] mhendric opened #363 "MSFT_xExchActiveSyncVirtualDirectory.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:08] mhendric opened #364 "MSFT_xExchAutodiscoverVirtualDirectory.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:09] mhendric opened #365 "MSFT_xExchAutoMountPoint.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:09] mhendric opened #366 "MSFT_xExchClientAccessServer.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:10] mhendric opened #367 "MSFT_xExchDatabaseAvailabilityGroup.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:10] mhendric opened #368 "MSFT_xExchDatabaseAvailabilityGroupMember.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:11] mhendric opened #369 "MSFT_xExchDatabaseAvailabilityGroupNetwork.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:11] mhendric opened #370 "MSFT_xExchEcpVirtualDirectory.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:11] mhendric opened #371 "MSFT_xExchEventLogLevel.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:12] mhendric opened #372 "MSFT_xExchExchangeCertificate.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:12] mhendric opened #373 "MSFT_xExchExchangeServer.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:13] mhendric opened #374 "MSFT_xExchImapSettings.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:13] mhendric opened #375 "MSFT_xExchJetstress.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:13] mhendric opened #376 "MSFT_xExchJetstressCleanup.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:14] mhendric opened #377 "MSFT_xExchMailboxDatabase.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:14] mhendric opened #378 "MSFT_xExchMailboxDatabaseCopy.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:15] mhendric opened #379 "MSFT_xExchMailboxServer.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:16] mhendric opened #380 "MSFT_xExchMailboxTransportService.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:16] mhendric opened #381 "MSFT_xExchMaintenanceMode.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:16] mhendric opened #382 "MSFT_xExchMapiVirtualDirectory.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:17] mhendric opened #383 "MSFT_xExchOabVirtualDirectory.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:17] mhendric opened #384 "MSFT_xExchOutlookAnywhere.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:17] mhendric opened #385 "MSFT_xExchOwaVirtualDirectory.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:18] mhendric opened #386 "MSFT_xExchPopSettings.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:18] mhendric opened #387 "MSFT_xExchPowerShellVirtualDirectory.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:18] mhendric opened #388 "MSFT_xExchReceiveConnector.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:19] mhendric opened #389 "MSFT_xExchTransportService.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:19] mhendric opened #390 "MSFT_xExchUMCallRouterSettings.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:19] mhendric opened #391 "MSFT_xExchUMService.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:20] mhendric opened #392 "MSFT_xExchWaitForMailboxDatabase.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:20] mhendric opened #393 "MSFT_xExchWebServicesVirtualDirectory.psm1"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 18:20] mhendric opened #394 "xExchangeDiskPart.psm1: Add Unit Tests"
Add additional Unit Tests to get Code Coverage for this file to at or near 100%.

[2018-12-19 22:14] mhendric commented on #390
This is getting worked by @arielmoisis in #345

[2018-12-20 15:21] mhendric commented on #253
I'll take this one.

[2018-12-20 18:41] mhendric commented on #253
Looks like there's no way to suppress the confirmation prompt for ErrorReportingEnabled. This parameter will have to be omitted:

[code]

[2019-01-02 21:36] #287 closed

[2019-01-02 21:36] #293 closed

[2019-01-02 21:36] #294 closed

[2019-01-02 21:36] #295 closed

[2019-01-02 21:36] #296 closed

[2019-01-02 21:36] #297 closed

[2019-01-02 21:36] #298 closed

[2019-01-02 21:36] #299 closed

[2019-01-02 21:36] #300 closed

[2019-01-02 21:36] #301 closed

[2019-01-02 21:36] #302 closed

[2019-01-02 21:36] #303 closed

[2019-01-02 21:36] #304 closed

[2019-01-02 21:36] #305 closed

[2019-01-02 21:36] #309 closed

[2019-01-02 21:36] #310 closed

[2019-01-02 22:00] #253 closed

[2019-01-02 22:00] #291 closed

[2019-01-02 22:00] #373 closed

[2019-01-02 22:22] #347 closed

[2019-01-07 21:53] arielmoisis commented on #250
The only missing parameters appear to be for 2010 only.
InternalURL and External URL

[2019-01-09 14:40] mhendric commented on #250
Agreed, I'll close this out. Thanks for looking into this @arielmoisis .

[2019-01-09 14:40] #250 closed

[2019-01-09 23:11] arielmoisis commented on #251
I have this one ready will wait for PR #398 to merge and I will submit this one.

[2019-01-09 23:17] #261 closed

[2019-01-09 23:17] #389 closed

[2019-01-10 14:32] mhendric commented on #342
Resolved in PowerShell/PowerShellGet#378

[2019-01-10 14:32] #342 closed

[2019-01-10 22:05] arielmoisis commented on #254
Ill Grab this one and #374 at the same time.

[2019-01-10 22:46] arielmoisis commented on #390
This has been merged now this one can probably get closed.

[2019-01-10 23:12] arielmoisis commented on #255
Missing parameters are
[-Identity] <DatabaseIdParameter>
[-AllowFileRestore <$true | $false>]
[-AutoDatabaseMountDial <Lossless | GoodAvailability | BestAvailability>]
[-IsExcludedFromProvisioningByOperator <$true | $false>]
Applies to:
Exchange Server 2016, Exchange Server 2019
[-IsExcludedFromProvisioningDueToLogicalCorruption <$true | $false>]
Applies to:
Exchange Server 2016, Exchange Server 2

[2019-01-11 23:33] mhendric commented on #390
So it has. Thanks!

[2019-01-11 23:33] #390 closed

[2019-01-15 23:58] arielmoisis commented on #262
This one can be closed I think.

[2019-01-16 00:10] mhendric commented on #262
Resolved in #345

[2019-01-16 00:10] #262 closed

[2019-01-16 00:13] #251 closed

[2019-01-16 00:13] #370 closed

[2019-01-17 20:54] sguilbault-sherweb opened #401 "MSFT_xExchMailboxDatabase: Bug with the DataMoveReplicationConstraint parameter."
#### Details of the scenario you tried and the problem that is occurring

There is a bug in the file ' xExchange/DSCResources/MSFT_xExchMailboxDatabase/MSFT_xExchMailboxDatabase.psm1' at line '610'.

Here is the line:
`if (!(Test-ExchangeSetting -Name 'DataMoveReplicationConstraint' **-Type 'Boolean'** -ExpectedValue $DataMoveReplicationConstraint -ActualValue $db.DataMoveReplicationConstraint -PS

[2019-01-17 21:08] sguilbault-sherweb commented on #283
That should be pretty easy to do. The ressource xExchTransportService is almost similar with slighty different commands. I attach a copy of the modified xExchTransportService I did. I tested it quickly and it seams to work ok except some of the parameters unsupported in Exchange 2013.

[MSFT_xExchFrontEndTransportService.zip](https://github.com/PowerShell/xExchange/files/2770573/MSFT_xExchFrontEnd

[2019-01-17 21:18] sguilbault-sherweb commented on #283
And by the way, I'm really interested to see this integrated. I just don,t have the time to do the integration itself and the extendted tests, etc.

[2019-01-23 21:00] mhendric commented on #401
Definitely looks like a bug to me. Thanks for the report!

[2019-01-23 21:01] mhendric commented on #283
@poshable , are you still interested in working this one? If not I'll remove you as the assignee in case anyone else wants to grab it. Thanks.

[2019-01-23 21:10] poshable commented on #283
I am, but not sure if I can commit to a timeline. Feel free to place it back up for grabs, and if it is still available when I have the cycles, you can reassign to me.

[2019-01-24 14:56] mhendric commented on #364
Resolved in #402

[2019-01-24 14:56] #364 closed

[2019-01-25 00:07] mhendric opened #403 "MSFT_xExchAutodiscoverVirtualDirectory.tests.ps1: Incorrect reference to Get-UMCallRouterSettings"
#### Details of the scenario you tried and the problem that is occurring
Test-TargetResource Unit tests in MSFT_xExchAutodiscoverVirtualDirectory.tests.ps1 have a reference to Get-UMCallRouterSettings. This should be fixed.

[code]

#### Suggested solution to the issue
Shorten to:

It 'Should return False'

#### Version of the DSC module that was used ('dev' if using current dev branch)
dev

[2019-01-25 00:08] mhendric commented on #401
I'm working this one.

[2019-01-25 21:15] mhendric commented on #252
I'll take this one.

[2019-01-28 17:13] #401 closed

[2019-01-29 17:13] #252 closed

[2019-02-01 18:58] mhendric commented on #255
I'll take this one.

[2019-02-01 19:21] mhendric commented on #350
I got this one.

[2019-02-01 20:57] mhendric commented on #255
Looks like AutoDatabaseMountDial is listed as "Microsoft internal only". I'm going to leave it out unless someone thinks we need it.

[2019-02-01 22:39] mhendric commented on #256
Here's the only parameter I see as missing for this one:

ReplayLagMaxDelay: (2016 and 2019 only)

[2019-02-06 15:46] #255 closed

[2019-02-06 15:46] #350 closed

[2019-02-07 15:16] manigandan-jegannathan-developer opened #407 "PSSA complains about Suppression Message Attribute being used wrongly"
I have been getting this error from PSSA.

`Invoke-ScriptAnalyzer : Suppression Message Attribute error at line 66 in MSFT_xExchDatabaseAvailabilityGroupMember.psm1 : Cannot find any Targets DSCMachineStatus that match the Scope Function to apply the SuppressMessageAttribute.
`

I wonder whether this is correct, applying SuppressMessageAttribute with function scope, but actually targeting a variab

[2019-02-07 17:03] mhendric commented on #407
Interesting. I played around with this, and I think the problem is that Target can't be scoped to a specific PowerShell variable. [This issue](https://github.com/PowerShell/PSScriptAnalyzer/issues/822) seems to confirm. It looks like there's three other places in the module that attempt this suppression as well. I'm thinking maybe we should move any code that sets $global:DSCMachineStatus to 1 int

[2019-02-07 18:02] mhendric commented on #407
Opened #408 to address this

[2019-02-08 18:07] #407 closed

[2019-02-08 19:09] mhendric commented on #256
I got this one.

[2019-02-08 20:14] mhendric commented on #351
I got this.

[2019-02-08 20:15] mhendric commented on #378
I got this.

[2019-02-12 17:15] Dimalt opened #410 "xExchangeHelper.psm1 Issue when comparing current exchange and setup.exe versions"
#### Details of the scenario you tried and the problem that is occurring
I was trying to upgrade from Exchange Server 2013 service pack 1 (CU4) to CU12. The module considered the existing build number (847) as not less than the setup.exe build number (1178)

#### Verbose logs showing the problem
-Comparing setup.exe version and installed Exchange's version.
-Setup.exe version is: 'Major: 15, Minor

[2019-02-12 17:19] mhendric commented on #410
Thanks for the report @Dimalt . Definitely looks like a bug to me. Flagged this as such.

[2019-02-16 00:47] #256 closed

[2019-02-16 00:47] #351 closed

[2019-02-16 00:47] #378 closed

[2019-03-27 11:53] nimsim opened #412 "Resource Proposal: xExchSendConnector"
Hi,
This might not be that relevant, but I'm a bit surprised there is no xSendConnector resource. Am i blind, or is there really no SendConnector?

I see a previous issue [here
](https://github.com/PowerShell/xExchange/issues/175) with a somewhat weird ending.

[2019-03-27 14:19] mhendric commented on #412
I don't have any plans to work on this, and I'm not aware of anyone else planning to work on this. That said, I think this would be a great addition to the module if someone wants to take on this work.

[2019-04-01 06:43] FunkyMonkey888 opened #413 "xExchAutoMountPoint storage configuration vs Exchange 2019 version of Exchange Server Role Requirements Calculator"
xExchange contains an example of xExchAutoMountPoint storage configuration using the Exchange Server Role Requirements Calculator. The Server.CSV embedded in that example is from version 7.6 of the Calculator. A new updated version of the Calculator for Exchange 2019 is expected to be released soon. Will an update of xExchange be coming to support the new Calculator version for Exchange 2019?

[2019-04-01 14:42] mhendric commented on #413
Hi @FunkyMonkey888 , I've tested this with newer calculators (up to v9.1 I think), and I haven't noticed any Schema changes in the output .CSV files that would require us treating the output differently. Are you seeing something not work specifically?

[2019-04-03 11:11] nimsim commented on #412
Since I am asking for it, I'll contribute.
With that said: I'm very new here, so I'll need to read up a bit on the subject.

[2019-04-03 13:35] mhendric commented on #412
Awesome, thanks! If you need any help, let me know.

[2019-04-26 22:42] nimsim commented on #412
Hi Mike,
I've basically copied MSFT_xExchReceiveConnector and changed it to fit New-SendConnector/Set-SendConnector.

It works, but it also fails.
What I mean is it works flawlessly by creating a Send Connector for my environments, but it also throws an error with "Error Message: PowerShell DSC resource MSFT_xExchSendConnector  failed to execute Set-TargetResource functionality with error message:

[2019-04-30 18:18] mhendric commented on #412
Hi @nimsim , can you confirm (probably outside of DSC) that New-SendConnector actually returns a variable? If it doesn't, that's your problem. You'll need to run Get-SendConnector to verify existence.

[2019-05-08 08:49] nimsim commented on #412
Hiya @mhendric
You pointed me in the right path. Get/Set-SendConnector did not need $servername in the identity. Removing that solved all the issues I had, and it seems to be working well.

What now? :)

[2019-05-08 17:29] jrdbarnes opened #414 "xExchReceiveConnector: ExtendedRightDenyEntries cause removal of Allow not Deny"
#### Details of the scenario you tried and the problem that is occurring
the ExtendedRightDenyEntries parameter on xExchReceiveConnector functions incorrectly. It should add Deny entries with Add-ADPermission, instead it is removing Allow entries.

#### Verbose logs showing the problem
https://github.com/PowerShell/xExchange/blob/master/DSCResources/MSFT_xExchReceiveConnector/MSFT_xExchReceiveConn

[2019-05-09 19:49] mhendric commented on #412
Hi @nimsim . If you're ready to submit for review, the next step would be to create a new pull request with your suggested changes. Here's some instructions to get you started. Let me know if you need any help.

https://github.com/PowerShell/DscResources/blob/master/GettingStartedWithGitHub.md

[2019-05-09 19:51] mhendric commented on #414
Hi @jrdbarnes , thanks for the submission. I'm going to mark this as a bug. Let me know if you are planning on working on this yourself. In the meantime I'll flag this as Help Wanted.

Re: Add-ADPermission, I think it makes sense to keep that within the xExchange module, as it is an Exchange cmdlet.

[2019-05-10 07:54] jrdbarnes commented on #414
Hi @mhendric, I was thinking about trying to fix it, but wasn't sure what the best approach was so any thoughts would be appreciated.

In some ways it feels like the correct approach would be to create MSFT_xExchAdPermission resource to manage this configuration, rather than it being part of the receive connector configuration. This would allow reuse in other areas of Exchange config as well.

The

[2019-07-27 08:15] DelectableMechanisations commented on #283
@mhendric and @SteveL-MSFT - I have put together this resource using xExchTransportService as a base. Are you happy to assign this to me and I will submit a Pull Request?

[2019-07-29 12:50] sguilbault-sherweb commented on #283
No problem for me but I’mjust a modest contributor

Steve Guilbault
Senior SysAdmin, DevOps
IT Projects & Continuous Improvements

[SherWeb]<http://www.sherweb.com/>  [Twitter] <https://twitter.com/SherWeb>  [Linkedin] <http://www.linkedin.com/company/sherweb>  [Facebook] <https://www.facebook.com/Sherweb>  [Google Plus] <https://plus.google.com/+sherweb/posts>  [Youtube Channel] <https://www.yout

[2019-07-31 15:58] mhendric commented on #283
Hi @DelectableMechanisations , thanks for volunteering! I've assigned this over to you.

[2019-08-02 19:07] mhendric commented on #283
Resolved in #417 by @DelectableMechanisations

[2019-08-02 19:07] #283 closed

[2019-10-03 15:38] danagarcia opened #424 "xExchUpdate: New resource proposal - Upgrade from CU[X] to CU[Y]"
### Description
Create a new resource called xExchUpdate. This resource would be used to update an existing Exchange 2013/2016/2019 installation from one cumulative update version to another (i.e. Exchange 2016 CU12 to Exchange 2016 CU14). This resource would automatically check if all prerequisites are present (i.e. .Net Framework 4.7.2 or 4.8, C++ Redist. 2012 and 2013, etc.). Once all prerequis

[2019-10-03 15:45] danagarcia opened #425 "xExchInstall: Check/Install Prerequisites"
#### Details
Currently the xExchInstall resource doesn't check for prerequisites for Exchange 2013/2016/2019 and install them if necessary. This is pretty much the only thing that limits this DSC resource module from being a 100% end to end solution for deploying, configuring, and maintaining Exchange 2013/2016/2019.

#### Suggested solution
Add a prerequisite check for prerequisites i.e. .Net Fra

[2019-10-03 17:02] mhendric commented on #424
Hi Dana,
Support to upgrade to a new CU using xExchInstall was added within the past year (or two maybe). Function 'Test-ShouldUpgradeExchange' in xExchangeHelper.psm1 should handle that. If that's not working for you we may need to debug what's going wrong. Can you send -Verbose output of your DSC script while trying to upgrade via xExchInstall?

[2019-10-03 17:08] mhendric commented on #425
Hi Dana,
The install of prerequisite packages and features can be handled via other DSC resources. See this example that I used to deploy Exchange 2019 on Windows 2019 Server Core using DSC:

[code]

[2019-10-04 13:23] SSvilen commented on #412
Hi @nimsim , I'm about to submit a PR for a couple of new resources:
AcceptedDomain,
AddressList,
RemoteDomain.

If you like, I can integrate your code too!
Is the file attached here the latest version?

[2019-10-04 13:37] SSvilen opened #426 "New Resources for AcceptedDomain, AddressList, RemoteDomain"
### Description

I have created some new resources in addition to the existing ones:

xExchAcceptedDomain
xExchAddressList
xExchRemoteDomain

Technically they work, but what is missing are the Pester tests.
I could try slowly to catch up on those (Or may be someone would like to help out with those) or I can submit the PR with the code I currently have.
Let me know.

### Proposed properties

xExch

[2019-10-04 16:28] mhendric commented on #426
Hi @SSvilen . That's awesome that you have these ready to go. I think we do need to get new resources added with corresponding Pester Unit tests though so that we don't significantly lower the code coverage for the module as a whole. I could probably help with some or all of the tests, however I'm not sure what the best way to collaborate on a new feature somewhere outside of the Dev branch is. @j

[2019-10-04 17:17] SSvilen commented on #426
OK - I'll then start slowly adding the tests.The code is on my 'newfeatures' branch, in case you or somebody else wants to help out. :)
Let me know if I have to split the code in different branches (I did also some enhancement on the imap resource.)

[2019-10-04 17:58] mhendric commented on #426
When you actually submit these to the PowerShell\xExchange repo, it's probably a good idea to submit each resource as a separate PR. But it shouldn't be a big deal if you want to work on all three in your own single branch until then. I'll try to hop over to your branch and see if I can help when I get a chance.

[2019-10-04 18:56] PlagueHO commented on #426
Hi @mhendric, @SSvilen - yes, we'd want to make sure we get the unit tests (and integration tests if poss). The best way to collaborate @mhendric is to Fork @SSvilen's repo into your GH account and to submit PR's to @SSvilen's repo.

Alternately, @SSvilen, you can make @mhendric a contributor to your repo. I've done this with some of mine for @johlju - works well too.

[2019-10-04 18:58] PlagueHO commented on #426
But yes, I'd definitely submit these as separate PR's - reviewing multiple resources in a single PR is exhausting :cry: (@johlju know's, he's kindly reviewed many of mine like this -sorry :grin:).

[2019-10-04 19:14] SSvilen commented on #426
Works either way for me. @mhendric  I made you collaborator.
I'll start by splitting the branches.

[2019-10-05 10:13] nimsim commented on #412
Hey @SSvilen!

Yes and no, I've since then discovered a new issue that doesn't make sense, and I haven't had time to try to fix it.
[MSFT_xExchSendConnector.zip](https://github.com/PowerShell/xExchange/files/3693095/MSFT_xExchSendConnector.zip)

It might have to do with my script, but I cannot find any references to the parameters Azure is giving errors on.
`\"message\": \"VM has reported a failur

[2019-10-05 18:56] SSvilen commented on #412
Ok @nimsim , I'll try to debug it on Monday. Do you have also some Pester tests created already?

[2019-10-07 18:45] nimsim commented on #412
Thanks a bunch, sorry for the late reply. Considering I didn't know what a pester test even is, nope :D

I'll try it out soon

[2019-10-08 07:55] SSvilen commented on #412
No probs. You can start by reading the a bit the docu https://github.com/pester/Pester/wiki  and then you can look what I did for xExchAcceptedDomain https://github.com/SSvilen/xExchange/blob/xExchAcceptedDomain/Tests/Unit/MSFT_xExchAcceptedDomain.tests.ps1.
Not that I'm Pester expert, but if you have questions - I'll be glad to help. :)

[2019-10-08 08:01] nimsim commented on #412
Perfect, thanks!

________________________________
From: Svilen <notifications@github.com>
Sent: Tuesday, October 8, 2019 09:55
To: PowerShell/xExchange
Cc: Nima Gharib; Mention
Subject: Re: [PowerShell/xExchange] Resource Proposal: xExchSendConnector (#412)

No probs. You can start by reading the a bit the docu https://github.com/pester/Pester/wiki and then you can look what I did for xExchAccept

[2019-11-02 14:34] johlju commented on #426
Yes, I agree with @PlagueHO having one resource per PR is big enough to review 😉 Although if they share a common code between them (common helper functions), then it is also best to review one at a time so second PR can be rebased and thus having less code to review.

[2019-11-13 22:23] #412 closed

[2019-11-13 22:23] #426 closed

[2019-11-22 20:56] SSvilen commented on #194
That one can be closed. Fixed as part of PR #427

[2019-11-25 15:38] mhendric commented on #194
Thanks @SSvilen , so it can.

[2019-11-25 15:38] #194 closed

[2019-12-05 23:15] arielmoisis commented on #257
Hey I can grab this one if you like.

[2019-12-06 20:42] mhendric commented on #257
I would like that very much :). It's all yours.

[2019-12-14 08:53] SSvilen opened #440 "xExchange: Move the module to automatic release"
Hi @mhendric ,

I confirmed with @johlju, that the old method of delivering the DSC modules is not decommissioned. So in order to realse the changes made in the couple if months, the module has to be moved to the new automated release. (described [here](https://gist.github.com/johlju/2ad77aa574aa07d3e9953fe86007731c))

I'm willing to do that transition, as I want to gather some experience with Azu

[2019-12-16 16:16] mhendric commented on #440
Hey SSvilen, that would be awesome. Thanks for volunteering!

[2019-12-16 16:45] johlju commented on #440
Updated steps here https://gist.github.com/johlju/2ad77aa574aa07d3e9953fe86007731c

They are not complete just yet but I got xFailOverCluster through the CI so tomorrow I will look at the final steps.

[2019-12-18 20:01] #403 closed

[2020-01-06 01:24] mhendric commented on #440
Hey @SSvilen , I think I'm going to have to do at least some of the steps in (https://dsccommunity.org/blog/convert-a-module-for-continuous-delivery/), specifically the release related stuff that requires admin rights on the repo. You should still be able to submit a PR with most of the changes once you're ready though. I'll try to get the releases in order sometime this week.

[2020-01-06 10:41] SSvilen commented on #440
Hi @mhendric ,

So far ware only the tags the problem. They are now ok on my branch, but I don't know what will happen during the merge.
I'm right now getting the Unit and Integration Tests  to work and then will do a test pipeline with my Azure DevOps org. Then I'll open the PR, because the steps afterwards require admin access.

[2020-01-06 10:50] johlju commented on #440
The critical point is when the dev branch is merged into master, after dev branch has been rebased with the master branch. @SSvilen if you ignoring any commits (on date) that are in the master branch then you should be okay I think.

[2020-01-06 10:55] johlju commented on #440
The problem is if it detects a commit without a correct tag, and that commit has any of this in the commit title or description `'\s?(breaking|major|breaking\schange)'` (from the file `GitVersion.yml`). But ignoring commits older than a specific date, or ignoring specific commit SHAs helped me avoid this.

But I had to stop (cancel) the pipeline in one case, because I missed that it raised the maj